{% load i18n static %}

<div class="pure-menu pure-menu-horizontal">
    <div class="wrap footer-menu">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="{% url 'voters:page-detail' slug='about-evotum' %}" class="pure-menu-link">{% trans 'About eVotUM' %}</a></li>
        </ul>
    </div>
</div>
<div class="wrap">
    <p class="copyright">&copy; {% trans 'University of Minho' %} - {% now 'Y' %}</p>
</div>
