{% load i18n static thumbnail core_tags %}

<div class="site-top">
    <div class="pure-menu pure-menu-horizontal wrap">
        {% if request.user.is_authenticated %}

            <ul class="pure-menu-list pull-left">
                <li class="pure-menu-item choose-language">
                    {% get_available_languages as languages %}
                    <form class="pure-form" action="{% url 'set_language' %}" method="POST" data-submit-onchange>
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path|strip_lang_prefix }}" />
                        <select name="language" class="pure-select" data-style-select>
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
                {# Current date element placeholder (undecided for now) #}
                <!-- <li class="pure-menu-item">
                    <p class="pure-menu-info" >Current date</p>
                </li> -->
            </ul>


            <nav class="pull-right">
                <ul class="pure-menu-list pull-right">
                    <li class="pure-menu-item">
                        <p class="pure-menu-info" ><em>{% trans 'Last login: ' %}{{ request.user.last_login }}</em></p>
                    </li>
                    <li class="pure-menu-item"><span class="pure-menu-link-icon user">{% trans 'Administrator' %}</span></li>
                    <li class="pure-menu-item">
                        <a href="{{LOGOUT_URL}}" {% if ADFS_WSFED %}data-ajax-logout data-after-logout="{{LOGIN_URL}}"{% endif %}
                           class="pure-button pure-button-primary logout-button">{% trans 'Logout' %}</a>
                    </li>
                </ul>
            </nav>
        {% else %}
            <a href="{% url 'evoteadmin:index' %}" class="pure-menu-logo"><img alt="{% trans 'eVotum' %}" src="{% static 'images/logo-evotum-white.png' %}"></a>
        {% endif %}
    </div>

    {% if request.user.is_authenticated %}
        <div class="sub-header">
            <div class="pure-menu pure-menu-horizontal wrap">
                <ul class="pure-menu-list pull-left">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">{{ title }}</a></li>
                </ul>
            </div>
        </div>
    {% endif %}

</div>
