{% load i18n static %}

<div class="pure-menu pure-menu-horizontal">
    <div class="wrap footer-menu">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="{% url 'voters:page-detail' slug='about-evotum' %}" class="pure-menu-link">{% trans 'About eVotUM' %}</a></li>
            <li class="pure-menu-item"><a href="{% url 'voters:page-detail' slug='frequent-questions' %}" class="pure-menu-link">{% trans 'Frequently asked questions' %}</a></li>
            <li class="pure-menu-item"><a href="{% url 'voters:page-detail' slug='information-and-security-policy' %}" class="pure-menu-link">{% trans 'Information and security policy' %}</a></li>
            <li class="pure-menu-item"><a href="{% url 'voters:page-detail' slug='privacy-policy' %}" class="pure-menu-link">{% trans 'Privacy policy' %}</a></li>
            <li class="pure-menu-item"><a href="{% url 'voters:page-detail' slug='terms-of-use' %}" class="pure-menu-link">{% trans 'Terms of use' %}</a></li>
            <li class="pure-menu-item"><a href="{% url 'voters:page-detail' slug='sitemap' %}" class="pure-menu-link">{% trans 'Sitemap' %}</a></li>
            <li class="pure-menu-item"><a href="{% url 'voters:contacts' %}" class="pure-menu-link">{% trans 'Contacts' %}</a></li>
        </ul>
    </div>
</div>
<div class="wrap">
    <p class="copyright">
        <span>&copy; {% trans 'University of Minho' %} - {% now 'Y' %}</span>
        <img src="{% static 'images/feei.png' %}" alt="COMPETE 2020" height="80px">
    </p>
</div>
