{% load i18n static %}

<div class="modal" data-remodal-id="modalPartials">
    <img class="remodal-logo" alt="eVotUM" src="{% static 'images/logo-evotum-window.png' %}" >
    <a href="" data-remodal-action="close" class="remodal-close">
        <div>{% trans 'Close' %}</div>
    </a>
    <div class="remodal-content">{% trans 'Loading...' %}</div>
</div>

<div class="modal remodal" data-remodal-id="modalConfirmOP">
    <img class="remodal-logo" alt="eVotUM" src="{% static 'images/logo-evotum-window.png' %}" >
    <a href="" data-remodal-action="close" class="remodal-close">
        <div>{% trans 'Close' %}</div>
    </a>
    <div class="remodal-content">
        <div class="pure-g">
            <div class="pure-u-1 remodal-body">
                <h2>{% trans 'Confirm your action' %}</h2>
                {% trans 'Are you sure you want to execute this operation?' %}
            </div>
            <div class="pure-u-1 remodal-actions">
                <button data-remodal-action="confirm" class="remodal-confirm pure-button pure-button-primary pure-button-smooth pull-right">{% trans 'Yes' %}</button>
                <button data-remodal-action="cancel" class="remodal-confirm pure-button pure-button-primary pure-button-smooth pull-left">{% trans 'No' %}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal remodal" data-remodal-id="modalConfirmVoteExit">
    <img class="remodal-logo" alt="eVotUM" src="{% static 'images/logo-evotum-window.png' %}" >
    <a href="" data-remodal-action="close" class="remodal-close">
        <div>{% trans 'Close' %}</div>
    </a>
    <div class="remodal-content">
        <div class="pure-g">
            <div class="pure-u-1 remodal-body">
                <h2>{% trans 'Confirm your action' %}</h2>
                {% trans 'The voting process will be interrupted and the vote will not be counted. You can vote after changing the data. Want to proceed?' %}
            </div>
            <div class="pure-u-1 remodal-actions">
                <button data-remodal-action="confirm" class="remodal-confirm pure-button pure-button-primary pure-button-smooth pull-right">{% trans 'Yes' %}</button>
                <button data-remodal-action="cancel" class="remodal-confirm pure-button pure-button-primary pure-button-smooth pull-left">{% trans 'Cancel' %}</button>
            </div>
        </div>
    </div>
</div>
