{% load i18n static thumbnail core_tags %}

<div class="site-top">
    <div class="pure-menu pure-menu-horizontal wrap">
        <a href="https://www.uminho.pt/" target="_blank" class="pure-menu-heading pull-left"><img alt="{% trans 'Minho\'s University' %}" src="{% static 'images/logo-um.png' %}"></a>
        <nav class="pull-right">
            <ul class="pure-menu-list pull-right">
                <li class="pure-menu-item"><a href="#" data-type="menu" data-menu="settings" class="pure-menu-link-icon" title="{% trans 'Settings' %}"><i class="ev-icon evi-m-setup"></i></a></li>
                <li class="pure-menu-item"><a href="#" data-type="menu" data-menu="search" class="pure-menu-link-icon" title="{% trans 'Search' %}"><i class="ev-icon evi-m-search"></i></a></li>
                <li class="pure-menu-item"><a href="{% url 'voters:page-detail' slug='frequent-questions' %}" class="pure-menu-link-icon" title="{% trans 'FAQs' %}"><i class="ev-icon evi-m-faq"></i></a></li>
                <li class="pure-menu-item">
                    <form class="pure-form" action="{% url 'set_language' %}" method="POST">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.get_full_path|strip_lang_prefix }}" />
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            {% if language.code != LANGUAGE_CODE %}
                                <input name="language" value="{{ language.code }}" type="hidden" />
                                <input class="pure-menu-link-icon link-button" type="submit" value="{{ language.code }}" />
                            {% endif %}
                        {% endfor %}
                    </form>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="pure-menu-item">
                        <a href="{% url 'voters:personal-data' %}" class="profile-info">
                            <span class="profile-photo">
                                {% thumbnail request.user.photo "46x46" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{request.user.name|default:request.user.email}}">
                                {% endthumbnail %}
                            </span>
                            {{request.user.name|default:request.user.email}}
                        </a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="{{LOGOUT_URL}}" {% if ADFS_WSFED %}data-ajax-logout data-after-logout="{% url 'evotecore:index' %}"{% endif %}
                           class="pure-button pure-button-primary logout-button">{% trans 'Logout' %}</a>
                    </li>
                {% else %}
                    <li class="pure-menu-item"><a href="{% if ADFS_WSFED %}{% url 'adfsauth:ws-fed-signin' %}{% else %}{{LOGIN_URL}}{% endif %}" class="pure-button pure-button-primary"><i class="ev-icon evi-m-avatar"></i>{% trans 'Authentication' %}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

<ul data-menu="search" class="pure-menu-children">
    <li class="wrap pure-menu-item cf">
        <a class="close-menu" href="#"><i class="ev-icon evi-close"></i></a>
        <div class="menu-wrapper menu-search">
            <form class="pure-form" id="search" action="{% url 'voters:search' %}" method="GET">
                <div class="pure-field light-field">
                    <input type="text" placeholder="{% trans 'Insert the search term' %}" value="" name="q">
                </div>
                <input type="submit" value="{% trans 'Submit' %}">
            </form>
        </div>
    </li>
</ul>

<ul data-menu="settings" class="pure-menu-children">
    <li class="wrap pure-menu-item cf">
        <a class="close-menu" href="#"><i class="ev-icon evi-close"></i></a>
        <div class="menu-wrapper menu-settings">
            <div class="settings-title">{% trans 'Settings:' %}</div>
            <div class="settings-option">
                <div class="box-title">{% trans 'Select font size:' %}</div>
                <div data-box="text" class="box-font box-normal selected"><div>{% trans 'Normal' %}</div></div>
                <div data-box="text" class="box-font box-large"><div>{% trans 'Large' %}</div></div>
            </div>
                <div class="settings-option">
                <div class="box-title">{% trans 'Select color:' %}</div>
                <div data-box="color" class="box-color box-color1 selected"><div></div></div>
                <div data-box="color" class="box-color box-color2"><div></div></div>
            </div>
        </div>
    </li>
</ul>
