{% load i18n static core_tags messages_tags %}

<div class="sub-header">
    <div class="pure-menu pure-menu-horizontal wrap">
        <a href="{% url 'evotecore:index' %}" class="sub-header-logo pull-left"><img alt="eVotUM" src="{% static 'images/logo-evotum-white.png' %}"></a>
        <ul class="pure-menu-list pull-right">
            {% if user.is_authenticated %}
                <li class="pure-menu-item"><a href="{% url 'voters:electoralprocess-list' %}" class="pure-menu-link{% if selected_menu == 0 %} selected{% endif %}">{% trans 'My electoral processes' %}</a></li>
                <li class="pure-menu-item"><a href="{% url 'voters:personal-data' %}" class="pure-menu-link{% if selected_menu == 3 %} selected{% endif %}">{% trans 'Personal data' %}</a></li>
                <li class="pure-menu-item"><a href="{% url 'voters:messages-received' %}" class="pure-menu-link{% if selected_menu == 4 %} selected{% endif %}">{% trans 'Messages' %} ({% inbox_unread_count 'voters' %})</a></li>
                <li class="pure-menu-item"><a href="{% url 'voters:election-history' %}" class="pure-menu-link{% if selected_menu == 5 %} selected{% endif %}">{% trans 'History' %}</a></li>
            {% else %}
                <li class="pure-menu-item"><a href="{% url 'voters:electoralprocess-list' %}" class="pure-menu-link{% if selected_menu == 0 %} selected{% endif %}">{% trans 'Electoral processes' %}</a></li>
                <li class="pure-menu-item"><a href="{% url 'voters:howitworks' %}" class="pure-menu-link{% if selected_menu == 1 %} selected{% endif %}">{% trans 'How does it work' %}</a></li>
                <li class="pure-menu-item"><a href="{% url 'voters:contacts' %}" class="pure-menu-link{% if selected_menu == 2 %} selected{% endif %}">{% trans 'Contacts' %}</a></li>
            {% endif %}
        </ul>
    </div>
</div>
