{% extends 'base.html' %}

{% load static i18n core_tags %}

{% block googleanalytics %}{% endblock googleanalytics %}


{% block bodyextraclass %}evoteadmin{% endblock bodyextraclass %}


{% block breadcrumbs_wrapper %}
{% endblock breadcrumbs_wrapper %}

{% block header %}
    <header class="site-header">
        {% include 'evoteadmin/includes/topbar.html' %}
    </header>
{% endblock header %}

{% block alertmessages %}{% endblock alertmessages %}


{% block container %}
    <div class="side-menu">
        <a href="https://www.uminho.pt/" target="_blank" class="logo"><img alt="{% trans 'University of Minho' %}" src="{% static 'images/logo-um.png' %}"></a>
        <div class="pure-g sub-item">
            <a href="{% url 'evoteadmin:index' %}"><img alt="{% trans 'eVotum' %}" src="{% static 'images/logo-evotum-white.png' %}"></a>
        </div>
        <p class="sub-item">
            <a href="{% url 'evoteadmin:page-list' %}">{% trans 'Administration System' %}</a>
        </p>
        <div class="sub-item pure-menu">
            <ul class="pure-menu-list">
                <li class="pure-menu-item{% if selected_menu == 6 %} pure-menu-selected{% endif %}">
                    <a href="{% url 'evoteadmin:page-list' %}" class="pure-menu-link ">{% trans 'Page Management' %}</a>
                </li>
                <li class="pure-menu-item{% if selected_menu == 7 %} pure-menu-selected{% endif %}">
                    <a href="{% url 'evoteadmin:secretentry' %}" class="pure-menu-link">{% trans 'Certificate Upload' %}</a></a>
                </li>
                <li class="pure-menu-item{% if selected_menu == 8 %} pure-menu-selected{% endif %}">
                    <a href="#" class="pure-menu-link">{% trans 'Monitoring Panel' %}</a></a>
                </li>
            </ul>
        </div>
    </div>

    <main class="wrap">
        {% block admin_container %}

        {% endblock admin_container %}
    </main>

{% endblock container %}


{% block footer %}
    <footer class="site-footer">
        <div class="wrap">
            <p class="copyright">
                <span>&copy; {% trans 'University of Minho' %} - {% now 'Y' %}</span>
                <img src="{% static 'images/feei.png' %}" alt="COMPETE 2020" height="80px">
            </p>
        </div>
    </footer>
{% endblock footer %}


{% block extrajs %}
    <script type="text/javascript" src="{% static 'javascript-settings.js' %}"></script>
{% endblock extrajs %}
