{% extends "evoteadmin/base.html" %}

{% load form_tags i18n %}

{% block container %}
    <main class="wrap login-page">
        <div class="login-box pure-form">
            <h1>{% trans 'Authentication' %}</h1>
            {% if ADFS_WSFED %}
                <a href="{% url 'adfsauth:ws-fed-signin' %}" class="pure-button pure-button-primary pure-button-smooth">{% trans 'Login' %}</a>
            {% else %}
                <form action="" method="POST" novalidate autocomplete="off" data-areyousure-off>
                    {% csrf_token %}
                    {% prepare_field form.username "fi-avatar" True %}
                    {% prepare_field form.password "fi-lock" True %}
                    <input class="pure-button pure-button-primary pure-button-smooth" type="submit" value="Login" />
                </form>
            {% endif %}
        </div>
    </main>
{% endblock container %}
