{% extends "evoteadmin/base.html" %}

{% load i18n static form_tags core_tags %}


{% block admin_container %}

        <div class="pure-g pure-gutter pure-title-row">
            <div class="pure-u-1 pure-u-md-1-2">
                <h1>{{object.title}}</h1>
            </div>
        </div>

        <!-- Page content goes here. Since it is html we are using the "safe" tag to output raw content -->
        {{object.body | safe}}

        <hr>
        <a class="pure-button pure-button-primary pull-left" href="{% url 'evoteadmin:page-list' %}">{% trans 'Back' %}</a>

{% endblock admin_container %}
