
{% extends "evoteadmin/base.html" %}
{% load i18n static thumbnail form_tags %}


{% block admin_container %}
    <form action="" method="post" class="pure-form" novalidate>
        <div class="pure-panel">

            {% csrf_token %}
            <div class="pure-body full-row vertical-space">
                <div class="pure-g pure-gutter">
                    <div class="pure-u-1-2 pure-field">
                        {% prepare_field form.title_pt use_label=1  %}
                    </div>
                    <div class="pure-u-1-2 pure-field">
                        {% prepare_field form.title_en use_label=1 %}
                    </div>
                </div>
                <div class="pure-g pure-gutter">
                    <div class="pure-u-1-2 pure-field tinymce-field">
                        {% prepare_field form.body_pt use_label=1 %}
                    </div>
                    <div class="pure-u-1-2 pure-field tinymce-field">
                        {% prepare_field form.body_en use_label=1 %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-gutter">
            <a href="{% url 'evoteadmin:page-list' %}" class="pure-button pure-button-secondary pure-button-back pull-left">{% trans 'Back' %}</a>
            <button type="submit" class="pure-button pure-button-primary">{% trans 'Update' %}</button>
        </div>
    </form>
{% endblock admin_container %}

{% block extrajs %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'evoteadmin/js/tinymce-main.js' %}"></script>
{% endblock extrajs %}
