{% extends "evoteadmin/base.html" %}
{% load i18n static thumbnail django_tables2 form_tags %}


{% block admin_container %}
    <div class="clear"></div>
    <form action="" method="GET" class="pure-form">
        <div class="pure-field fi-icon search-field">
            {{ filter.form.title }}
        </div>
    </form>
    {% render_table table %}
{% endblock admin_container %}
