{% extends "evoteadmin/base.html" %}
{% load i18n static form_tags admin_tags %}

{% block admin_container %}

    <form action="" method="post" class="pure-form" enctype="multipart/form-data" novalidate data-ajax-submit>
        <div class="pure-panel">

            {% csrf_token %}
            <div class="pure-body full-row vertical-space">
                {{ form.management_form }}
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>
                                {% trans 'Identifier' %}
                            </th>
                            <th>
                                {% trans 'Uploaded?' %}
                            </th>
                            <th>
                                {% trans 'Upload' %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for secret_entry in form %}

                            {# These are needed (but not modifiable) hidden fields #}
                            {{ secret_entry.identifier.as_hidden }}
                            {{ secret_entry.id.as_hidden }}
                            <tr>
                                <td>
                                    {% certificate_identifier secret_entry.identifier.value %}
                                </td>
                                <td>
                                    {% if secret_entry.instance.is_valid %}
                                        <div class="sprite-div-success">
                                            <!-- Success or Error icon is placed via css class -->
                                        </div>
                                    {% else %}
                                        <div class="sprite-div-error">
                                            <!-- Success or Error icon is placed via css class -->
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    {% prepare_field secret_entry.document %}
                                    {% is_private_key secret_entry.identifier.value as private_key %}
                                    {% if private_key %}
                                        {% prepare_field secret_entry.password %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pure-gutter">
            <a href="{% url 'evoteadmin:page-list' %}" class="pure-button pure-button-secondary pure-button-back pull-left">{% trans 'Back' %}</a>
            <button type="submit" class="pure-button pure-button-primary">{% trans 'Update' %}</button>
        </div>
    </form>

{% endblock %}
