{% extends "evoteadmin/base.html" %}
{% load i18n %}


{% block breadcrumbs_wrapper %}{% endblock breadcrumbs_wrapper %}


{% block container %}
    <main class="wrap signin_fail">
        <h1>{% trans 'Insufficient privileges' %}</h1>
        <div class="pure-help signin-fail-msg">
            <i class="ev-icon evi-help"></i>
            {% trans 'Insufficient privileges to access this area.' %}<br/>
            {% trans 'Only users with Administrator role can access this area.' %}
        </div>
        <a href="{{LOGOUT_URL}}" data-ajax-logout data-after-logout="{{LOGIN_URL}}"
           class="pure-button pure-button-primary pure-button-smooth">{% trans 'Logout' %}</a>
    </main>
{% endblock container %}
