{% load i18n static %}

<div class="pure-g">
    <div class="pure-u-1">
        <form action="{{idp_addr}}" method="post" enctype="application/xml">
            {{form}}
            <div class="candidate-box gov-auth">
                {% if logo %}
                    <img alt="{% trans 'gov.pt Authentication' %}" src="{% static 'images/autentication-gov-pt.png' %}" width="204" height="53">
                    {% endif %}
                <button type="submit" class="{{classes}}">{{submittext}}</button>
            </div>
        </form>
    </div>
</div>
