/*
 * contacts page styles
 */
.contacts {

    h1 {
        margin-bottom: 29px;
    }
    .pure-description {
        margin-bottom: 25px;
    }
    label.captcha {
        margin-bottom: 7px;
        text-transform: uppercase;
    }
    .contacts-info {
        margin-bottom: 25px;

        .pure-description {
            margin-bottom: 32px;
        }
        .contact-line {
            margin-bottom: 10px;
        }
    }
    #contacts-map {
        width: 100%;
        height: 300px;
    }
}
