/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Electoral Process voting page styles
 *
 *****************************************************************/

.electoralprocess-voting {

    .elections {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

 .election-box {
    border: 1px solid $tab-acc;
    width: 382px;
    height: 392px;
    position: relative;
    font-size: calc-font-size(14px);
    float: left;
    margin-bottom: 20px;
    padding: 30px 40px 75px;

    &:nth-child(3n+2) {
        margin-left: 20px;
        margin-right: 20px;
    }

    &.disabled {
        color: $btn-inactive-color;

        h3, h4, label {
            color: $btn-inactive-color;
        }
    }

    h3 {
        color: $txt-color;
        border-bottom: 1px solid $tab-acc;
        font-family: $roboto-medium;
        font-weight: normal;
        font-size: calc-font-size(17px);
        margin: 0 0 11px;
        padding-bottom: 20px;
    }
    h4 {
        font-weight: normal;
        color: $frm-input-label;
        margin: 0 0 6px;
    }

    .description {
        border-bottom: 1px solid $tab-acc;
        font-size: calc-font-size(15px);
        margin-bottom: 14px;
        padding: 0 6px 12px;
    }

    label {
        color: $frm-input-label;
        margin-right: 5px;

    }
    .date {
        margin-bottom: 7px;
    }
    .pure-button {
        position: absolute;
        bottom: 25px;
        right: 40px;
        left: 40px;
    }
 }

.voting-navigation {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.candidate-box {
    border: 1px solid $tab-acc;
    @include border-radius(5px);
    height: 87px;
    margin-bottom: 10px;
    overflow: hidden;

    &[data-vote-option] {
        cursor: pointer;
    }

    &.selected {
        background-color: $alert-dk-info;
        color: $btn-color;
    }

    &.disabled {
        border-color: $btn-inactive-bg;
        color: $btn-inactive-color;

        .pure-checkbox > input + span {
            border-color: $btn-inactive-bg;
        }
    }

    .candidate-logo {
        background-color: $btn-color;
        float: left;
        margin-right: 85px;
    }

    .candidate-designation {
        height: 87px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        float: left;
        width: 680px;
    }

    .pure-checkbox {
        float: right;

        &.no-selectable {
            & > input + span {
                cursor: auto;
            }
        }
        & > input + span {
            border-color: $tab-acc;
            margin-right: 13px;
            height: 60px;
            width: 60px;
        }
        & > input:checked + span {
            background-image: none;
        }
        & > input:checked + span:after,
        & > input:checked + span:before {
            content: '';
            position: absolute;
            border: 0.5px solid $tab-acc;
            width: 52px;
            top: 28px;
            left: 2px;
        }
        & > input:checked + span:before {
            @include transform(rotate(45deg));

        }
        & > input:checked + span:after {
            @include transform(rotate(-45deg));
        }
    }
}

.voting-step1 {

    .pure-form {
        margin-bottom: 60px;
    }
}

.voting-step2 {

    .click-vote {
        margin-top: 30px;
    }
    .voting-action {
        margin: 67px auto 0;
        text-align: center;
    }
    .voting-navigation {
        right: auto;
    }
    .selected-votes {
        min-height: 97px;
    }
    .candidate-box {
        display: none;
    }
}

.voting-step3 {

    .shorter-column {
        max-width: 150px;
    }
    .pin-type {
        height: 105px;

        .pure-form {
            margin-top: 26px;
        }
        .pure-button {
            margin-top: -4px;
        }
    }

    .personaldata {
        text-align: center;
        margin-top: 10px;

        a {
            font-family: $roboto-medium;
        }
    }
}

.voting-step3-pin {

    .pin-box {
        margin-top: 25px;
        margin-bottom: 110px;

        .pure-form {
            margin-top: 26px;

            label {
                text-align: right;
            }
        }

        .pure-button {
            margin: -4px;
        }
    }
    .voting-action {
        text-align: center;
    }
}

.voting-step4 {
    .pure-window-close {
        display: none!important;
    }

    .sub-title {
        font-family: $roboto-light;
        font-size: calc-font-size(18px);
        text-align: center;
        margin: 10px 0 15px;
    }
    .pure-info {
        padding-top: 29px;
        padding-bottom: 29px;
    }
    .voting-action {
        margin-top: 60px;
        text-align: center;
    }
}

.roll-search-voter {
    .search-form {
        .pure-form {
            margin-bottom: 42px;
        }
    }
}
