/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Election search vote reference
 *
 *****************************************************************/

.election-search-vote {

    .reference-list-title {
        color: $hd-scnd-color;
        line-height: 61px;
        padding: 0 60px;
        border-top: 1px solid $th-color;
        border-bottom: 1px solid $th-color;
    }

    .reference-list {
        list-style: none;
        padding: 0;

        li {
            color: $hd-block-bg;
            line-height: 67px;
            padding: 0 60px;

            &:nth-child(odd) {
                background-color: $tbl-drk-strip;
            }
        }
    }
}
