/******************************************************************
 * Site Name: eVote
 * Author: Paulo Truta
 *
 * Stylesheet: Admin area specific styles
 *
 *****************************************************************/

body.evoteadmin {

    .wrap{
        margin-left: 360px;
        width: calc(100% - 360px);
    }
    main.wrap {
        min-height: calc(100% - 185px);
    }

    header.site-header {

        .site-top{
            // height: 60px;
            .pure-menu {
                .pure-menu-logo {
                    position: absolute;
                    left: 48%;
                    transform: translate(-48%, 100%);
                    // For 60px height .site-top (See comment above)
                    // transform: translate(-48%, 75%);
                }
                .pure-menu-item{
                    .pure-menu-link-icon {
                        border-left: none;
                    }
                    .pure-menu-info{
                        margin-top: 25px;
                        margin-left: 20px;
                        margin-right: 20px;
                        font-size: 14px;
                    }
                }

                .pure-menu-list .choose-language {
                    padding-top: 18px;
                    width: 210px;

                    // The select2.js selectors are responsible for delegating the correct background and main text color.
                    .select2-container--default .select2-selection--single {
                        background-color: transparent;
                    }
                    .select2-container--default .select2-selection--single .select2-selection__rendered {
                        color: $white;
                    }
                }
            }

            .sub-header {
                background: none;
                background-color: $admin-sub-menu-bg;

                .pure-menu-link{
                    border-bottom: 4px solid $admin-sub-menu-text;
                    color: $admin-sub-menu-text;
                    padding: 6px 0 7px;
                    margin: 12px 40px 0 0px;
                }
            }
        }
    }

    .side-menu {
        background-color: $dark-bg;
        top: 0;
        bottom: 0;
        left: 0;
        padding-left: 20px;
        width:340px;
        position:fixed;
        height:100%;

        .logo img{
            margin-top: 5px;
        }
        .sub-item{
            margin-top: 30px;
            color: $white;

            a {
                text-decoration: none;
                color: $white;
            }

            .pure-menu-list .pure-menu-item {

                border-bottom: 1px inset $white;
                margin-right: 20px;
                &:first-child{
                    border-top: 1px inset $white;
                }

                &:hover .pure-menu-link,
                &.pure-menu-selected .pure-menu-link {
                    color: $evote-default;
                    background-color: $admin-menu-bg;
                }

                &.pure-menu-selected {
                    border: none;
                }

                .pure-menu-link{
                    color: $white;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    margin-right: -20px;

                    &:hover {
                        border-top: none;
                        border-bottom: none;
                    }

                }
            }
        }
    }

    .main-content{
        padding-left: 20px;
    }

    .institutionalpage-list tbody tr{
        height: 100px;
        .title span {
            color: grey;
            a{
                color: grey;
                text-decoration: none;
            }
        }
    }

    .site-footer{
        padding-top: 1px;
        padding-bottom: 1px;
        background-color: $admin-footer-bg;
    }

    .search-field:before {
        background: url($sprite_path) -30px -600px no-repeat;
    }

    .tinymce-field {
        margin-bottom: 0px;
    }

    .mce-panel {
        width: 100% !important;
    }

    .pure-button-back {
        margin-right: 15px;
    }

    .sprite-div-success {
        background: url($sprite_path);
        background-position: 0 -450px;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
    }
    .sprite-div-error {
        background: url($sprite_path);
        background-position: -30px -450px;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
    }

    .certificate-form {
        margin-top: 15px;
        .clearablefileinput{
            margin-top: 25px;
        }
    }
}
