/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Homepage styles
 *
 *****************************************************************/

.homepage {
    background: transparent url('/static/images/hp-bg.jpg') center top repeat-x;

    header.site-header {
        margin-bottom: 0;
        height: 100px;

        .site-top {
            height: 100%;
        }

        .pure-menu {

            nav {
                position: relative;
                top: 50%;
                @include transform(translateY(-50%));
            }
            .selected-menu {
                top: -12px;
            }
            .pure-menu-heading img {
                width: 126px;
                height: 81px;
            }
            .pure-menu-link-icon {
                margin-top: 10px;
            }
            .pure-button {
                padding-top: 9px;
                padding-bottom: 9px;
            }
            .profile-info {
                line-height: 60px;
            }
        }
        .pure-menu-children {
            top: 100px;
        }
    }

    .globalalert {
        margin-top: 0;
    }

    .globalalert + main {
        min-height: 611px;
    }

    main {
        min-height: 676px;
        margin-bottom: 0;
        color: $btn-color;

        .evotum-logo {
            margin-top: 70px;
            color: $btn-color;
            text-decoration: none;

            p {
                margin: 7px 0 0;
            }
        }
        .description {
            margin: 77px 55px 0 0;
            line-height: 2.3em;
            font-size: calc-font-size(16px);
        }
        .sub-header {
            background-image: none;
            height: auto;
            margin-top: 81px;

            .pure-menu-link {
                font-size: calc-font-size(17px);
                margin: 27px;
            }
        }
        .large-buttons {
            margin-top: 144px;

            .first-button {
                margin-right: 70px;
            }
        }
    }
}
.access-text.homepage header.site-header div.pure-menu .selected-menu {
    top: -10px;
}
