
/*
 * howitworks page styles
 */
.howitworks {

    background-color: #E4EAF1;

    .wrap {

        margin-bottom: 5px !important;

        .title {
            margin-top: 30px;
        }

        .pure-g {
            margin-top: 30px;
        }

        .pure-description {
            margin-bottom: 25px;
        }
        .info-containers{

            padding-left: 135px;

            .info-container {

                margin-bottom: 20px;

                .info-content{

                    dt.info-title {
                       text-decoration: uppercase;
                       margin: 0;

                        h1 {
                            margin: 0;
                            margin-bottom: 5px;
                            font-weight: bold;
                        }
                    }
                }

                &.info-button {
                    margin-bottom: 43px;
                    margin-top: 0;
                }
            }
        }

        .left-pic img {
            position: absolute;
            z-index: -999;
        }

    }
}
