/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Login Styles
 *
 *****************************************************************/

.login-page {
    h1 {
        margin-bottom: 55px;
    }
}

 .login-box {
    width: 340px;
    padding: 28px 0;

    .pure-button {
        padding: 19px 3px;
        width: 100%;
    }
 }

 .signin_fail {
    h1 {
        margin: 55px 0;
    }
    .signin-fail-msg {
        margin-bottom: 55px;
    }
 }
