/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Management area specific styles
 *
 *****************************************************************/

body.management {

    // header
    header.site-header {

        .site-top .pure-menu {
            & > span {
                font-size: 14px;
                margin-left: 62px;
                height: 75px;
                line-height: 75px;
                float: left;
            }
            .pure-menu-item {
                margin-left: 17px;
            }

            .pure-button {
                padding-right: 18px;
                padding-left: 18px;
                min-width: auto;
            }
        }

        .sub-header {
            background: #e4eaf1;

            .pure-menu .pure-menu-list:not(.pull-right) .choose-language {
                height: 60px;
                line-height: 60px;
                margin-left: 58px;
                width: 210px;
            }
            .pure-menu-link {
                color: #7f96b8;
            }
            .pure-menu-link:hover,
            .pure-menu-link.selected {
                color: $evote-default;
                border-color: $evote-default;
            }

            .pure-menu-horizontal {

                .pure-menu-list {
                    display: block;
                }

            }
        }
    }

    main.wrap.login-page {
        min-height: calc(100% - 303px);
    }
}

body.management.election-list {

    table.pure-table tr {
        .operations_panel,
        .configs,
        .calendar,
        .categories,
        .electoral_rolls,
        .candidates,
        .bulletin {
            text-align: center;
        }

        td.configs,
        td.calendar,
        td.categories,
        td.electoral_rolls,
        td.candidates,
        td.bulletin {
            vertical-align: top;
            color: #888888;

            a {
                text-decoration: none;
            }
        }
    }

    .pure-panel.legend {
        padding: 15px 28px;
        text-align: right;
        background-color: #fff;
        border: 1px solid #e4eaf1;
        font-family: $roboto-light;
        font-size: 13px;

        div {
            margin-left: 38px;
            vertical-align: middle;
            line-height: 24px;
            display: inline-block;
        }
        div > span {
            display: inline-block;
            vertical-align: middle;
        }
        .ev-icon {
            height: 24px;
            width: 24px;
            border-width: 2px;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

body.management.elecprocess-detail,
body.management.election-detail {
    .pure-sub {
        padding: 0 30px;
    }

    .pure-table {
        .table-opt {
            width: 115px;
        }
        .col-doc {
            padding-left: 0;
            padding-right: 0;
        }
        .col-logo {
            width: 84px;
            padding: 0;

            [data-upload] {
                width: 84px;
                height: 84px;
                background-color: #ddd;
                position: relative;
            }
            [data-upload] i {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -15px;
                margin-left: -15px;
            }
        }
        & i {
            margin:0;
        }
        .col-move {
            width: 55px;
            color: #a7b7cf;
        }

        .pure-table {
            th {
                padding-top: 0;
                padding-bottom: 0;
            }
            td {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .col-doc-designation {
                width: 215px;
            }
            .col-opt {
                padding-right: 0;
                padding-left: 0;
            }
            .col-move {
                width: 40px;
                padding-top: 12px;
                padding-right: 0;
            }
        }
    }

    .pure-field.radioselect {
        .radio-list,
        .radio-dropdown {
            position: relative;
            right: 0;
        }
        .radio-list {
            padding-right: 35px;
            margin-right: 50px;
        }
        .radio-dropdown {
            padding-right: 65px;
        }
        .radio-list:after,
        .radio-dropdown:after {
            right: 0;
            bottom: -2px;
            content: '';
            position: absolute;
            display: inline-block;
            background-color: transparent;
            background-image: url($sprite_path);
            background-repeat: no-repeat;
        }
        .radio-list:after {
            width: 25px;
            height: 19px;
            background-position: -150px -540px;
        }
        .radio-dropdown:after {
            width: 54px;
            height: 18px;
            background-position: -150px -511px;
        }
    }
    .pure-panel {
        label {
            white-space: normal;
        }
    }
    .pure-form #field_id_hondt_total_seats {
        margin-top: 8px;
    }
}


body.management.election-manage {

    .manage-count-title {
        font-size: 15px;
        text-align: center;
        font-weight: normal;
        margin-bottom: 15px;
    }
    .manage-count {
        @include border-radius(3px);
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
        background-color: #eeeeee;
        padding: 15px 15px 12px 15px;
        font-family: $roboto-medium;
    }

    .table-limited {
        height: 300px;
        overflow-y: auto;
    }

    .manage-scrutiny {
        margin: 0 auto;
        padding: 0;
        display: block;
        width: 50%;
        list-style: none;
        position: relative;
        font-family: $roboto-light;

        & > li:not([data-scrutiny-error]) {
            @include transition(all 400ms linear);
            @include opacity(0.6);
            display: block;
            padding: 10px 20px;
            text-transform: uppercase;
            border-bottom: 3px solid white;
        }
        & > li:last-child {
            border-bottom: none;
        }
        & > li.scrutiny-working {
            @include opacity(1);
        }
        & > li > .scrutiny-text {
            text-transform: none;
            float: right;
        }
        & > li.scrutiny-working > .scrutiny-text {
            animation: blinker 1.5s linear infinite;
            font-weight: bold;
        }
        [data-scrutiny-error] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: none;
            text-align: center;
            text-transform: uppercase;
            z-index: 10;
        }
        [data-scrutiny-error] p {
            margin-top: 0;
        }
    }

    @keyframes blinker {
      50% { opacity: 0.6; }
    }
}

body.management.electproccess-summary {
    .pure-sec-body {
        label {
            color: $frm-input-label;
        }
    }
}

.elections-forms hr:first-child {
    display: none;
}

.history-sidebar {

    &.open > .history-info {
        right: 0;
    }

    &.open > .history-bar {
        right: -40px;
    }

    .history-bar {
        @include box-shadow(0px, 0px, 5px, 1px, rgba(0, 0, 0, 0.25));
        @include transition(all 200ms linear);
        border-right: 1px solid $white;
        font-family: $roboto-regular;
        background-color: $tab-bg;
        position: fixed;
        height: 100%;
        width: 39px;
        z-index: 3;
        right: 0;
        top:0;

        .toggle-sidebar {
            margin: 13px 0 53px 3px;
            display: block;

            .ev-icon {
                @include transform(rotate(180deg));
            }
        }

        .boxnumber {
            background-color: $hd-scnd-color;
            position: relative;
            line-height: 40px;
            color: $white;
            height: 40px;
            float: right;
            width: 39px;
        }

        span {
            @include transform(rotate(-90deg));
            font-family: $roboto-medium;
            text-transform: uppercase;
            color: $hd-scnd-color;
            display: inline-block;
            white-space: nowrap;
            margin-top: 250px;
            line-height: 40px;
            width: 40px;
        }
    }


    .history-info {
        @include box-shadow(0px, 0px, 5px, 1px, rgba(0, 0, 0, 0.25));
        @include transition(all 200ms linear);
        background-color: $white;
        position: fixed;
        right: -415px;
        height: 100%;
        width: 415px;
        z-index: 2;
        bottom: 0;
        top: 0;

        .bar-title {
            border-bottom: 1px solid $th-color;
            padding: 0px 25px 0px 40px;
            text-transform: uppercase;
            color: $hd-scnd-color;
            line-height: 75px;
            font-size: 18px;
            height: 75px;

            .ev-icon {
                margin-top: 24px;
                float: right;
            }
        }

        .entries {
            height: calc(100% - 75px);
            list-style-type: none;
            overflow-y: auto;
            padding-left: 0;

            .jscroll-loading {
                text-align: center;
            }
        }

        .entry {

            &.new {
                background-color: $history-new-bg;
            }

            .details {
                border-bottom: 1px solid $th-color;
                padding: 15px 0px 22px 0px;
                margin: 0px 25px 0px 40px;
                color: $hd-scnd-color;
                font-size: 14px;

                .date {
                    margin-bottom: 10px;
                }

                .name {
                    margin-bottom: 9px;
                    color: $txt-color;
                }

                .description {
                    margin-bottom: 3px;
                }

                .identifier {
                    color: $txt-color;
                }
            }
        }
    }
}

.overlay {
    background-color: rgba($dark-bg, 0.5);
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    &.active {
        display: block;
        z-index: 2;
    }
}
