
.action-bar {
    background-color: $hd-block-bg;
    padding: 6px 20px;
    height: 45px;
    margin-bottom: 9px;

    .pure-button-small {
        background-color: transparent;
        border: 1px solid $btn-color;
        text-align: left;
        padding: 0 14px;
        line-height: 32px;

        &:hover {
            border-color: $btn-color;
        }

        .evi-new-msg {
            background-position: -141px -171px;
            margin-left: 5px;
            height: 20px;
            width: 26px;
            vertical-align: text-top;
        }
    }
}

.message {
    border: 1px solid $frm-input-border;
    padding: 18px 50px 15px 20px;
    margin-bottom: 8px;
    position: relative;

    .message-subject {
        margin-top: 5px;
    }
    .message-subject a {
        color: $txt-color;
        text-decoration: none;
    }
    .message-subject a:hover {
        text-decoration: underline;
    }
    .message-body {
        font-family: $roboto-light;
    }
    .message-actions {
        position: absolute;
        top: 55px;
        right: 45px;
    }
    .message-action {
        line-height: 1;
        padding: 5px 5px;
        display: inline-block;
    }
    .message-archive {
        background: transparent;
        border: none;
        padding: 0;
    }
    hr {
        margin-top: 10px;
    }
}

.message-list {
    .message-actions {
        @include opacity(0);
    }
    .message:hover {
        background-color: $alert-help;
        @include transition(all 300ms linear);

        .message-actions {
            @include transition(all 300ms linear);
            @include opacity(1);
        }
    }
}

.message-form .action-bar {
    margin-bottom: 40px;
}
