/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Generic styles for pages
 *
 *****************************************************************/

h2.pure-block-title {
    color: $btn-color;
    background-color: $hd-block-bg;
    padding: 12px 20px;
    margin: 0;

    div.fi-icon {
        position: relative;
        display: inline-block;
        margin-left: 50px;

        &:before {
            left: -40px;
            margin-left: 0;
            top: -5px;
        }
    }
}

.pure-panel {
    padding: 40px 30px;
    background-color: $alert-help;
    margin-bottom: 20px;

    dd {
        font-family: $roboto-light;
        margin-bottom: 20px;
    }
    & > *:first-child {
        margin-top: 0;
    }
    & > .pure-g:last-child .pure-field,
    & > .pure-field:last-child {
        margin-bottom: 0;
    }
}

.pure-title-row {
    margin-bottom: 20px;

    h1 {
        margin-top: 15px;

        &.light-blue {
            color: $frm-input-label;
        }
    }
}

.pure-sec-block {

    .pure-sec-title {
        background-color: $alert-help;
        color: $tab-acc-title;
        font-weight: normal;
        font-size: calc-font-size(16px);
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin: 0;
    }

    .pure-sec-body {
        padding: 20px;

        .pure-description {
            font-family: $roboto-light;
            background-color: $tbl-drk-strip;
            margin: -20px -20px 0;
            padding: 30px 50px;
        }
        .small-text {
            font-size: calc-font-size(15px);

            label {
                font-size: calc-font-size(15px);
            }
        }
        label {
            color: $txt-color;
            line-height: 25px;
            margin-bottom: 0;

            &.small-label {
                font-weight: normal;
                color: $frm-input-label;
                margin-left: 20px;
                margin-right: 5px;

                &.simple {
                    margin-left: 0;
                }
            }
            &.main-label {
                font-family: $roboto-medium;
            }
        }
        .pure-sec-row {
            border-bottom: 1px solid $tab-bg;
            padding: 14px 0;

            &:last-child {
                border: none;
            }
            &.with-button {
                padding: 8px 0;
                border-bottom: none;

                label {
                    line-height: 42px; // The button size
                }
            }
        }
        .pure-sec-dk-row {
            background-color: $tbl-drk-strip;
            padding: 14px 0;
            margin: 6px 0;

            &:last-child {
                margin-bottom: 0;
            }
            label {
                color: $txt-color;
                font-weight: bold;
            }
            &.with-button {
                padding: 5px 0;

                .vertical-align {
                    line-height: 42px;
                }
            }
        }
        &.full-row {
            padding: 0;

            .pure-description {
                margin: 0;
            }
            .pure-sec-dk-row,
            .pure-sec-row {
                padding: 14px 50px;

                &.with-button {
                    padding: 8px 12px 8px 50px;
                }

                &.pure-sec-tab {
                    padding-left: 75px;
                }
            }

            &.vertical-space {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &.horizontal-space {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        & > .pure-g:last-child .pure-field {
            margin-bottom: 0;
        }
    }
}

.pure-sec-accordion {

    .pure-sec-block {
        margin-bottom: 8px;

        .pure-sec-title {
            background-color: $tab-acc;
            padding: 0 12px 0 20px;
            margin: 0;
            cursor: pointer;

            i {
                margin-top: 5px;
                float: right;
            }
        }
        .pure-sec-body {
            display: none;
        }
    }
}

.ev-top-actions {

    .pure-form {
        margin-top: 4px;

        .pure-g {
            div {
                width: auto;
            }
        }
        select {
           min-width: 95px;

            &[name$="date"] {
                min-width: 125px;
            }
        }
    }

    &.separate {
        .pure-button:not(:last-child) {
            margin-left: 20px;
        }
    }
}

/*
 * pure window styles
 */
.access-color.pure-window .pure-window-logo img {
    @include filter(1);
}
.pure-window {
    background-color: $window-bg;
    margin-top: 55px;
    height: auto;


    main {
        background-color: $btn-color;
        position: relative;
        min-height: 700px;
    }
    .pure-window-header {
        margin: 25px 13px 33px 40px;
        overflow: hidden;

        .pure-window-logo {
            margin-top: 25px;

            img {
                margin-right: 34px;
            }
            time {
                color: $window-color;
                text-transform: lowercase;
                font-size: calc-font-size(15px);
                position: relative;
                top: -6px;
            }
        }

        .pure-window-help-btn {
            background-color: $alert-dk-info;
            display: inline-block;
            width: 65px;
            height: 60px;
            margin-left: 220px;

            &.selected {
                background-color: $alert-dk-help;

                i {
                    background-position: -125px -437px;
                }
            }
            i {
                background-position: -60px -437px;
                height: 60px;
                @include opacity(0.6);
            }
        }

        .pure-window-close {
            border: 1px solid $dark-bg;
            display: inline-block;
            width: 110px;
            height: 110px;
            margin-top: -55px;
            text-align: center;
            text-decoration: none;
            @include border-radius(50%);

            div {
                margin-top: 65px;
            }

        }
    }
    /* tabs menu is smaller */
    .pure-menu-tab {
        height: 40px;

        .pure-menu-tab-title {
            color: $txt-color;
            padding: 0 0 0 20px;
        }

        .pure-menu-item {
            line-height: 38px;
        }
    }
    .pure-menu-tab-title.top-offset{
        text-transform: none;
    }
    .pure-menu-content {
        height: 35px;
        min-height: 35px;

        h2 {
            font-size: calc-font-size(17px);
            line-height: 35px;
        }
    }
    .pure-window-description {
        margin: 12px 20px 30px;
    }
    .pure-window-body {
        padding: 0 30px 30px 30px;
    }
    .pure-window-help-page {
        background-color: $alert-dk-help;
        display: none;
        position: absolute;
        padding: 40px;
        bottom: 30px;
        top: 60px;
        right: 30px;
        left: 30px;
        z-index: 5;

        .help-text-wrapper {
            overflow-y: scroll;
            position: absolute;
            bottom: 30px;
            top: 60px;
            right: 30px;
            left: 30px;
            padding-right: 20px;
        }
        h2 {
            font-size: calc-font-size(20px);
            line-height: 1;
            margin-bottom: 40px;
        }

        h3 {
            font-family: $roboto-medium;
            font-size: calc-font-size(16px);
            color: $txt-color;
            font-weight: normal;
            margin-bottom: 5px;
        }

        p {
            font-size: calc-font-size(14px);
            margin: 0 0 20px;
        }

        ul {
            font-size: calc-font-size(14px);
            margin-bottom: 10px;
        }

        .pure-window-help-close {
            background-color: $alert-dk-help;
            display: inline-block;
            width: 68px;
            height: 68px;
            position: absolute;
            right: 0;
            top: -34px;
            @include border-radius(50%);

            i {
                margin: 0 0 0 2px;
            }
        }
    }
}


.electoral-calendar-form label {
    font-size: calc-font-size(14px);
}


div.addrow {
   text-align: center;
   border-bottom: 1px solid $tab-bg;
   position: relative;
   margin-top: 20px;
   margin-bottom: 20px;

   i.evi-addrow {
        position: absolute;
        top: -18px;
        cursor: pointer;
        left: 0;
        right: 0;
        margin: auto;
   }
}

div.confirm-msg {
    padding-top: 38px;
    padding-bottom: 180px;
}

.general-photo {
    margin-top: 15px;
    img {
        width: 90px;
        height: 90px;
        display: inline-block;
        overflow: hidden;
        @include border-radius(50%);
    }
}

div.personal-data {
    div.pure-g {
        border: 1px solid $frm-input-border;
        @include border-radius(4px);
        margin-bottom: 5px;
        padding: 15px 35px;

        .pure-field {
            margin-bottom: 0;
        }
    }
}

.gov-auth {

    img {
        margin: 20px 30px 0 40px;
        float: left;
    }
    .pure-button {
        margin-top: 22px;
    }
}

.search-form {
    .pure-form {
        margin-top: 12px;
        margin-bottom: 116px;
        background-color: $tbl-drk-strip;

        input {
            font-size: calc-font-size(17px);
            padding-top: 8px;
            padding-bottom: 7px;
        }
    }

    .pure-success {
        margin-left: 60px;
        max-width: 300px;
        margin-top: -80px;
        margin-bottom: 38px;

        &:after {
            bottom: 100%;
            left: 50px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: rgba($alert-info, 0);
            border-bottom-color: $alert-info;
            border-width: 20px;
        }
    }

    .search-row {
        padding-top: 22px;
        padding-left: 60px;
    }

    .search-button {
        height: 83px;
        padding-right: 38px;
        padding-left: 9px;
        line-height: 46px;
        font-size: calc-font-size(17px);
        text-transform: uppercase;

        &:before {
            content: "";
            background: transparent url($sprite_path) -70px -249px no-repeat;
            display: inline-block;
            width: 44px;
            height: 44px;
            padding-right: 10px;
            float: left;
        }
    }
}

div.cc-banner.cc-bottom {
    box-shadow: 0px 1px 8px #000000;
}
.pure-cookie-msg {
    font-family: $roboto-light;
}


/*
 * Error pages styles
 */
body.error-page {
    h1 {
        font-size: 100px;
    }
}


.pure-disabled {
    @include opacity(0.6);
}
