/******************************************************************
 * Site Name: eVote
 * Author: Sandro Rodrigues
 *
 * Stylesheet: Search page styles
 *
 *****************************************************************/

.search {

    span.highlight {
        font-family: $roboto-medium;
    }

    h1 small {
        text-transform: none;
    }

    .search-result {
        padding: 10px 0px;
        font-family: $roboto-light;

        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
