/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Special styles for access text
 *
 *****************************************************************/

& {
    $font_mult: 1.3 !global;
    font-size: calc-font-size(16px);
}
.pure-g label,
.pure-form label {
    white-space: normal;
    margin: 0;
}
.pure-form label.pure-checkbox {
    margin: .5em 0;
}
.pure-sec-block .pure-sec-body .pure-sec-row.with-button label.main-label {
    line-height: normal;
}
.pure-button {
    white-space: normal;
}
&.pure-window .pure-window-header .pure-window-close.pull-right div,
.remodal a.remodal-close div {
    margin-top: 60px;
}
&.homepage header.site-header .pure-menu .selected-menu {
    top: -10px;
}
.message-list .message:hover label {
    color: $alert-dk-info;
}

footer.site-footer .pure-menu .pure-menu-item .pure-menu-link {
    padding: 10px 6px;
    min-width: auto;
}
