@media print {
    @page {
        size: A4;
    }

    html, body {
        width: 210mm;
        height: 297mm;
    }
    main {
        width: 100%;
        max-width: 100%;
    }

    .site-header,
    .pure-breadcrumbs,
    .site-footer,
    .hide-print, {
        display: none;
    }

    .pure-g {
        page-break-inside: avoid;
    }
}
