/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Reset Styles / Default styles (only for tags)
 *
 *****************************************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: $roboto-regular;
    font-size: calc-font-size(16px);
    line-height: 1.5;
    color: $txt-color;
}

h1 {
	font-family: $roboto-regular;
    font-size: calc-font-size(18px);
    line-height: 1.2;
    color: $hd-color;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 8px;
}

h2 {
    font-family: $roboto-regular;
    font-size: calc-font-size(18px);
    line-height: 1.2;
    color: $hd-color;
    font-weight: normal;
    margin: 0 0 20px 0;
}

h3 {
	font-family: $roboto-regular;
	font-size: calc-font-size(18px);
	line-height:1.2;
	color: $hd-scnd-color;
}
a {
    font-family: $roboto-regular;
    color: $hd-scnd-color;

    &:active,
    &:focus {
        outline: none;
    }
}

dd, dl, ul {
	margin: 0;
}

dd {
    font-family: $roboto-light;
    margin-bottom: 20px;
}

main {
    min-height: calc(100% - 352px);  // 352px ~= height header + height breadcrumb + height footer + margin-bottom
    margin-bottom: 25px;
}

time {
    font-family: $roboto-light;
}

hr {
    height: 1px;
    width: 100%;
    border: 0;
    background-color: #e4eaf1;
    margin: 0 0 15px 0;
}

/*
 * Custom Scrollbars in WebKit
 */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    @include border-radius(10px);
    background-color: $tab-bg;
    border: 1px solid $white;
}

.pure-g {

    [class *="pure-u"] {
       font-family: $roboto-regular;
    }

    &.extra-bottom {
        margin-bottom: 10px;
    }

	&.pure-gutter {
		margin-left: -12px;
		margin-right: -12px;

	    & > div[class^="pure-u"] {
		    padding-left: 12px;
		    padding-right: 12px;
		    box-sizing: border-box;
	    }
	}
}
