@font-face {
    font-family: 'robotolight';
    src: url('/static/fonts/Roboto-Light-webfont.eot');
    src: url('/static/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Roboto-Light-webfont.woff') format('woff'),
         url('/static/fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('/static/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('/static/fonts/Roboto-Regular-webfont.eot');
    src: url('/static/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('/static/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('/static/fonts/Roboto-Medium-webfont.eot');
    src: url('/static/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('/static/fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('/static/fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
