{% extends 'evotemailings/base.html' %}

{% block containerpt %}
    <p>
        Caro membro da Comissão Eleitoral,<br/>
        O Responsável Institucional do sistema de votação eletrónico eVotUM, indicou-o como membro da Comissão Eleitoral do processo eleitoral {{process_id}} , pelo que pode a partir deste momento aceder ao portal de gestão do processo eleitoral em <a href="{{url}}">{{url}}</a>
    </p>
    <p>
        Remetemos em anexo uma componente (pessoal e intransmissível) do segredo de acesso à chave privada da(s) eleição(ões) do processo eleitoral. A chave privada será utilizada para a decifra dos votos e para outras operações da responsabilidade da Comissão eleitoral. Deverá guardar essa componente numa caneta USB e tê-la consigo em todas as reuniões da Comissão Eleitoral - a perda de qualquer componente  do segredo poderá impedir a realização de funções críticas da Comissão eleitoral -.
    </p>
{% endblock containerpt %}

{% block container %}
    <p>
        Dear member of the Electoral Commission,<br/>
        The Election Corporate Manager of the eVotUM electronic voting system appointed you as a member of the Electoral Commission of the {{process_id}} electoral process - you can, from this moment on, access the electoral process management portal at <a href="{{url}}">{{url}}</a>
    </p>
    <p>
        We have enclosed a personal and non-transferable component of the secret to access the  cypher private key of the election(s) of the electoral process. The vote private key  will be used for deciphering the election votes and for other operations under the responsibility of the Electoral Commission . You should store the component on an USB stick and have it with you at all meetings of the Electoral Commission - the loss of any component of the secret can compromise the function of the Electoral Commission.
    </p>
{% endblock %}
