{% extends 'evotemailings/base.html' %}

{% block containerpt %}
    <p>
        Caro eleitor,<br/>
        Obrigado por utilizar o sistema de votação eletrónico eVotUM.
    </p>
    <p>
        O seu endereço de correio eletrónico de comunicação foi alterado para {{new}}.<br/>
        Para concluir a alteração, clique no endereço abaixo (ou copie o endereço para uma nova janela do seu browser): <a href="{{url}}">{{url}}</a>.
    </p>
{% endblock containerpt %}

{% block container %}
    <p>
        Dear voter,<br/>
        Thank you for using the eVotUM e-voting system.
    </p>
    <p>
        Your  email address has changed to {{new}}<br/>
        To complete the change, click on the address below (or copy the address to a new window of your browser): <a href="{{url}}">{{url}}</a>.
    </p>
{% endblock %}
