{% extends 'evotemailings/base.html' %}

{% block containerpt %}
    <p>
        Caro eleitor,<br/>
        Obrigado por utilizar o sistema de votação eletrónico eVotUM.
    </p>
    <p>
        {% if new %}
            O seu endereço de correio eletrónico de comunicação foi alterado para {{new}}. Caso não seja este o endereço pretendido, pode voltar a alterá-lo.
        {% else %}
            O seu endereço de correio eletrónico de comunicação foi removido do sistema. Será a partir de agora utilizado o endereço de correio eletrónico principal.
        {% endif %}
    </p>
{% endblock containerpt %}

{% block container %}
    <p>
        Dear voter,<br/>
        Thank you for using the eVotUM e-voting system.
    </p>
    <p>
        {% if new %}
            Your  email address has changed to {{new}}. If this is not the desired email address, you can change it again.
        {% else %}
            Your notice email was removed from the system. It will be used your primary email instead.
        {% endif %}
    </p>
{% endblock %}
