{% extends 'evotemailings/base.html' %}

{% block containerpt %}
    <p>
        Caro eleitor,<br/>
        Obrigado por utilizar o sistema de votação eletrónico eVotUM.
    </p>
    <p>
        O seu mecanismo de envio de chave de segurança foi alterado para {{new}}.<br/>
    </p>
{% endblock containerpt %}

{% block container %}
    <p>
        Dear voter,<br/>
        Thank you for using the eVotUM e-voting system.
    </p>
    <p>
        Your security key sending method has changed to {{new}}.
    </p>
{% endblock %}
