{% extends "voters/base.html" %}

{% load i18n form_tags static %}

{% block title %}{%trans 'Contacts' %} - {{block.super}}{% endblock title %}

{% block extrajs %}
    <script type="text/javascript" charset="utf-8" src="{% static 'voters/js/main.jquery.js' %}"></script>
    <!-- BEGIN: recaptcha javascript -->
    <script async defer type="text/javascript" src='https://www.google.com/recaptcha/api.js{% if lang %}?hl={{ lang }}{% endif %}'></script>
    <!-- END: recaptcha javascript -->
    <!-- BEGIN: Google Maps javascript -->
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf-LFa655KFIMFBMJqEb4zy7QuN8ZwFYY&callback=contactsInitMap">
    </script>
    <!-- END: Google Maps javascript -->
{% endblock extrajs %}

{% block container %}
    <main class="wrap contacts">
        <h1>{% trans 'Contacts' %}</h1>
        <div class="pure-g">
            <div class="pure-u-1-2">
                <div class="pure-u-1 pure-description">
                    {% trans 'Please, contact us preferably by the electronic form.' %}
                </div>
                <div class="pure-g">
                    <div class="pure-u-18-24">
                        <div class="pure-description"></div>
                        <form action="" method="post" class="pure-form" novalidate data-ajax-submit>
                            {% csrf_token %}
                            {% prepare_field form.name "fi-avatar" True %}
                            {% prepare_field form.email "fi-email" True %}
                            {% prepare_field form.subject "fi-topic" True %}
                            {% prepare_field form.message "fi-msg" %}
                            <label class="captcha">{% trans 'Spam Check' %}</label>
                            {% prepare_field form.captcha %}
                            <button type="submit" class="pure-button pure-button-big pure-button-primary pure-button-smooth">{% trans 'Send' %}</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pure-u-1-2">
                <div class="pure-g contacts-info">
                    <div class="pure-u-1 contact-line">
                        <i class="ev-icon evi-avatar alg-l"></i><label>{% trans 'Name' %}:</label> {{name}}
                    </div>
                    <div class="pure-u-1 contact-line">
                        <i class="ev-icon evi-email alg-l"></i><label>{% trans 'Email address' %}:</label> {{email}}
                    </div>
                    <div class="pure-u-1 contact-line">
                        <i class="ev-icon evi-phone alg-l"></i><label>{% trans 'Phone' %}:</label> {{phone}}
                    </div>
                    <div class="pure-u-1 contact-line">
                        <i class="ev-icon evi-world alg-l"></i><label>{% trans 'Address' %}:</label> <span id="contact-address">{{address}}</span>
                    </div>
                </div>
                <div id="contacts-map" {% if map_address %}data-address='{{map_address}}'{% endif %} {% if map_gps %}data-gps='{{map_gps}}'{% endif %}></div>
            </div>
        </div>
    </main>
{% endblock container %}
