{% extends "base.html" %}

{% load i18n static core_tags %}

{% block title %}{%trans 'Browse Vote References' %} - {{block.super}}{% endblock title %}

{% block bodyextraclass %}election-search-vote {% accessibility_classes %}{% endblock bodyextraclass %}

{% block breadcrumbs %}
    {% trans "My electoral processes" as electoralprocess %}
    {% breadcrumb electoralprocess "voters:electoralprocess-list" %}
    {% breadcrumb object.electoral_process "voters:electoralprocess-detail" slug=object.electoral_process.slug %}
    {% breadcrumb object "voters:electoralprocess-detail" slug=object.electoral_process.slug hashtag=object.slug %}
    {% trans "Browse Vote References" as votesearch %}
    {% breadcrumb votesearch %}
{% endblock breadcrumbs %}


{% block container %}
    <main class="wrap">

        <div class="pure-g pure-title-row">
            <div class="pure-u-1">
                <h1 class="pure-sec-title">{% trans 'Browse Vote References' %}</h1>
            </div>
        </div>

        <div class="pure-g">
            <div class="pure-u-1">
                <div class="pure-help">
                    <i class="ev-icon evi-help"></i>
                    {% trans 'Insert your vote reference and check if your vote was counted.' %}
                </div>
            </div>
            <div class="pure-u-1 search-form">
                <form class="pure-form" action="" method="get" novalidate>
                <div class="pure-g">
                    <div class="pure-u-4-5 search-row">
                        {{form.search}}
                    </div>
                    <div class="pure-u-1-5">
                        <button class="pure-button pure-button-primary pull-right search-button" type="submit">{% trans 'Check' %}</button>
                    </div>
                </div>
                </form>
                {% if references|length == 0 %}
                    <div class="pure-success animated fadeInDown">
                        <i class="ev-icon evi-alert"></i>
                        {% trans 'The vote was not counted.' %}
                    </div>
                {% endif %}
                {% if references|length == 1 and request.GET.search != "" %}
                    <div class="pure-success animated fadeInDown">
                        <i class="ev-icon evi-alert-success"></i>
                       {% trans 'The vote was counted.' %}
                    </div>
                {% endif %}
            </div>
            <div class="pure-u-1">
		{% if references|length != 0%}
                <div class="reference-list-title">
                    {% trans 'List of vote references' %}
                </div>
                <ul class="reference-list" data-jscroll>
                        {% include 'voters/includes/vote_reference_list.html' with references=references electoral_process_id=electoral_process_id election_id=object.pk next_page=next_page search=search more=more page=page %}
                </ul>
		{% endif %}
            </div>
        </div>
    </main>
{% endblock container %}

{% block extrajs %}
    <script type="text/javascript" charset="utf-8" src="{% static 'vendor/jscroll/jquery.jscroll.min.js' %}"></script>
{% endblock extrajs %}
