{% extends "voters/base.html" %}

{% load i18n django_tables2 form_tags core_tags %}

{% block title %}{%trans 'Personal History' %} - {{block.super}}{% endblock title %}


{% block container %}
    <main class="wrap">
        <div class="pure-g pure-gutter pure-title-row">
            <div class="pure-u-1 pure-u-md-1-2">
                <h1>{% trans 'Personal History' %}</h1>
            </div>
            <div class="pure-u-1-2 ev-top-actions">
                <form action="" method="get" class="pure-form pull-right" data-submit-onchange>
                    <div class="pure-g pure-gutter">
                        <div class="pure-u-1-3">
                            {{ filter.form.per_page.label_tag }}
                        </div>
                        <div class="pure-u-1-3">
                            {% prepare_field filter.form.per_page %}
                        </div>
                        <div class="pure-u-1-3">
                            {% prepare_field filter.form.voting_end_date %}
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% render_table table %}

    </main>
{% endblock container %}

