{% extends 'base.html' %}

{% load i18n core_tags django_tables2 %}

{% block title %}{{object}} - {{block.super}}{% endblock title %}


{% block breadcrumbs %}
    {{block.super}}
    {% trans "Electoral processes" as electoralprocess %}
    {% breadcrumb electoralprocess "voters:electoralprocess-list" %}
    {% breadcrumb object.election.electoral_process "voters:electoralprocess-detail" slug=object.election.electoral_process.slug %}
    {% breadcrumb object %}
{% endblock breadcrumbs %}

{% block bodyextraclass %}roll-search-voter {% accessibility_classes %}{% endblock bodyextraclass %}


{% block container %}
    <main class="wrap">

        <div class="pure-g pure-title-row">
            <div class="pure-u-1-2">
                <h1 class="light-blue">{% trans 'Electoral roll' %}</h1>
            </div>
            <div class="pure-u-1-2 ev-top-actions separate">
                {% if object.election.is_within_complaint_period %}
                    <a href="{% url 'voters:election-claim' slug=object.election.electoral_process.slug slug_election=object.election.slug %}" class="pure-button pure-button-secondary pure-button-round pull-right with-icon">
                {% else %}
                    <a href="#" class="pure-button pure-button-secondary pure-button-round pull-right with-icon pure-button-disabled" title="{% trans 'The complaint period has ended or is about to begin. Consult the election details for more info.' %}">
                {% endif %}
                    <i class="ev-icon evi-email pull-left"></i>{% trans 'Present a claim' %}
                </a>
                {% if object.pdf_document.document %}
                    <a href="{{object.pdf_document.document.url}}" class="pure-button pure-button-secondary pure-button-round pull-right hide-print" target="_blank" title="{{object.document.designation}}">{% trans 'Download PDF' %}</a>
                {% endif %}
            </div>
        </div>

        <h2 class="pure-block-title text-right icon">
            <div class="fi-icon fi-refresh"><strong>{% trans "Version" %}:</strong> {{object.version}}</div>
            <div class="fi-icon fi-calendar"><strong>{% trans "Publication date" %}:</strong> {% if object.published_on %}{{object.published_on}}{% else %}{% trans 'Not published yet' %}{% endif %}</div>
        </h2>

        <div class="pure-u-1 search-form hide-print">
            <form class="pure-form" action="" method="get" novalidate>
            <div class="pure-g">
                <div class="pure-u-4-5 search-row">
                    {{filter.form.search}}
                </div>
                <div class="pure-u-1-5">
                    <button class="pure-button pure-button-primary pull-right search-button" type="submit">{% trans 'Search' %}</button>
                </div>
            </div>
            </form>
        </div>

        <hr/>
        {% render_table table %}

    </main>
{% endblock container %}
