{% extends "voters/base.html" %}

{% load i18n django_tables2 core_tags %}

{% block title %}{% trans 'My electoral processes' %} - {{block.super}}{% endblock title %}


{% block container %}
    <main class="wrap">
        <div class="pure-g pure-gutter pure-title-row">
            <div class="pure-u-1 pure-u-md-1-2">
                <h1>{% trans 'My electoral processes' %}</h1>
            </div>
        </div>

        {% render_table table %}

        <div class="pure-g">
            <div class="pure-u-1">
                <a class="pure-button pure-button-secondary pure-button-round pull-right" data-remodal-target="modalClaim">{% trans 'Missing electoral processes' %}</a>
            </div>
        </div>
        <div class="modal" data-remodal-id="modalClaim">
            <a href="" data-remodal-action="close" class="remodal-close">
                <div>{% trans 'Close' %}</div>
            </a>
            <div class="remodal-content">
                <h2><b>{% trans 'Missing electoral processes' %}</b></h2>
                <div>{% trans 'To complain about an electoral process in which you can participate but which does not appear in your election processes, please logout from this session and go to the public  page of that electoral process.' %}</div>
                <a href="{% url 'voters:logout' %}" class="pure-button pure-button-secondary pure-button-round pull-right">{% trans 'Logout' %}</a>
            </div>
        </div>
    </main>
{% endblock container %}
