{% extends "voters/electoralprocess_voting.html" %}

{% load i18n static ama_tags %}

{% block title %}{%trans 'Step 4: Vote submission' %} - {{block.super}}{% endblock title %}

{% block mainextraclass %}voting-step3{% endblock mainextraclass %}

{% block voting_steps %}
    {% trans 'Step 4: Vote submission' as tabtitle %}
    {% include 'voters/includes/voting_tabs.html' with title=object.electoral_process subtitle=object tab='step4' tabtitle=tabtitle only %}
    <div class="pure-g" data-step="3" data-election-id="{{view.object.pk}}">
        <div class="pure-u-1">
            <p class="pure-window-description">
                {% trans 'For authentication purposes, you can choose to receive a voting code via SMS/e-mail or authenticate through the Chave Movel Digital (CMD) portal.' %}
            </p>
        </div>
        <div class="pure-u-1">
            <div class="candidate-box pin-type">
                <form action="" method="post" class="pure-form" novalidate data-ajax-submit>
                    {% csrf_token %}
                    <div class="pure-g pure-gutter">
                        <div class="pure-u-1 pure-u-md-7-24">
                            <label class="pull-right" for="{{form.send_through.id_for_label}}">{% trans 'The voting code will be sent to' %}:</label>
                        </div>
                        <div class="pure-u-1 pure-u-md-5-24">
                            {{form.send_through}}
                        </div>
                        <div class="pure-u-1 pure-u-md-4-24 shorter-column">
                            <label class="pull-right"
                                   for="{{form.send_pin_to.id_for_label}}"
                                   data-send-pin-to-label
                                   data-sms="{% trans 'Mobile phone' %}:"
                                   data-email="{% trans 'Email' %}:">{% trans 'Mobile phone' %}:</label>
                        </div>
                        <div class="pure-u-1 pure-u-md-4-24">
                            {{ form.send_pin_to }}
                        </div>
                        <div class="pure-u-1 pure-u-md-4-24">
                            <input class="pure-button pure-button-primary pure-button-smooth" type="submit" value="{% trans 'Continue' %}">
                        </div>
                    </div>
                </form>
                <div class="pure-g pure-gutter personaldata">
                    <div class="pure-u-1">
                        <a href="{% url 'voters:personal-data' %}" data-pw-close data-remodal-target="modalConfirmVoteExit">{% trans 'Change this data' %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-u-1">
            <p class="pure-window-description">
                {% trans 'You can also choose to validate via Digital Mobile Key in .gov Authentication.' %}
                É necessário aceitar a partilha do número de identificação civil.
            </p>
        </div>
        <div class="pure-u-1">
            <div class="candidate-box gov-auth">
		{% show_autenticacaogov_login succ_url error_url classes="pure-button pure-button-secondary pure-button-round pull-left" %}
            </div>
        </div>
        <div class="pure-u-1">
            <div class="voting-navigation">
                <a href="{% url 'voters:election-voting-step2' slug=object.electoral_process.slug slug_election=election.slug %}" class="pure-button pure-button-secondary pure-button-left">
                    {% trans 'previous' %}
                </a>
            </div>
        </div>
    </div>
{% endblock voting_steps %}
