{% extends "voters/electoralprocess_voting.html" %}

{% load i18n static %}

{% block title %}{%trans 'Step 3: Candidate selection confirmation' %} - {{block.super}}{% endblock title %}

{% block mainextraclass %}voting-step2{% endblock mainextraclass %}

{% block voting_steps %}
    {% trans 'Step 3: Candidate selection confirmation' as tabtitle %}
    {% include 'voters/includes/voting_tabs.html' with title=object.electoral_process subtitle=object tab='step3' tabtitle=tabtitle only %}
    <div class="pure-g" data-step="2" data-election-id="{{view.object.pk}}">
        <div class="pure-u-1">
            <p class="pure-window-description">
                {% trans 'You have selected the following list/list of candidates' %}
            </p>
        </div>
        <div class="pure-u-1 selected-votes">
            <div class="pure-form">
                <div data-vote-option-selected data-vote-option-idx="0" class="candidate-box selected">
                    <img data-candidate-logo class="candidate-logo" src="{% static 'images/avatar.png' %}" width="85" height="85" alt="{% trans 'candidate' %}">
                    <div class="candidate-designation">
                        <p data-candidate-designation>{% trans 'Blank ballot' %}</p>
                    </div>
                    <label class="pure-checkbox no-selectable">
                        <input data-candidate-vote name="vote" value="" checked="checked" type="checkbox" disabled>
                        <span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="pure-u-1">
            <p class="pure-window-description click-vote">
                {% trans 'Click the "vote" button to confirm your vote.' %}
            </p>
            <div class="voting-action">
                <a data-vote-button href="{% url 'voters:election-voting-step3' slug=object.electoral_process.slug slug_election=election.slug %}" class="pure-button-big pure-button-primary pure-button-smooth">{% trans 'Vote' %}</a>
            </div>
            <div class="voting-navigation">
                <a href="{% url 'voters:election-voting-step1' slug=object.electoral_process.slug slug_election=election.slug %}" class="pure-button pure-button-secondary pure-button-left">
                    {% trans 'previous' %}
                </a>
            </div>
        </div>
    </div>
{% endblock voting_steps %}
