{% extends "voters/electoralprocess_voting.html" %}

{% load i18n voters_tags %}

{% block title %}{%trans 'Step 2: Select candidate/list of candidates' %} - {{block.super}}{% endblock title %}

{% block mainextraclass %}voting-step1{% endblock mainextraclass %}

{% block voting_steps %}

    {% trans 'Step 2: Select candidate/list of candidates' as tabtitle %}
    {% include 'voters/includes/voting_tabs.html' with title=object.electoral_process subtitle=object tab='step2' tabtitle=tabtitle only %}

    {% if is_valid %}
    <div class="pure-g" data-step="1" data-election-id="{{view.object.pk}}">
        <div class="pure-u-1">
            <p class="pure-window-description">
                {{object.instructions}}
            </p>
        </div>
        <div class="pure-u-1">
            <form class="pure-form" action="" method="post" data-server-form data-areyousure-off
                  {% if object.ordered_voting %}data-ordered-voting{% endif %}
                  data-vote-choices="{{object.limit_remarkable_choices}}" data-js-submit novalidate>
                <div data-session-wrapper class="hidden">
                    {% for field in form.get_session_fields %}
                        {{field}}
                    {% endfor %}
                </div>
                {% if object.is_list_mode %}
                    {% candidate_list form.candidates_list_0 %}
                {% else %}
                    {% for field in form.get_nonsession_fields %}
                        {% candidate_dropdown field %}
                    {% endfor %}
                {% endif %}

                {% block voting_navigation %}
                <div class="voting-navigation">
                    <a href="{% url 'voters:electoralprocess-voting' slug=object.electoral_process.slug %}" class="pure-button pure-button-secondary pure-button-left">{% trans 'previous' %}</a>
                    <a data-next-step href="{% url 'voters:election-voting-step2' slug=object.electoral_process.slug slug_election=election.slug %}" class="pure-button pure-button-primary pure-button-right pull-right">{% trans 'next' %}</a>
                </div>
                {% endblock %}

            </form>
        </div>
    </div>
    {% else %}
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="pure-help">
                <i class="ev-icon evi-help"></i>
                {% blocktrans %}Could not initialize voting step.{% endblocktrans %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock voting_steps %}
