{% extends "base.html" %}

{% load i18n django_tables2 form_tags core_tags %}

{% block bodyextraclass %}{{ block.super }} {% accessibility_classes %}{% endblock bodyextraclass %}

{% block title %}{%trans 'Electoral processes' %} - {{block.super}}{% endblock title %}

{% block breadcrumbs %}
    {{block.super}}
    {% trans "Electoral processes" as title %}
    {% breadcrumb title %}
{% endblock breadcrumbs %}


{% block container %}
    <main class="wrap">
        <div class="pure-g pure-gutter pure-title-row">
            <div class="pure-u-1 pure-u-md-1-2">
                <h1>{% trans 'Electoral processes' %}</h1>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 ev-top-actions">
                <div class="pure-u-1-4 pull-right">
                    <a href="{% url "voters:electoralprocess-archive" %}" class="pure-button pure-button-secondary pure-button-round pull-right">{% trans 'Archive' %}</a>
                </div>
                <form action="" method="get" class="pure-form pull-right" data-submit-onchange>
                    <div class="pure-g pure-gutter">
                        <div class="pure-u-1-2">
                            {{ filter.form.per_page.label_tag }}
                        </div>
                        <div class="pure-u-1-2">
                            {% prepare_field filter.form.per_page %}
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% render_table table %}

		<div class="pure-help-info">
        	<i class="ev-icon evi-open-state"></i>
            <b>{% trans 'Open' %}</b>
            {% trans '- within electoral period -' %}
        </div>
    </main>
{% endblock container %}
