{% extends "base.html" %}

{% load i18n static core_tags voters_tags %}

{% block title %}{%trans 'Step 1: Select election' %} - {{block.super}}{% endblock title %}

{% block bodyextraclass %}pure-window {% accessibility_classes %}{% endblock bodyextraclass %}

{% block header %}
{% endblock header %}

{% block breadcrumbs_wrapper %}
{% endblock breadcrumbs_wrapper %}

{% block container %}
<main class="wrap electoralprocess-voting {% block mainextraclass %}{% endblock mainextraclass %}">
    <div class="pure-window-header">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-2 pure-window-logo">
                <img alt="eVotUM" src="{% static 'images/logo-evotum-window.png' %}" >
                <time datetime="{% now 'Y-m-d H:i' %}">{% now "l, j F Y, H:i" %}</time>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <a href="#" data-pw-help-btn class="pure-window-help-btn"><i class="ev-icon evi-b-help"></i></a>
                <a href="{{close_url}}" class="pure-window-close pull-right" data-pw-close {% if close_confirm %}data-remodal-target="modalConfirmOP"{% endif %}>
                    <div>{% trans 'Close' %}</div>
                </a>
            </div>
        </div>
    </div>

    {% include 'voters/includes/voting_help.html' %}

    <div class="pure-window-body">
        {% block voting_steps %}

            {% trans 'Step 1: Select election' as tabtitle %}
            {% include 'voters/includes/voting_tabs.html' with title=object tab='step1' tabtitle=tabtitle only %}
            <div class="pure-g" data-step="0">
                <div class="pure-u-1">
                    <p class="pure-window-description">
                    {% blocktrans with elections=elections.count elections_active=elections_active_count %}You have {{ elections_active }}/{{ elections }} elections at polling state. Click on "vote" to proceed.{% endblocktrans %}
                    </p>
                </div>
                {% for election in elections %}
                    {% if forloop.counter0|divisibleby:3 %}
                        <div class="pure-u-1 elections">
                    {% endif %}
                        {% election_closed_for_voter request.user.pk election as el_closed_for_voter %}
                        <div class="election-box {% if el_closed_for_voter %}disabled{% endif %}">
                            <h3>{{election.identifier}}</h3>
                            <div class="description">{{election.description}}</div>
                            <h4>{% trans 'Voting time' %}:</h4>
                            <div class="date"><label>{% trans 'start' %}:</label>{{election.voting_begin_date}}</div>
                            <div class="date"><label>{% trans 'end' %}:</label>{{election.voting_end_date}}</div>

                            {% if el_closed_for_voter %}
                                <a href="#" class="pure-button pure-button-primary pure-button-smooth pure-button-disabled">{% trans 'Vote' %}</a>
                            {% else %}
                                <a data-election="{{election.pk}}" href="{% url 'voters:election-voting-step1' slug=object.slug slug_election=election.slug %}" class="pure-button pure-button-primary pure-button-smooth">{% trans 'Vote' %}</a>
                            {% endif %}
                        </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        {% endblock voting_steps %}
    </div>
</main>
{% endblock container %}

{% block footer %}
{% endblock footer %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'javascript-settings.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'voters/js/main.jquery.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'vendor/evotum-cripto/dist/evotum.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'elections/js/webapp.cripto.js' %}"></script>
{% endblock extrajs %}
