{% extends "base.html" %}

{% load i18n django_tables2 form_tags core_tags %}

{% block title %}{%trans 'Archive' %} - {{block.super}}{% endblock title %}

{% block bodyextraclass %}{{ block.super }} {% accessibility_classes %}{% endblock bodyextraclass %}

{% block breadcrumbs %}
    {{block.super}}
    {% trans "Electoral processes" as electoralprocess %}
    {% breadcrumb electoralprocess "voters:electoralprocess-list" %}
    {% trans "Archive" as title %}
    {% breadcrumb title %}
{% endblock breadcrumbs %}

{% block container %}
    <main class="wrap">
        <div class="pure-g pure-title-row">
            <div class="pure-u-1-2">
                <h1>{% trans 'Archive' %}</h1>
            </div>
            <div class="pure-u-1-2 ev-top-actions">
                <form action="" method="get" class="pure-form pull-right" data-submit-onchange>
                    <div class="pure-g pure-gutter">
                        <div class="pure-u-1-3">
                            {{ filter.form.per_page.label_tag }}
                        </div>
                        <div class="pure-u-1-3">
                            {% prepare_field filter.form.per_page %}
                        </div>
                        <div class="pure-u-1-3">
                            {% prepare_field filter.form.publication_date %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="pure-u-1">
                {% render_table table %}
                <div class="pure-help-info">
                    <i class="ev-icon evi-lock-state"></i>
                    <b>{% trans 'Closed' %}</b>
                    {% trans '- electoral period ended -' %}
                </div>
            </div>
        </div>
    </main>
{% endblock container %}
