{% extends "voters/electoralprocess_voting.html" %}

{% load i18n form_tags voters_tags %}

{% block title %}{%trans 'Step 4: Vote submission' %} - {{block.super}}{% endblock title %}

{% block mainextraclass %}voting-step3-pin{% endblock mainextraclass %}

{% block voting_steps %}
    {% trans 'Step 4: Vote submission' as tabtitle %}
    {% include 'voters/includes/voting_tabs.html' with title=object.electoral_process subtitle=object tab='step4' tabtitle=tabtitle only %}

    <div class="pure-g" data-step="4" data-election-id="{{object.pk}}">
        {% if from_ama %}

            {% if validated %}
                <div class="pure-u-1">
                    <p class="pure-window-description">
                        {% trans 'Please proceed with the vote submission.' %}
                    </p>
                </div>
            {% else %}
                <div class="pure-u-1">
                    <p class="pure-window-description">
                        {% trans 'The authentication fails.' %}
                    </p>
                </div>
            {% endif %}

        {% else %}
            <div class="pure-u-1">
                <p class="pure-window-description">
                    {% trans 'Your vote will only be submitted after entering the voting code.' %}
                </p>
            </div>
            <div class="pure-u-1">
                <div class="candidate-box pin-box">
                    <form action="" method="post" class="pure-form" novalidate data-ajax-submit data-areyousure-off>
                        {% csrf_token %}
                        <div class="pure-g pure-gutter">
                            <div class="pure-u-1 pure-u-md-1-4">
                                <label class="pull-right" for="{{form.pin_validation.id_for_label}}">{% trans 'Insert the voting code' %}:</label>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-4">
                                {% prepare_field form.pin_validation %}
                            </div>
                            <div class="pure-u-1 pure-u-md-1-4">
                            </div>
                            <div class="pure-u-1 pure-u-md-1-4">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    	{% endif %}

        <div class="pure-u-1">

            {% if not from_ama or from_ama and validated %}
                <div class="voting-action">
                    <a data-vote-button href="{% url 'voters:election-voting-step4' slug=object.electoral_process.slug slug_election=object.slug %}" class="pure-button-big pure-button-primary pure-button-smooth">{% trans 'Vote' %}</a>
                </div>
            {% endif %}

            <div class="voting-navigation">
                <a href="{% url 'voters:election-voting-step3' slug=object.electoral_process.slug slug_election=object.slug %}" class="pure-button pure-button-secondary pure-button-left">
                    {% trans 'previous' %}
                </a>
            </div>
        </div>
    </div>
{% endblock voting_steps %}
