{% extends "voters/electoralprocess_voting.html" %}

{% load i18n %}

{% block title %}{%trans 'Step 5: Ballot casted in the ballot box' %} - {{block.super}}{% endblock title %}

{% block mainextraclass %}voting-step4{% endblock mainextraclass %}

{% block voting_steps %}
    {% trans 'Step 5: Ballot casted in the ballot box' as tabtitle %}
    {% include 'voters/includes/voting_tabs.html' with title=object.electoral_process subtitle=object tab='step5' tabtitle=tabtitle only %}
    <div class="pure-g" data-step="5" data-election-id="{{view.object.pk}}">
        <div class="pure-u-1">
            <p class="pure-window-description">
                {% trans 'Your ballot was casted in the ballot box. The following vote reference will be sent to you by email and you can use it at the end of the voting time to verify if your vote was counted.' %}
            </p>
        </div>
        <div class="pure-u-1">
            <div class="sub-title">{% trans 'Vote reference' %}</div>
            <div class="pure-info text-center">
                <i class="ev-icon evi-info"></i>
		<div data-unique-reference></div>
            </div>
        </div>
        <div class="pure-u-1">
            <div class="voting-action">
                <a href="{% url 'voters:electoralprocess-voting' slug=object.electoral_process.slug %}" class="pure-button-big pure-button-primary pure-button-smooth">Ok</a>
            </div>
        </div>
    </div>
{% endblock voting_steps %}
