{% extends "voters/base.html" %}

{% load i18n form_tags static %}

{% block title %}{% trans 'How does it work' %} - {{block.super}}{% endblock title %}

{% block bodyextraclass %}{{ block.super }} howitworks{% endblock bodyextraclass %}

{% block container %}
    <main class="wrap">
        <h1 class="title">{% trans 'How does it work' %}</h1>
        <div class="pure-g">
            <div class="pure-u-3-8 left-pic">
                <img src="{% static 'images/howitworks_left.png' %}">
            </div>
            <div class="pure-u-5-8 info-containers">
                <div class="pure-g info-container">
                    <div class="pure-u-1-8 info-icon">
                        <img src="{% static 'images/howitworks_icon1.png' %}">
                    </div>
                    <div class="pure-u-7-8 info-content">
                        <dl>
                            <dt class="info-title"><h1>{% trans 'Authentication' %}</h1></dt>
                            <dd class="info-description">{% trans 'To access the reserved voting area, the voter must authenticate itself with the security credentials used to access the electronic services of the University of Minho.' %}</dd>
                        </dl>
                    </div>
                </div>
                <div class="pure-g info-container">
                    <div class="pure-u-1-8 info-icon">
                        <img src="{% static 'images/howitworks_icon2.png' %}">
                    </div>
                    <div class="pure-u-7-8 info-content">
                        <dl>
                            <dt class="info-title"><h1>{% trans 'Browse' %}</h1></dt>
                            <dd class="info-description">{% trans 'The information of the electoral processes and their elections can be browsed by the public.' %}</dd>
                        </dl>
                    </div>
                </div>
                <div class="pure-g info-container">
                    <div class="pure-u-1-8 info-icon">
                        <img src="{% static 'images/howitworks_icon3.png' %}">
                    </div>
                    <div class="pure-u-7-8 info-content">
                        <dl>
                            <dt class="info-title"><h1>{% trans 'Votings' %}</h1></dt>
                            <dd class="info-description">{% trans 'During the voting period of the election, the voter may submit his vote after login into his reserved voting area. The eVotUM platform guarantees, among other security properties, the anonymity and integrity of the vote, as well as the audibility and transparency of the eVotUM e-voting system.' %}</dd>
                        </dl>
                    </div>
                </div>
                <div class="pure-g info-container">
                    <div class="pure-u-1-8 info-icon">
                        <img src="{% static 'images/howitworks_icon4.png' %}">
                    </div>
                    <div class="pure-u-7-8 info-content">
                        <dl>
                            <dt class="info-title"><h1>{% trans 'Results' %}</h1></dt>
                            <dd class="info-description">{% trans 'The results and minutes of the electoral processes are made available in the respective public browsing section.' %}</dd>
                        </dl>
                    </div>
                </div>
                <div class="pure-g info-container info-button">
                    <div class="pure-u-1-8 info-icon"></div>
                    <div class="pure-u-7-8 info-content">
                        <dl>
                            <dt class="info-title"><a href="{% static 'voters/files/EVOTUM_GUIA_ELEITOR_V2.pdf' %}" class="pure-button pure-button-medium" target="_blank">{% trans 'Voter guide' %}</a></dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock container %}
