{% extends "voters/base.html" %}
{% load form_tags i18n %}

{% block title %}{% trans 'Login' %} - {{block.super}}{% endblock title %}

{% block breadcrumbs_wrapper %}{% endblock breadcrumbs_wrapper %}


{% block container %}
    <main class="wrap login-page">
        <div class="login-box pure-form">
            <h1>{% trans 'Authentication' %}</h1>

            {% if ADFS_WSFED %}
                <div class="pure-help">
                    <i class="ev-icon evi-help"></i>
                    {% trans 'Login required.' %}<br/>
                    {% trans 'Make external login to access private area.' %}
                </div>

                <div class="login-box">
                    <a href="{% url 'adfsauth:ws-fed-signin' %}" class="pure-button pure-button-primary pure-button-smooth">{% trans 'Login' %}</a>
                </div>
            {% else %}
                <form action="" method="post" novalidate autocomplete="off" data-areyousure-off>
                    {% csrf_token %}
                    {{form.non_field_errors}}
                    {% prepare_field form.username "fi-avatar" True False %}
                    {% prepare_field form.password "fi-lock" True False %}
                    <input class="pure-button pure-button-primary pure-button-smooth" type="submit" value="{% trans 'Login' %}" />
                </form>
            {% endif %}

        </div>
    </main>
{% endblock container %}
