{% extends "voters/base.html" %}

{% load i18n core_tags messages_tags %}

{% block title %}{{object.subject}} - {{block.super}}{% endblock title %}


{% block breadcrumbs %}
    {% trans "Messages" as title %}
    {% breadcrumb title "voters:messages-received" %}
    {% if object.is_sent %}
        {% trans "Sent" as sent %}
        {% breadcrumb sent "voters:messages-sent" %}
    {% elif object.is_archived %}
        {% trans "Archived" as archived %}
        {% breadcrumb archived "voters:messages-archived" %}
    {% endif %}
    {% breadcrumb object.subject %}
{% endblock breadcrumbs %}


{% block container %}

    <main class="wrap">
        {% include "voters/includes/message_top.html" with title=object.subject %}

        <div class="message">
            <div class="pure-g">
                <div class="pure-u-21-24">
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <label>{% trans 'From' %}:</label>
                            <span class="pure-label">{{object.sender}}</span>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <label>{% trans 'To' %}:</label>
                            {% for recipient in object|recipient_groups %}
                                <span class="pure-label">{{recipient}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <label>{% trans 'Subject' %}:</label> {{object.subject}}
                        </div>
                    </div>
                    <hr>
                    <div class="pure-g">
                        <div class="pure-u-1 message-body">
                            {{object.body|linebreaks}}
                        </div>
                    </div>
                </div>
                <div class="pure-u-3-24">
                    <label class="pull-right"><small>{{object.created}}</small></label>
                    <div class="message-actions">
                        {% if object.is_received %}
                            <form action="{% url 'voters:messages-archive' pk=object.pk %}" class="message-action" method="POST"> {% csrf_token %}
                                <input type="hidden" name="id" value="{{object.pk}}">
                                <button type="submit" class="message-action message-archive" title="{% trans 'Archive' %}"><i class="ev-icon evi-archive-state"></i></a>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1 pull-right">
                {% if object.is_received %}
                    {% url 'voters:messages-received' as back_url %}
                {% elif object.is_sent %}
                    {% url 'voters:messages-sent' as back_url %}
                {% elif object.is_archived %}
                    {% url 'voters:messages-archived' as back_url %}
                {% endif %}

                <a href="{{back_url}}" class="pure-button pure-button-primary pure-button-round pull-right">
                    {% trans 'Back' %}
                </a>
            </div>
        </div>
    </main>

{% endblock container %}
