{% extends "voters/base.html" %}

{% load i18n core_tags form_tags messages_tags %}

{% block title %}{% trans 'New message' %} - {{block.super}}{% endblock title %}


{% block breadcrumbs %}
    {% trans "Messages" as title %}
    {% breadcrumb title "voters:messages-received" %}
    {% trans "New" as new context 'message' %}
    {% breadcrumb new %}
{% endblock breadcrumbs %}


{% block container %}
    <main class="wrap">

        <div class="pure-title-row">
            <h1>{% trans 'New message' %}</h1>
        </div>

        <div class="message-form">
            <div class="action-bar"></div>
            <form action="" method="post" class="pure-form" novalidate data-ajax-submit>
                {% csrf_token %}
                <div class="pure-g pure-gutter">
                    <div class="pure-u-1-2">
                        <div class="pure-u-1">
                            {% prepare_field form.name "fi-avatar" True %}
                        </div>
                        <div class="pure-u-1">
                            {% prepare_field form.email "fi-email" True %}
                        </div>
                        <div class="pure-u-1">
                            {% prepare_field form.recipients "fi-topic" True %}
                        </div>
                    </div>
                    <div class="pure-u-1-2">
                        <div class="pure-u-1">
                            {% prepare_field form.subject "fi-topic fi-icon-l" %}
                        </div>
                        <div class="pure-u-1">
                            {% prepare_field form.body "fi-msg" %}
                        </div>
                        {% if form.captcha %}
                            <div class="pure-u-1">
                                {% prepare_field form.captcha %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1">
                        <button type="submit" class="pure-button pure-button-primary pure-button-smooth pull-right">{% trans 'Send' %}</button>
                    </div>
                </div>
            </form>
        </div>

    </main>
{% endblock container %}


{% block extrajs %}
    {% if not user.is_authenticated %}
        <!-- BEGIN: recaptcha javascript -->
        <script type="text/javascript" src='https://www.google.com/recaptcha/api.js{% if lang %}?hl={{ lang }}{% endif %}' async defer></script>
        <!-- END: recaptcha javascript -->
    {% endif %}
{% endblock extrajs %}
