{% extends "voters/base.html" %}

{% load i18n  form_tags core_tags %}

{% block title %}{{object.title}} - {{block.super}}{% endblock title %}


{% block container %}
    <main class="wrap">
        <div class="pure-g pure-gutter pure-title-row">
            <div class="pure-u-1 pure-u-md-1-2">
                <h1>{{object.title}}</h1>
            </div>
        </div>
        <!-- Page content goes here. Since it is html we are using the "safe"tag to output raw content -->
        {{object.body | safe}}
    </main>
{% endblock container %}
