{% extends "voters/base.html" %}

{% load i18n search_tags core_tags %}

{% block title %}{% trans 'Search Results' %} - {{block.super}}{% endblock title %}

{% block bodyextraclass %}search {{ block.super }}{% endblock bodyextraclass %}


{% block container %}
    <main class="wrap">
        <h1>
            {% trans 'Search Results' %}
            {% if results_count %}
                |
                <small>
                    {% trans 'the search for' %} <span class="highlight">&ldquo;{{query}}&rdquo;</span> {% trans 'returned' %} <span class="highlight">{{results_count}}</span> {% trans 'result' %}{{results_count|pluralize}}
                </small>
            {% endif %}
        </h1>

        <br><hr>

        {% if not results_count %}
            <p>{% trans 'The search for' %} <span class="highlight">&ldquo;{{query}}&rdquo;</span> {% trans 'has no results to show.' %}</p>
        {% endif %}

        {% if results %}
            {% for r in results %}
                <div class="search-result">
                    <h2><a href="{{ r.url }}">{{ r.title|safe|striptags|highlight:terms }}</a></h2>
                    <p class="context">{{ r.content|safe|striptags|highlight:terms|truncatewords_html:60 }}</p>
                </div>
                <hr/>
            {% endfor %}

            {% pagination results.paginator.num_pages results.has_previous results.has_next results.number %}

        {% endif %}
    </main>
{% endblock container %}

