{% extends "base.html" %}
{% load core_tags i18n %}

{% block title %}{% trans 'Authentication fail' %} - {{block.super}}{% endblock title %}

{% block bodyextraclass %}{{ block.super }} {% accessibility_classes %}{% endblock bodyextraclass %}

{% block breadcrumbs_wrapper %}{% endblock breadcrumbs_wrapper %}


{% block container %}
    <main class="wrap signin_fail">
        <h1>{% trans 'Authentication fail' %}</h1>
        <div class="pure-alert">
            <i class="ev-icon evi-alert"></i>
            {% trans 'Authentication fail, please try again.' %}
        </div>
    </main>
{% endblock container %}
