{% load i18n thumbnail form_tags formset_tags %}

<tr data-formset-form="{{prefix}}">
    <td class="vtop col-logo">
        <div data-upload>
            {% thumbnail form.instance.logo "84x84" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% empty %}
                <i class="ev-icon evi-add"></i>
            {% endthumbnail %}
            <span class="hidden">{{form.logo}}</span>
        </div>
    </td>
    <td class="vtop">{% prepare_field form.designation %}</td>
    <td class="vtop col-doc">

        <!-- Nested formset -->
        <div data-formset data-formset-prefix="{{form.formset.prefix}}">
            {{form.formset.non_field_errors}}
            {{form.formset.management_form}}

            <table class="pure-table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="col-doc-designation">{% trans "Document Name" %}</th>
                        <th>{% trans "Document file" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-formset-body="{{form.formset.prefix}}" data-sortable>

                    {% for f in form.formset %}
                        {% include "management/includes/ordered_documents_form.html" with form=f prefix=form.formset.prefix only %}
                    {% endfor %}

                </tbody>
            </table>

            <script type="form-template" data-formset-empty-form="{{form.formset.prefix}}">
                {% escapescript %}
                    {% include "management/includes/ordered_documents_form.html" with form=form.formset.empty_form prefix=form.formset.prefix only %}
                {% endescapescript %}
            </script>
        </div>
        <!-- Nested formset -->

    </td>
    <td class="vtop table-opt">
        {{form.id}}
        {{form.election}}
        <span class="hidden">{{ form.DELETE }}</span>
        <a href="#" data-formset-add="{{form.formset.prefix}}" title="{% trans 'Add new document line' %}" class="pull-left"><i class="ev-icon evi-doc"></i></a>
        <a href="#" data-formset-delete-button="{{prefix}}" title="{% trans 'Delete candidate line' %}" class="pull-right"><i class="ev-icon evi-delete"></i></a>
    </td>
</tr>
