{% load i18n form_tags formset_tags ama_tags %}

<form id="members-form" action="" class="pure-form" method="post" novalidate data-ajax-submit data-js-reload>
    {% csrf_token %}
    <div data-formset data-formset-prefix="{{form.prefix}}">
        {{ form.non_field_errors }}
        {{ form.management_form }}

        <table class="pure-table pure-table-alt">
            <thead>
                <tr>
                    <th><label>{% trans 'Username' %}</label></th>
                    <th></th>
                    <th><label>{% trans 'Email address' %}</label></th>
                    <th><label>{% trans 'Name' %}</label></th>
                    <th><label>{% trans 'Designation' %}</label></th>
                    <th><label>{% trans 'Role' %}</label></th>
                    <th><label>{% trans 'Contact phone number' %}</label></th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-formset-body="{{form.prefix}}">
                {% for form_elem in form %}
                    {% include "management/includes/member_form.html" with form_elem=form_elem prefix=form.prefix process_pk=object.pk only %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=7 class="form-add">
                        <a href="#" data-formset-add="{{form.prefix}}" title="{% trans 'Add member' %}"><i class="ev-icon evi-addrow"></i></a>
                    </td>
                </tr>
            </tfoot>
        </table>
        <script type="form-template" data-formset-empty-form="{{form.prefix}}">
            {% escapescript %}
                {% include "management/includes/member_form.html" with form_elem=form.empty_form prefix=form.prefix process_pk=object.pk only %}
            {% endescapescript %}
        </script>
    </div>

    <div class="pure-g">
        {% if object.is_draft %}
            <div class="pure-u-1-2">
                <a href="{% url "management:electoralprocess-elections" slug=object.slug %}" class="pure-button pure-button-secondary pure-button-left pull-left">{% trans 'Previous' %}</a>
            </div>
            <div class="pure-u-1-2">
                <button type="submit" class="pure-button pure-button-primary pure-button-right pull-right">{% trans 'Next' %}</a>
            </div>
        {% else %}
            <div class="text-center pure-u-1">
                <button type="submit" class="pure-button pure-button-primary pure-button-smooth">{% trans 'Save' %}</button>
            </div>
        {% endif %}
    </div>
</form>

{% if not object.is_draft %}
    <div id="authform" class="hidden">
        {% url "management:electoralprocess-generate" slug=object.slug as succ_url %}
        {% url "management:electoralprocess-members-edit" slug=object.slug as error_url %}
        {% show_autenticacaogov_login succ_url error_url logo=False %}
    </div>
{% endif %}
