{% load i18n form_tags formset_tags %}


<tr data-formset-form={{prefix}}>
    <td class="vtop">
        {% prepare_field form_elem.designation %}
    </td>
    <td class="vtop col-doc">

        <div data-formset data-formset-prefix="{{form_elem.formset.prefix}}">
            {{form_elem.formset.non_field_errors}}
            {{form_elem.formset.management_form}}
            {{form_elem.id}}
            <table class="pure-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans "Document Name" %}</th>
                        <th>{% trans "Document file" %}</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-formset-body="{{form_elem.formset.prefix}}" data-sortable>
                    {% for f in form_elem.formset %}
                        {% include "management/includes/ordered_documents_form.html" with form=f prefix=form_elem.formset.prefix only %}
                    {% endfor %}
                </tbody>
            </table>
            <script type="form-template" data-formset-empty-form="{{form_elem.formset.prefix}}">
                {% escapescript %}
                    {% include "management/includes/ordered_documents_form.html" with form=form_elem.formset.empty_form prefix=form_elem.formset.prefix only %}
                {% endescapescript %}
            </script>
        </div>
    </td>
    <td class="vtop table-opt">
        <span class="hidden">{{form_elem.DELETE}}</span>
        <a href="#" data-formset-add="{{form_elem.formset.prefix}}" title="{% trans 'Add new document line' %}" class="pull-left"><i class="ev-icon evi-doc"></i></a>
        <a href="#" data-formset-delete-button="{{prefix}}" title="Delete document line" class="pull-right"><i class="ev-icon evi-delete"></i></a>
    </td>
</tr>
