{% load form_tags i18n static %}
<div data-formset-form="{{prefix}}" class="{{prefix}}-modal">
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="pure-panel">
                <div class="pure-g pure-gutter">
                    <div class="pure-u-1-2">
                        {% prepare_field form_elem.identifier_pt use_label=True %}
                    </div>
                    <div class="pure-u-1-2">
                        {% prepare_field form_elem.identifier_en use_label=True %}
                    </div>
                </div>
                <div class="pure-g pure-gutter">
                    <div class="pure-u-1-2">
                        {% prepare_field form_elem.description_pt use_label=True %}
                    </div>
                    <div class="pure-u-1-2">
                        {% prepare_field form_elem.description_en use_label=True %}
                    </div>
                </div>
                {{form_elem.id}}
                <span class="hidden">{{form_elem.DELETE}}</span>
                <div class="pure-u-1 {% if not is_member and not is_draft %}hidden{% endif %}">
                    <a href="#" data-formset-delete-button="{{prefix}}" title="Delete election" class="pull-right"><i class="ev-icon evi-delete"></i></a>
                </div>
            </div>
        </div>
    </div>
    {% include "management/includes/electoral_calendar_form.html" with form=form_elem index="1.1" only %}
</div>
