{% load i18n %}

<div class="pure-menu pure-menu-horizontal pure-menu-tab">
    <h1 class="pure-menu-tab-title">{{election}}</h1>
    <ul class="pure-menu-list pull-right">
        <li class="pure-menu-item {% if tab == 'configs' %}pure-menu-selected{% endif%}">
            <a class="pure-menu-link" href="{% if tab != 'configs' %}{% url "management:election-detail-configs" slug=election.electoral_process.slug slug_election=election.slug %}{% else %}#{% endif %}">
                {% trans "Configuration" %}
            </a>
        </li>
        <li class="pure-menu-item {% if tab == 'calendar' %}pure-menu-selected{% endif %}{% if not election.can_change_calendar %}pure-menu-disabled{% endif %}">
            <a class="pure-menu-link" href="{% if tab != 'calendar' and election.can_change_calendar %}{% url "management:election-detail-calendar" slug=election.electoral_process.slug slug_election=election.slug %}{% else %}#{% endif %}">
                {% trans "Electoral timetable" %}
            </a>
        </li>
        <li class="pure-menu-item {% if tab == 'categories' %}pure-menu-selected{% endif %}{% if not election.can_change_categories %}pure-menu-disabled{% endif %}" title="{% if not election.can_change_categories %}{% trans 'Only can change categories if election has weighted votes and the definitive electoral roll is not published yet.' %}{% endif %}">
            <a class="pure-menu-link" href="{% if tab != 'categories' and election.can_change_categories %}{% url "management:election-detail-categories" slug=election.electoral_process.slug slug_election=election.slug %}{% else %}#{% endif %}">
                {% trans "Voting weight" %}
            </a>
        </li>
        <li class="pure-menu-item {% if tab == 'rolls' %}pure-menu-selected{% endif %}{% if not election.can_change_rolls %}pure-menu-disabled{% endif %}">
            <a class="pure-menu-link" href="{% if tab != 'rolls' and election.can_change_rolls %}{% url "management:election-detail-rolls" slug=election.electoral_process.slug slug_election=election.slug %}{% else %}#{% endif %}">
                {% trans "Electoral roll" %}
            </a>
        </li>
        <li class="pure-menu-item {% if tab == 'candidates' %}pure-menu-selected{% endif %}{% if not election.can_change_candidates %}pure-menu-disabled{% endif %}" title="{% if not election.can_change_candidates %}{% trans 'Only can change candidates if period for the submission of applications have been reached' %}{% endif %}">
            <a class="pure-menu-link" href="{% if tab != 'candidates' and election.can_change_candidates %}{% url "management:election-detail-candidates" slug=election.electoral_process.slug slug_election=election.slug %}{% else %}#{% endif %}">
                {% trans "Applications" %}
            </a>
        </li>
        <li class="pure-menu-item {% if tab == 'bulletin' %}pure-menu-selected{% endif%}{% if not election.can_change_bulletin %}pure-menu-disabled{% endif %}" title="{% if not election.can_change_bulletin %}{% trans 'Only can change ballot paper if election configurations has been filled and at least one candidate have been created' %}{% endif %}">
            <a class="pure-menu-link" href="{% if tab != 'bulletin' and election.can_change_bulletin %}{% url "management:election-detail-bulletin" slug=election.electoral_process.slug slug_election=election.slug %}{% else %}#{% endif %}">
                {% trans "Ballot" %}
            </a>
        </li>
    </ul>
</div>
<div class="pure-menu-content"></div>
