{% load i18n form_tags %}

<div class="electoral-calendar-form">

    <section class="pure-sec-block">
        <h3 class="pure-sec-title">
            {{index}}.1 {% trans 'Period for the submission of applications' %}
        </h3>
        <div class="pure-sec-body">
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {{form.proposition_begin_date.label_tag }}
                </div>
                <div class="pure-u-6-24"></div>
                <div class="pure-u-6-24">
                    {{form.proposition_end_date.label_tag }}
                </div>
                <div class="pure-u-6-24"></div>
            </div>
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {% prepare_field form.proposition_begin_date %}
                </div>
                <div class="pure-u-6-24">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
                <div class="pure-u-6-24">
                    {% prepare_field form.proposition_end_date %}
                </div>
                <div class="pure-u-6-24">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
            </div>
        </div>
    </section>
    <section class="pure-sec-block">
        <h3 class="pure-sec-title">
            {{index}}.2 {% trans 'Electoral roll' %}
        </h3>
        <div class="pure-sec-body">
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {{form.roll_begin_date.label_tag }}
                </div>
                <div class="pure-u-6-24"></div>
                <div class="pure-u-6-24">
                    {{form.roll_end_date.label_tag }}
                </div>
                <div class="pure-u-6-24"></div>
            </div>
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {% prepare_field form.roll_begin_date %}
                </div>
                <div class="pure-u-6-24">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
                <div class="pure-u-6-24">
                    {% prepare_field form.roll_end_date %}
                </div>
                <div class="pure-u-6-24">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
            </div>
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {{form.complaint_begin_date.label_tag }}
                </div>
                <div class="pure-u-6-24"></div>
                <div class="pure-u-6-24">
                    {{form.complaint_end_date.label_tag }}
                </div>
                <div class="pure-u-6-24"></div>
            </div>
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {% prepare_field form.complaint_begin_date %}
                </div>
                <div class="pure-u-6-24">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
                <div class="pure-u-6-24">
                    {% prepare_field form.complaint_end_date %}
                </div>
                <div class="pure-u-6-24">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
            </div>
        </div>
    </section>
    <section class="pure-sec-block">
        <h3 class="pure-sec-title">
            {{index}}.3 {% trans 'Voting time' %}
        </h3>
        <div class="pure-sec-body">
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {{form.voting_begin_date.label_tag }}
                </div>
                <div class="pure-u-6-24"></div>
                <div class="pure-u-6-24">
                    {{form.voting_end_date.label_tag }}
                </div>
                <div class="pure-u-6-24"></div>
            </div>
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {% prepare_field form.voting_begin_date %}
                </div>
                <div class="pure-u-6-24">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
                <div class="pure-u-6-24">
                    {% prepare_field form.voting_end_date %}
                </div>
                <div class="pure-u-6-24">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
            </div>
        </div>
    </section>
    <section class="pure-sec-block">
        <h3 class="pure-sec-title">
            {{index}}.4 {% trans 'Voting results' %}
        </h3>
        <div class="pure-sec-body">
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {{ form.minute_publication_date.label_tag }}
                </div>
                <div class="pure-u-6-24"></div>
            </div>
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {% prepare_field form.minute_publication_date %}
                </div>
                <div class="pure-u-6-24">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
            </div>
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {{ form.minute_begin_date.label_tag }}
                </div>
                <div class="pure-u-6-24"></div>
                <div class="pure-u-6-24">
                    {{ form.minute_end_date.label_tag }}
                </div>
                <div class="pure-u-6-24"></div>
            </div>
            <div class="pure-g pure-gutter">
                <div class="pure-u-6-24">
                    {% prepare_field form.minute_begin_date %}
                </div>
                <div class="pure-u-6-24">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
                <div class="pure-u-6-24">
                    {% prepare_field form.minute_end_date %}
                </div>
                <div class="pure-u-6-24">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
            </div>
        </div>
    </section>
</div>
