{% load i18n %}

<div class="pure-menu pure-menu-horizontal pure-menu-tab">
    <h2 class="pure-menu-tab-title">
        {% if not object or object.is_draft %}
            {% trans 'Electoral process creation' %}
        {% else %}
            {% trans 'Electoral process edition' %}
        {% endif %}
    </h2>
    <ul class="pure-menu-list pull-right">
        <li class="pure-menu-item {% if general %}pure-menu-selected{% endif %}">
            {% if not object or object.is_draft %}
                <a class="pure-menu-link">{% trans 'General data' %}</a>
            {% else %}
                <a href="{% url "management:electoralprocess-edit" slug=object.slug %}" class="pure-menu-link">{% trans 'General data' %}</a>
            {% endif %}
        </li>
        {% if not request.user.is_electoral_member %}
            <li class="pure-menu-item {% if elections %}pure-menu-selected{% endif %}">
                {% if not object or object.is_draft %}
                    <a class="pure-menu-link">{% trans 'Elections' %}</a>
                {% else %}
                    <a href="{% url "management:electoralprocess-elections" slug=object.slug %}" class="pure-menu-link">{% trans 'Elections' %}</a>
                {% endif %}
            </li>
        {% endif %}
        <li class="pure-menu-item {% if members %}pure-menu-selected{% endif %}">
            {% if not object or object.is_draft %}
                <a class="pure-menu-link">{% trans 'Electoral commission' %}</a>
            {% elif request.user.is_electoral_member or not object.can_edit_members %}
                <a href="{% url "management:electoralprocess-members-view" slug=object.slug %}" class="pure-menu-link">{% trans 'Electoral commission' %}</a>
            {% else %}
                <a href="{% url "management:electoralprocess-members-edit" slug=object.slug %}" class="pure-menu-link">{% trans 'Electoral commission' %}</a>
            {% endif %}
        </li>
        {% if request.user.is_electoral_member and not object.is_draft %}
            <li class="pure-menu-item {% if comunication %}pure-menu-selected{% endif %}">
                <a href="{% url "management:electoralprocess-communication" slug=object.slug %}" class="pure-menu-link">{% trans 'Responsible for communication' %}</a>
            </li>
        {% endif %}
    </ul>
</div>
