{% load i18n %}

<div class="pure-g pure-title-row">
    <div class="pure-u-1-2">
        <h1>{{election}}</h1>
    </div>
    <div class="pure-u-1-2">
        <a href="#" class="pure-button pure-button-round pure-button-primary pull-right" data-partial-url="{% url 'management:election-countings' process_pk=election.electoral_process_id pk=election.pk %}">{% trans "Total ballot papers in ballot box" %}</a>
    </div>
</div>

<div class="pure-menu pure-menu-horizontal pure-menu-tab">

    <ul class="pure-menu-list pull-right">
        <li class="pure-menu-item {% if tab == 'open' %}pure-menu-selected{% endif%}">
            <a class="pure-menu-link" href="{% if tab != 'open' %}{% url 'management:election-manage' slug=election.electoral_process.slug slug_election=election.slug %}{% else %}#{% endif %}" >
                {% trans "Open poll" %}
            </a>
        </li>
        <li class="pure-menu-item {% if tab == 'close' %}pure-menu-selected{% endif%}">
            <a class="pure-menu-link" href="{% if tab != 'close' %}{% url 'management:election-manage-close' slug=election.electoral_process.slug slug_election=election.slug %}{% else %}#{% endif %}">
                {% trans "Close poll" %}
            </a>
        </li>
        <li class="pure-menu-item {% if tab == 'scrutinize' %}pure-menu-selected{% endif %}{% if not election.can_manage_counting %}pure-menu-disabled{% endif %}">
            <a class="pure-menu-link" href="{% if tab != 'scrutinize' and election.can_manage_counting %}{% url 'management:election-manage-scrutinize' slug=election.electoral_process.slug slug_election=election.slug %}{% else %}#{% endif %}">
                {% trans "Ballot paper counting" %}
            </a>
        </li>
    </ul>
</div>
<div class="pure-menu-content"></div>
