{% load i18n %}
<form action="{% url 'management:election-detail-rolls-publish' slug=object.election.electoral_process.slug slug_election=object.election.slug %}" data-secure-action="{{secure_action_url}}" data-ajax-submit method="POST">{% csrf_token %}
    <button type="submit" class="pure-button pure-button-secondary pure-button-round">{% trans "Publish electoral roll" %}</button>
</form>
