{% load i18n static %}

<div class="pure-menu pure-menu-horizontal">
    <div class="wrap footer-menu">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">{% trans 'About eVotUM' %}</a></li>
        </ul>
    </div>
</div>
<div class="wrap">
    <p class="copyright">
        <span>&copy; {% trans 'University of Minho' %} - {% now 'Y' %}</span>
        <img src="{% static 'images/feei.png' %}" alt="COMPETE 2020" height="80px">
    </p>
</div>
