{% load i18n static %}

<div class="overlay"></div>

<div class="history-sidebar">

    <div class="history-bar">
        <a href="#" class="toggle-sidebar"><i class="ev-icon evi-arrow-med-right"></i></a>
        <div class="boxnumber text-center" data-count-url="{% url 'management:electoralprocess-history-count' process_pk=process_pk %}"></div>
        <span>{% trans 'History of actions' %}</span>
    </div>

    <div class="history-info">
        <div class="bar-title">
            {% trans 'History of actions' %}
            <a href="#" class="toggle-sidebar"><i class="ev-icon evi-arrow-med-right"></i></a>
        </div>
        <ul class="entries" data-jscroll>
            {% include 'management/includes/history_list.html' with entries=entries process_pk=process_pk next_page=next_page more=more page=page %}
        </ul>
    </div>
</div>
