{% load i18n logs_tags %}

{% if entries %}
    {% for entry in entries %}
        {% is_new_entry entry as new %}
        <li class="entry {% if new %}new{% endif %}">
            <div class="details">
                <div class="date">{{entry.created}}</div>
                <div class="name">{{entry.get_name}}</div>
                <div class="description">{{entry.get_description}}</div>
                <div class="identifier">{{entry.object_repr}}</div>
            </div>
        </li>
    {% endfor %}
{% elif next_page != 1 %}
    <li class="entry new empty">
        <div class="details">{% trans 'No history' %}</div>
    </li>
{% endif %}
{% if more %}
    <a data-jscroll-next href="{% url 'management:electoralprocess-history-next' process_pk=process_pk %}?page={{next_page}}">more</a>
{% endif %}
