{% load i18n form_tags %}

<tr data-formset-form="{{prefix}}" data-formset-name="{{prefix}}">
    <td>
        {% prepare_field form_elem.username %}
    </td>
    <td>
        {% if not form_elem.instance.id %}
            <a class="pure-button pure-button-primary pure-button-round pure-button-small" data-verify="{{form_elem.username.auto_id}}" data-ajax-url="{% url 'management:electoralmember-verify' process_pk %}">{% trans 'Verify' %}</a>
        {% endif %}
    </td>
    <td>
        {% prepare_field form_elem.email %}
    </td>
    <td>
        {% prepare_field form_elem.name %}
    </td>
    <td>
        {% prepare_field form_elem.designation %}
    </td>
    <td>
        {% prepare_field form_elem.role %}
    </td>
    <td>
        {% prepare_field form_elem.phone %}
    </td>
    <td class="table-opt">
        {{form_elem.id}}
        {{form_elem.electoral_process}}
        <span class="hidden">{{form_elem.DELETE}}</span>
        <a href="#" data-formset-delete-button="{{prefix}}" title="Delete member" class="pull-right"><i class="ev-icon evi-delete"></i></a>
    </td>
</tr>

