{% load i18n messages_tags %}

<div class="pure-g pure-gutter pure-title-row">
    <div class="pure-u-1 pure-u-md-1-2">
        <h1>{{title}}</h1>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 ev-top-actions">
        <div class="pure-u-1-4 pull-right">
            <a href="{% url 'management:messages-archived' process_slug=group_object.slug %}" class="pure-button {% if is_archivedbox %}pure-button-primary{% else %}pure-button-secondary{% endif %} pure-button-round pull-right">{% trans 'Archived' %}</a>
        </div>
        <div class="pure-u-1-4 pull-right">
            <a href="{% url 'management:messages-sent' process_slug=group_object.slug %}" class="pure-button {% if is_sentbox %}pure-button-primary{% else %}pure-button-secondary{% endif %} pure-button-round pull-right">{% trans 'Sent' %}</a>
        </div>
        <div class="pure-u-1-4 pull-right">
            {% inbox_unread_count group_object=group_object as unread_count %}
            <a href="{% url 'management:messages-received' process_slug=group_object.slug %}" class="pure-button {% if is_inbox %}pure-button-primary{% else %}pure-button-secondary{% endif %} pure-button-round pull-right">
                {% trans 'Received' %}
                {% if unread_count %}
                    ({{unread_count}})
                {% endif %}
            </a>
        </div>
    </div>
</div>

<div class="action-bar">
    {% if is_comunication_responsible %}
        <a href="{% url 'management:messages-create' process_slug=group_object.slug %}" class="pure-button pure-button-small nobg pure-button-primary pure-button-round">{% trans 'New' context 'message' %} <i class="ev-icon evi-new-msg"></i></a>
    {% endif %}
</div>
