{% load i18n form_tags %}
<tr data-formset-form="{{prefix}}" data-formset-name="{{prefix}}">
    <td data-handle class="col-move">
        &#9776;
    </td>
    <td class="vtop col-doc-designation">{% prepare_field form.designation %}</td>
    <td class="vtop col-doc-document">{% prepare_field form.document %}</td>
    <td class="vtop col-opt">
        {% if form.instance and form.instance.pk %}
            <a href="{{form.instance.document.url}}" title="{% trans 'Open file' %}" target="_blank"><i class="ev-icon evi-pdf"></i></a>
        {% endif %}
    </td>
    <td class="vtop col-opt">
        {{form.id}}
        <span class="hidden">{{form.order}}</span>
        <span class="hidden">{{form.DELETE}}</span>
        <a href="#" data-formset-delete-button="{{prefix}}" title="{% trans 'Delete document line' %}"><i class="ev-icon evi-delrow"></i></a>
    </td>
</tr>
