{% load i18n static thumbnail %}

<div class="site-top">
    <div class="pure-menu pure-menu-horizontal wrap">
        <a href="https://www.uminho.pt/" target="_blank" class="pure-menu-heading pull-left"><img alt="{% trans 'Minho\'s University' %}" src="{% static 'images/logo-um.png' %}"></a>
        <span>{% trans "Election management system" %}</span>

        {% if request.user.is_authenticated %}
            <ul class="pure-menu-list pull-right">
                <li class="pure-menu-item">
                    <a href="{% url 'management:personal-data' %}" class="profile-info">
                        <span class="profile-photo">
                            {% thumbnail request.user.photo "46x46" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        </span>
                        {{request.user.name|default:request.user.email}}
                    </a>
                </li>
                <li class="pure-menu-item">
                    <a href="{{LOGOUT_URL}}" {% if ADFS_WSFED %}data-ajax-logout data-after-logout="{{LOGIN_URL}}"{% endif %}
                       class="pure-button pure-button-primary">{% trans 'Logout' %}</a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>
