{% load i18n static core_tags %}

<div class="sub-header">
    <div class="pure-menu pure-menu-horizontal wrap">
        <a href="{% url 'management:electoralprocess-list' %}" class="sub-header-logo pull-left"><img alt="eVotUM" src="{% static 'images/logo-evotum-alt.png' %}"></a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item choose-language">
                {% get_available_languages as languages %}
                <form class="pure-form" action="{% url 'set_language' %}" method="POST" data-submit-onchange>
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.get_full_path|strip_lang_prefix }}" />
                    <select name="language" class="pure-select" data-style-select>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </li>
        </ul>

        <ul class="pure-menu-list pull-right">
            <li class="pure-menu-item"><a href="{% url 'management:electoralprocess-list' %}" class="pure-menu-link{% if selected_menu == 0 %} selected{% endif %}">{% trans 'Electoral processes' %}</a></li>
            <li class="pure-menu-item"><a href="{% url 'management:personal-data' %}" class="pure-menu-link{% if selected_menu == 3 %} selected{% endif %}">{% trans 'Personal data' %}</a></li>
        </ul>
    </div>
</div>
