{% extends 'base.html' %}

{% load static i18n core_tags %}

{% block googleanalytics %}{% endblock googleanalytics %}


{% block bodyextraclass %}management{% endblock bodyextraclass %}


{% block breadcrumbs_wrapper %}
    <ul class="pure-breadcrumbs wrap">
        {% block breadcrumbs %}
            {% trans "Electoral processes" as title %}
            {% breadcrumb title "management:electoralprocess-list" %}
        {% endblock breadcrumbs %}
    </ul>
{% endblock breadcrumbs_wrapper %}

{% block header %}
    <header class="site-header">
        {% include 'management/includes/topbar.html' %}
        {% if request.user.is_authenticated and request.user.is_management_user %}
            {% include 'management/includes/topsubbar.html' %}
        {% endif %}
    </header>
    {% if request.user.is_electoral_member and show_history %}
        {% include 'management/includes/history_sidebar.html' %}
    {% endif %}
{% endblock header %}

{% block alertmessages %}{% endblock alertmessages %}

{% block footer %}
    <footer class="site-footer">
        {% include 'management/includes/footer.html' %}
    </footer>
{% endblock footer %}


{% block extrajs %}
    <script type="text/javascript" charset="utf-8" src="{% static 'management/js/secure-actions.jquery.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'management/js/main.jquery.js' %}"></script>

    {% if request.user.is_electoral_member %}
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/jscroll/jquery.jscroll.min.js' %}"></script>
    {% endif %}
{% endblock extrajs %}
