{% extends 'management/base.html' %}

{% load i18n core_tags form_tags %}


{% block bodyextraclass %}{{block.super}} election-manage{% endblock bodyextraclass %}


{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb object.electoral_process "management:electoralprocess-detail" slug=object.electoral_process.slug %}
    {% trans "Elections" as elections %}
    {% breadcrumb elections "management:election-list" slug=object.electoral_process.slug %}
    {% breadcrumb object "management:election-detail-configs" slug=object.electoral_process.slug slug_election=object.slug %}
    {% trans "Election day dashboard" as critical_operations %}
    {% breadcrumb critical_operations %}
{% endblock breadcrumbs %}


{% block container %}
    <main class="wrap">

        {% include "management/includes/election_manage_tabs.html" with election=object tab="open" only %}

        <div class="pure-help">
            <i class="ev-icon evi-help"></i>
            {% trans "Please confirm the start of the voting time" %}
        </div>

        <br>

        <form class="pure-form" action="" method="POST" novalidate data-ajax-submit data-secure-action="{{secure_action_url}}">{% csrf_token %}
            <div class="pure-g">
                <div class="pure-u-1">
                    {{form.voting_begin_date.label_tag }}
                </div>
            </div>
            <div class="pure-g pure-gutter">
                <div class="pure-u-1-3">
                    {% prepare_field form.voting_begin_date %}
                </div>
                <div class="pure-u-1-3">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
            </div>
            <hr>
            <br>
            <div class="text-center">
                <button type="submit" class="pure-button pure-button-round pure-button-primary" {% if not object.can_manage_open %}disabled{% endif %}>{% trans "Approve the start of the voting time" %}</button>
            </div>
        </form>

    </main>
{% endblock container %}
