{% extends 'management/election_detail_configs.html' %}

{% load i18n core_tags form_tags formset_tags %}


{% block container %}
    <main class="wrap">
        {% include "management/includes/election_tabs.html" with election=object tab="categories" only %}

        <div class="pure-help">
            <i class="ev-icon evi-help"></i>
            {% trans "Please associate the Identifier (Id) with the voting weight" %}
        </div>

        <form class="pure-form" action="" method="post" novalidate data-ajax-submit data-secure-action="{{secure_action_url}}">{% csrf_token %}

            <div data-formset data-formset-prefix="{{form.prefix}}">
                {{form.management_form}}

                <table class="pure-table pure-table-alt">
                    <thead>
                        <th>{% trans "Id" %}</th>
                        <th class="s-40">{% trans "Description [PT]" %}</th>
                        <th class="s-40">{% trans "Description [EN]" %}</th>
                        <th class="s-10">{% trans "Weight" %}</th>
                        <th></th>
                    </thead>
                    <tbody data-formset-body="{{form.prefix}}">
                        {% with default_category=object.categories.default %}
                            {% if default_category %}
                                <tr>
                                    <td>{{default_category.slug}}</td>
                                    <td class="vtop">{{ default_category.designation_pt }}</td>
                                    <td class="vtop">{{ default_category.designation_en }}</td>
                                    <td class="vtop">{{ default_category.weight }}</td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endwith %}
                        {% for f in form %}
                            <tr data-formset-form="{{form.prefix}}">
                                <td>{{f.instance.slug}}</td>
                                <td class="vtop">{% prepare_field f.designation_pt %}</td>
                                <td class="vtop">{% prepare_field f.designation_en %}</td>
                                <td class="vtop">{% prepare_field f.weight %}</td>
                                <td class="text-right vtop">
                                    {{f.id}}
                                    {{f.election}}
                                    <span class="hidden">{{ f.DELETE }}</span>
                                    <a href="#" data-formset-delete-button="{{form.prefix}}" title="{% trans 'Delete line' %}"><i class="ev-icon evi-delete"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="form-add">
                                <a href="#" data-formset-add="{{form.prefix}}" title="{% trans 'Add new line' %}">
                                    <i class="ev-icon evi-addrow"></i>
                                </a>
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <script type="form-template" data-formset-empty-form="{{form.prefix}}">
                    {% escapescript %}
                        <tr data-formset-form="{{form.prefix}}">
                            <td class="vtop"></td>
                            <td class="vtop">{% prepare_field form.empty_form.designation_pt %}</td>
                            <td class="vtop">{% prepare_field form.empty_form.designation_en %}</td>
                            <td class="vtop">{% prepare_field form.empty_form.weight %}</td>
                            <td class="text-right vtop">
                                {{form.empty_form.id}}
                                {{form.empty_form.election}}
                                <span class="hidden">{{ form.empty_form.DELETE }}</span>
                                <a href="#" data-formset-delete-button="{{form.prefix}}"><i class="ev-icon evi-delete"></i></a>
                            </td>
                        </tr>
                    {% endescapescript %}
                </script>

            </div>
            <div class="text-center pure-u-1">
                <button type="submit" class="pure-button pure-button-primary pure-button-smooth">{% trans "Save" %}</button>
            </div>

        </form>
    </main>
{% endblock container %}
