{% extends 'management/base.html' %}

{% load i18n core_tags form_tags %}


{% block bodyextraclass %}{{block.super}} election-detail{% endblock bodyextraclass %}


{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb object.electoral_process "management:electoralprocess-detail" slug=object.electoral_process.slug %}
    {% trans "Elections" as elections %}
    {% breadcrumb elections "management:election-list" slug=object.electoral_process.slug %}
    {% breadcrumb object %}
{% endblock breadcrumbs %}


{% block container %}
    <main class="wrap">
        {% include "management/includes/election_tabs.html" with election=object tab="configs" only %}

        <div class="pure-help">
            <i class="ev-icon evi-help"></i>
            {% trans "Please configure the type of election to conduct" %}
        </div>

        <form class="pure-form" action="" method="post" novalidate data-ajax-submit data-secure-action="{{secure_action_url}}">{% csrf_token %}
            {{form.non_field_errors}}

            <div class="pure-panel">
                <div class="pure-g pure-gutter">
                    <div class="pure-u-1-2">
                        {% prepare_field form.identifier_pt use_label=True %}
                    </div>
                    <div class="pure-u-1-2">
                        {% prepare_field form.identifier_en use_label=True %}
                    </div>
                </div>
                <div class="pure-g pure-gutter">
                    <div class="pure-u-1-2">
                        {% prepare_field form.description_pt use_label=True %}
                    </div>
                    <div class="pure-u-1-2">
                        {% prepare_field form.description_en use_label=True %}
                    </div>
                </div>
            </div>

            <div class="pure-g pure-sub">
                <div class="pure-u-1 pure-u-md-1-12">
                    <label for="{{form.limit_remarkable_choices.id_for_label}}">1. {{form.limit_remarkable_choices.label}}</label>
                    {% prepare_field form.limit_remarkable_choices %}
                </div>
            </div>

            <hr>

            <div class="pure-g pure-sub">
                <div class="pure-u-1-1">
                    <label for="{{form.write_in.id_for_label}}">2. {{form.write_in.label}}</label>
                    {% prepare_field form.write_in %}
                </div>
            </div>

            <hr>

            <div class="pure-g pure-sub">
                <div class="pure-u-1-1">
                    <label for="{{form.ordered_voting.id_for_label}}">3. {{form.ordered_voting.label}}</label>
                    {% prepare_field form.ordered_voting %}
                </div>
            </div>

            <hr>

            <div class="pure-g pure-sub">
                <div class="pure-u-1-1">
                    <label for="{{form.weight_votes.id_for_label}}">4. {{form.weight_votes.label}}</label>
                    {% prepare_field form.weight_votes %}
                </div>
            </div>

            <hr>
            <div data-hondt>
                <div class="pure-g pure-sub">
                    <div class="pure-u-1-5">
                        <label for="{{form.hondt_method.id_for_label}}">5. {{form.hondt_method.label}}</label>
                    </div>
                    <div class="pure-u-1-5">
                        <label for="{{form.hondt_total_seats.id_for_label}}">5.1 {{form.hondt_total_seats.label}}</label>
                    </div>
                </div>
                <div class="pure-g pure-sub">
                    <div class="pure-u-1-5">
                        {% prepare_field form.hondt_method %}
                    </div>
                    <div class="pure-u-1-5">
                        {% prepare_field form.hondt_total_seats %}
                    </div>
                </div>
            </div>

            <hr>
            <div class="text-center pure-u-1">
                <button type="submit" class="pure-button pure-button-primary pure-button-smooth">{% trans "Save" %}</button>
            </div>
        </form>
    </main>
{% endblock container %}
