{% extends 'management/base.html' %}

{% load i18n core_tags form_tags formset_tags thumbnail %}

{% block breadcrumbs %}
    {{block.super}}
    {% if not object or object.is_draft %}
        {% trans 'New' as title context 'electoral process' %}
        {% breadcrumb title %}
    {% else %}
        {% if request.user.is_electoral_member %}
            {% breadcrumb object "management:electoralprocess-detail" slug=object.slug %}
        {% else %}
            {% breadcrumb object "management:electoralprocess-edit" slug=object.slug %}
        {% endif %}
        {% trans 'Edit' as edit %}
        {% breadcrumb edit %}
    {% endif %}
{% endblock breadcrumbs %}

{% block container %}
    <main class="wrap">
        <div class="pure-u-1">
            {% include "management/includes/electoralprocess_tabs.html" with elections=True %}
            <div class="pure-menu-content"></div>
            <div class="pure-u-1">
                <div class="pure-help">
                    <i class="ev-icon evi-help"></i>
                    {% trans 'Please insert the information needed to create the election(s)' %}
                </div>
            </div>
            <form action="" method="post" class="pure-form" novalidate data-ajax-submit>
                {% csrf_token %}
                <section class="pure-sec-block">
                    <h3 class="pure-sec-title">1.1 {% trans 'Elections' %}</h3>
                    <div class="pure-sec-body full-row vertical-space">
                        <div data-formset data-formset-prefix="{{form.prefix}}">
                            {{ form.management_form }}
                            <div class="elections-forms" data-formset-body="{{form.prefix}}">
                                {% for form_elem in form %}
                                    <hr/>
                                    {% include "management/includes/election_new_form.html" with form_elem=form_elem prefix=form.prefix is_draft=object.is_draft is_member=request.user.is_electoral_member only %}
                                {% endfor %}
                           </div>
                            <script type="form-template" data-formset-empty-form="{{form.prefix}}">
                                {% escapescript %}
                                    <hr/>
                                    {% include "management/includes/election_new_form.html" with form_elem=form.empty_form prefix=form.prefix is_draft=object.is_draft is_member=request.user.is_electoral_member only %}
                                {% endescapescript %}
                            </script>
                            {% if object.is_draft %}
                                <div class="text-center addrow">
                                    <a data-formset-add="{{form.prefix}}"><i class="ev-icon evi-addrow"></i></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
                {% if not object or object.is_draft %}
                    <div class="pure-u-1-2">
                        <a href="{% url "management:electoralprocess-edit" slug=object.slug %}" class="pure-button pure-button-secondary pure-button-left pull-left">{% trans 'Previous' %}</a>
                    </div>
                    <button type="submit" class="pure-button pure-button-primary pure-button-right pull-right">{% trans 'Next' %}</button>
                {% else %}
                    <div class="text-center">
                        <button type="submit" class="pure-button pure-button-primary pure-button-smooth" {% if not request.user.is_electoral_member and not object.is_draft %}disabled{% endif %}>{% trans 'Save' %}</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </main>
{% endblock container %}
