{% extends "management/base.html" %}

{% load i18n static core_tags django_tables2 formset_tags %}

{% block extrajs %}
    {{block.super}}
    <script type="text/javascript" charset="utf-8" src="{% static 'management/js/dtsi-emailcheck.jquery.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    {{block.super}}
    {% if object.is_draft %}
        {% trans 'New' as title %}
        {% breadcrumb title context 'electoral process' %}
    {% else %}
        {% if request.user.is_electoral_member %}
            {% breadcrumb object "management:electoralprocess-detail" slug=object.slug %}
        {% else %}
            {% breadcrumb object "management:electoralprocess-edit" slug=object.slug %}
        {% endif %}
        {% trans 'Edit' as edit %}
        {% breadcrumb edit %}
    {% endif %}
{% endblock breadcrumbs %}

{% block container %}
    <main class="wrap">
        <div class="pure-g">
            <div class="pure-u-1">
                {% include "management/includes/electoralprocess_tabs.html" with members=True %}
                <div class="pure-menu-content">
                    <h2>{% trans 'Electoral process' %} {{object.identifier}}</h2>
                </div>
            </div>
            {% if not request.user.is_electoral_member %}
            <div class="pure-u-1">
                <div class="pure-help">
                    <i class="ev-icon evi-help"></i>
                    {% trans 'Please insert the members of the electoral commission' %}
                </div>
            </div>
            {% endif %}
        </div>

        {% if request.user.is_electoral_member or not object.can_edit_members %}
            {% render_table table %}
        {% else %}
            {% include "management/includes/electoralprocess_members_form.html" %}
        {% endif %}
    </main>
{% endblock container %}
