{% extends 'management/election_manage.html' %}

{% load i18n form_tags %}


{% block container %}
    <main class="wrap">

        {% include "management/includes/election_manage_tabs.html" with election=object tab="close" only %}

        <div class="pure-help">
            <i class="ev-icon evi-help"></i>
            {% trans "Please confirm the end of the voting time" %}
        </div>

        <br>

        <form class="pure-form" action="" method="POST" novalidate data-ajax-submit data-secure-action="{{secure_action_url}}">{% csrf_token %}
            <div class="pure-g">
                <div class="pure-u-1">
                    {{form.voting_end_date.label_tag }}
                </div>
            </div>
            <div class="pure-g pure-gutter">
                <div class="pure-u-1-3">
                    {% prepare_field form.voting_end_date %}
                </div>
                <div class="pure-u-1-3">
                    <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                </div>
            </div>
            <hr>
            <br>
            <div class="text-center">
                <button type="submit" class="pure-button pure-button-round pure-button-primary" {% if not object.can_manage_close %}disabled{% endif %}>{% trans "Approve the end of the voting time" %}</button>
            </div>
        </form>

    </main>
{% endblock container %}
