{% extends 'management/election_detail_configs.html' %}

{% load i18n core_tags form_tags django_tables2 %}


{% block container %}
    <main class="wrap">
        {% include "management/includes/election_tabs.html" with election=object tab="rolls" only %}

        <div class="pure-help">
            <i class="ev-icon evi-help"></i>
            {% trans "Please upload the file with the voters" %}
        </div>

        <form class="pure-form" action="" method="post" novalidate data-ajax-submit>{% csrf_token %}
            {{form.non_field_errors}}

            <table class="pure-table pure-table-alt">
                <thead>
                    <tr>
                        <th class="s-25">{% trans "Description" %}</th>
                        <th>{% trans "Document" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-pure-button">
                        <td class="vtop">{% prepare_field form.designation %}</td>
                        <td class="vtop">{% prepare_field form.document %}</td>
                        <td class="text-right vtop"><button type="submit" class="pure-button pure-button-primary pure-button-round" {% if form.is_importing %}disabled{% endif %}>{% trans "Submit" %}</button></td>
                    </tr>
                </tbody>
            </table>
        </form>

        {% render_table table %}

        <small>&#x21bb; - {% trans "refresh the page to update the status" %}</small>
    </main>
{% endblock container %}
