{% extends 'management/election_manage.html' %}

{% load django_tables2 i18n static %}


{% block container %}
    <main class="wrap">
        {% include "management/includes/election_manage_tabs.html" with election=object tab="scrutinize" only %}

        {% if not scrutinizing and not finished %}

            <div class="pure-help">
                <i class="ev-icon evi-help"></i>
                {% trans "Please start the vote counting" %}
            </div>

            <form class="pure-form" action="" method="POST" novalidate data-ajax-submit data-secure-action="{{secure_action_url}}">
                {% csrf_token %}
                <div class="text-center">
                    <button type="submit" class="pure-button pure-button-round pure-button-primary">{% trans "Start vote counting" %}</button>
                </div>
            </form>

        {% elif scrutinizing and not finished %}

            <div class="pure-help">
                <i class="ev-icon evi-help"></i>
                {% trans "Vote counting in progress..." %}
            </div>

            <div class="pure-panel">
                <ul class="manage-scrutiny" data-scrutiny data-scrutiny-endpoint="{% url 'management:election-scrutiny-status' pk=object.pk process_pk=object.electoral_process_id %}">
                    <li data-scrutiny-error="0">
                        <p>{% trans "An error has occurred during de vote counting." %}</p>
                        <a href="" class="pure-button pure-button-round pure-button-primary">{% trans "Restart counting" %}</a>
                    </li>
                    <li data-scrutiny-status="1">{% trans "Extraction" %}</li>
                    <li data-scrutiny-status="2">{% trans "Decryption and signature" %}</li>
                    <li data-scrutiny-status="3">{% trans "Count" %}</li>
                    <li data-scrutiny-status="4">{% trans "Final check" %}</li>
                </ul>
            </div>

        {% elif finished %}

            <div class="pure-help">
                <i class="ev-icon evi-help"></i>
                {% trans "Election results" %}
            </div>

            <div class="pure-g pure-gutter">
                {% if object.weight_votes %}
                    <div class="pure-u-4-24"></div>
                    <div class="pure-u-8-24">
                        <h5 class="manage-count-title">{% trans "Total votes with weight" %}:</h5>
                        <div class="manage-count">{{total_votes_weight}}</div>
                    </div>
                    <div class="pure-u-8-24">
                        <h5 class="manage-count-title">{% trans "Total votes without weight" %}:</h5>
                        <div class="manage-count">{{total_votes}}</div>
                    </div>
                {% else %}
                    <div class="pure-u-8-24"></div>
                    <div class="pure-u-8-24">
                        <h5 class="manage-count-title">{% trans "Total votes in ballot box" %}:</h5>
                        <div class="manage-count">{{total_votes}}</div>
                    </div>
                {% endif %}
            </div>

            {% render_table results_table %}

            <section class="pure-sec-block">
                <h3 class="pure-sec-title">
                    {% trans "Aditional info" %}
                </h3>

                {% render_table results_extra_table %}
            </section>
            <div class="pure-u-1 text-center">
                {% if object.pdf_document.document %}
                    <a href="{{object.pdf_document.document.url}}" class="pure-button pure-button-primary pure-button-round" target="_blank">{% trans "Download election results" %}</a>
                {% else %}
                    <a href="#" class="pure-button pure-button-primary pure-button-round" disabled>{% trans "Election results (generating...)" %}</a>
                {% endif %}
                {% if object.pdf_voters_document.document %}
                    <a href="{{object.pdf_voters_document.document.url}}" class="pure-button pure-button-primary pure-button-round" target="_blank">{% trans "Download voters list" %}</a>
                {% else %}
                    <a href="#" class="pure-button pure-button-primary pure-button-round" disabled>{% trans "Voters list (generating...)" %}</a>
                {% endif %}
            </div>

        {% endif %}
    </main>
{% endblock container %}


{% block extrajs %}
    {{block.super}}
    <script type="text/javascript" charset="utf-8" src="{% static 'management/js/scrutiny.jquery.js' %}"></script>
{% endblock extrajs %}
