{% extends "voters/election_voting_step1.html" %}

{% load i18n static %}

{% block voting_navigation %}
    <div class="voting-navigation text-center">
        <a href="{% url 'management:election-detail-bulletin' slug=object.electoral_process.slug slug_election=object.slug %}" class="pure-button pure-button-big pure-button-primary pure-button-smooth">{% trans "Close preview" %}</a>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" charset="utf-8" src="{% static 'voters/js/main.jquery.js' %}"></script>
{% endblock extrajs %}
