{% extends 'management/election_detail_configs.html' %}

{% load i18n core_tags form_tags %}


{% block container %}
    <main class="wrap">
        {% include "management/includes/election_tabs.html" with election=object tab="calendar" only %}

        <form class="pure-form" action="" method="post" novalidate data-ajax-submit data-secure-action="{{secure_action_url}}">{% csrf_token %}
            {{form.non_field_errors}}

            <div class="pure-u-1">
                <div class="pure-help">
                    <i class="ev-icon evi-help"></i>
                    {% trans 'Please enter the electoral timetable' %}
                </div>
            </div>

            {% include "management/includes/electoral_calendar_form.html" with form=form index=2 only %}

            <hr>
            <div class="text-center pure-u-1">
                <button type="submit" class="pure-button pure-button-primary pure-button-smooth">{% trans "Save" %}</button>
            </div>

        </form>
    </main>
{% endblock container %}
