{% extends 'management/base.html' %}

{% load i18n core_tags %}


{% block breadcrumbs %}
    {{block.super}}
    {% trans 'New' as title context 'electoral process' %}
    {% breadcrumb title %}
{% endblock breadcrumbs %}

{% block container %}
    <main class="wrap">
        <div class="pure-g">
            <div class="pure-u-1">
                <section class="pure-sec-block">
                    <div class="pure-menu pure-menu-horizontal pure-menu-tab">
                        <h2 class="pure-menu-tab-title">{% trans 'Electoral process creation' %}</h2>
                    </div>
                    <h3 class="pure-sec-title">{% trans 'Electoral process created' %}</h3>
                    <div class="pure-sec-body pure-g full-row vertical-space">
                        <div class="pure-u-1 confirm-msg">
                            <div class="pure-info">
                                <i class="ev-icon evi-info"></i>
                                {% trans 'The electoral process was succefully created.' %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="pure-u-1 text-center">
                <a href="{% url "management:electoralprocess-list" %}" class="pure-button pure-button-primary pure-button-smooth pure-button-big">{% trans 'Ok' %}</a>
            </div>
        </div>
    </main>
{% endblock container %}
