{% extends 'management/election_detail_configs.html' %}

{% load i18n core_tags form_tags thumbnail %}


{% block container %}
    <main class="wrap">
        {% include "management/includes/election_tabs.html" with election=object tab="bulletin" only %}

        <div class="pure-help">
            <i class="ev-icon evi-help"></i>
            {% trans "Please configure the ballot paper" %}
        </div>

        <form class="pure-form" action="" method="post" novalidate data-ajax-submit data-secure-action="{{secure_action_url}}">{% csrf_token %}
            {{form.non_field_errors}}

            <div class="pure-panel">
                <label>{% trans "Instruction to appear on the ballot paper before the candidates/list of candidates" %}</label>
                <div class="pure-g pure-gutter">
                    <div class="pure-u-1-2">
                        <label for="{{form.instructions_pt.id_for_label}}">[pt]</label>
                        {% prepare_field form.instructions_pt %}
                    </div>
                    <div class="pure-u-1-2">
                        <label for="{{form.instructions_en.id_for_label}}">[en]</label>
                        {% prepare_field form.instructions_en %}
                    </div>
                </div>
            </div>

            <div class="pure-panel">
                <label>{% trans "Select how candidates/list of candidates are presented  on the ballot paper (based on the type of election configured, not all modes may be available)." %}</label>
                {% prepare_field form.presentation_mode %}
            </div>

            {% if not object.write_in %}
                {{form.formset.management_form}}
                <table class="pure-table pure-table-alt">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "Logo" %}</th>
                            <th>{% trans "Designation" %}</th>
                            <th class="pull-right"><a href="#" class="pure-button pure-button-secondary pure-button-round pull-right" data-shuffle="candidates">{% trans "Shuffle candidates" %}</a>
                            </th>
                            <th class="s-10">
                            <a href="{% url 'management:election-detail-bulletin-preview' slug=object.electoral_process.slug slug_election=object.slug %}" class="pure-button pure-button-secondary pure-button-round pull-right">{% trans "Ballot paper preview" %}</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-sortable data-shuffle-container="candidates">
                        {% for f in form.formset %}
                            <tr>
                                <td class="col-move">
                                    &#9776;
                                </td>
                                <td class="col-logo">
                                    {% thumbnail f.instance.logo "84x84" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                </td>
                                <td>{{f.instance.designation}}</td>
                                <td>
                                    {{f.id}}
                                    <span class="hidden">{{f.order}}</span>
                                </td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="pure-u-1">
                    <a href="{% url 'management:election-detail-bulletin-preview' slug=object.electoral_process.slug slug_election=object.slug %}" class="pure-button pure-button-secondary pure-button-round pull-right">{% trans "Ballot paper preview" %}</a>
                </div>
            {% endif %}

            <div class="text-center">
                <button type="submit" class="pure-button pure-button-primary pure-button-smooth">{% trans "Save" %}</button>
            </div>

        </form>
    </main>
{% endblock container %}
