{% extends 'management/base.html' %}

{% load i18n thumbnail core_tags django_tables2 %}


{% block breadcrumbs %}{% endblock breadcrumbs %}


{% block container %}
    <main class="wrap">
        <div class="pure-g pure-gutter pure-title-row">
            <div class="pure-u-1 pure-u-md-1-2">
                <h1>{% trans 'Electoral Processes' %}</h1>
            </div>
            {% if request.user.is_institutional_responsible %}
                <div class="pure-u-1 pure-u-md-1-2 ev-top-actions">
                    <a href="{% url 'management:electoralprocess-new' %}" class="pure-button pure-button-secondary pure-button-round pull-right">{% trans 'New electoral process' %}</a>
                </div>
            {% endif %}
        </div>
        {% render_table table %}
    </main>
{% endblock container %}
