{% extends "management/base.html" %}

{% load i18n static core_tags %}


{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb object "management:electoralprocess-detail" slug=object.slug %}
    {% trans "Security level configuration" as actions %}
    {% breadcrumb actions %}
{% endblock breadcrumbs %}


{% block container %}
    <main class="wrap">
        <div class="pure-menu pure-menu-horizontal pure-menu-tab">
            <ul class="pure-menu-list pull-right">
                <li class="pure-menu-item pure-menu-selected">{% trans "Manage actions" %}</li>
            </ul>
        </div>
        <div class="pure-menu-content"></div>

        <div class="pure-help">
            <i class="ev-icon evi-help"></i>
            {% trans "Please configure the security level of the different actions that can be performed by the electoral commission." %}
        </div>

        <div class="pure-panel">
            <dl>
                <dt>{% trans "Simple" %}</dt>
                <dd>
                    {% trans 'Only one component of the secret sent to the member of the electoral commission is needed to execute the action.' %}
                </dd>
                <dt>{% trans "Strong" %}</dt>
                <dd>
                    {% trans '(M/2)+1 different components of the secret sent to the member of the electoral commission are needed to execute the action. (M = total number of members of the electoral commission)' %}
                </dd>
                <dt>{% trans "Critical" %}</dt>
                <dd>
                    {% trans 'All (M) the different components of the secret sent to the member of the electoral commission are needed to execute the action.' %}
                </dd>
            </dl>
        </div>

        <form action="" method="POST" data-ajax-submit data-secure-action="{% url 'management:secureaction-manage' object.pk %}">
            {% csrf_token %}
            {{ form.management_form }}
            {{ form.non_form_errors }}

            <table class="pure-table pure-table-striped">
                <thead>
                    <tr>
                        <th>{% trans 'Actions' %}</th>
                        <th class="text-center">{% trans 'Simple' %}<br>(1)</th>
                        <th class="text-center">{% trans 'Strong' %}<br>((M/2)+1)</th>
                        <th class="text-center">{% trans 'Critical' %}<br>(M)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in form %}
                        <tr>
                            <td>
                                {{f.id}}
                                {{f.action}}
                                {{f.instance.action}}
                            </td>
                            <td class="text-center">{{f.strength.1.tag}}</td>
                            <td class="text-center">{{f.strength.2.tag}}</td>
                            <td class="text-center">{{f.strength.3.tag}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="text-center">
                <button class="pure-button pure-button-primary pure-button-round" type="submit">{% trans 'Save' %}</button>
            </div>
        </form>
    </main>
{% endblock container %}
