{% extends 'management/base.html' %}

{% load i18n core_tags ama_tags django_tables2 thumbnail %}

{% block bodyextraclass %}{{block.super}} electproccess-summary{% endblock bodyextraclass %}


{% block breadcrumbs %}
    {{block.super}}
    {% trans 'New' context 'electoral process' as title %}
    {% breadcrumb title %}
{% endblock breadcrumbs %}


{% block container %}
    <main class="wrap">
        <div class="pure-g pure-title-row">
            <div class="pure-u-1-2">
                <h1 class="light-blue">{% trans 'Electoral process creation' %}</h1>
            </div>
            <div class="pure-u-1-2 ev-top-actions">
                <a href="{% url 'management:electoralprocess-pdf' slug=object.slug %}" class="pure-button pure-button-secondary pure-button-round pull-right">{% trans 'Print' %}</a>
            </div>
        </div>
        <section class="pure-sec-block">
            <h3 class="pure-sec-title">{% trans 'Summary' %}</h3>
            <div class="pure-sec-body full-row vertical-space">
                <section class="pure-sec-block">
                    <h3 class="pure-sec-title">1. {% trans 'General data' %}</h3>
                    <div class="pure-sec-body">
                        <div class="pure-g pure-gutter">
                            <div class="pure-u-3-24"></div>
                            <div class="pure-u-6-24">
                                <label>{% trans 'Electoral process identifier' %}</label>
                            </div>
                            <div class="pure-u-15-24">
                                <label>{% trans 'Description' %}</label>
                            </div>
                        </div>
                        <div class="pure-g pure-gutter">
                            <div class="pure-u-3-24">
                                {% thumbnail object.logo "78x78" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </div>
                            <div class="pure-u-6-24">
                                {{object.identifier}}
                            </div>
                            <div class="pure-u-15-24">
                                {{object.description}}
                            </div>
                        </div>
                    </div>
                </section>
                {% for election in object.elections.all %}
                    <section class="pure-sec-block">
                        <h3 class="pure-sec-title">1.{{forloop.counter}} {% trans 'General data' %} | {{election.identifier}}</h3>
                        <div class="pure-sec-body">
                            <div class="pure-g pure-gutter">
                                <div class="pure-u-6-24">
                                    <label>{% trans 'Election identifier' %}</label>
                                </div>
                                <div class="pure-u-18-24">
                                    <label>{% trans 'Description' %}</label>
                                </div>
                            </div>
                            <div class="pure-g pure-gutter extra-bottom">
                                <div class="pure-u-6-24">
                                    {{election.identifier}}
                                </div>
                                <div class="pure-u-18-24">
                                    {{election.description}}
                                </div>
                            </div>
                            <hr>
                            <label>{% trans 'Electoral timetable' %}</label>
                            <section class="pure-sec-block">
                                <h3 class="pure-sec-title">{% trans 'Period for the submission of applications' %}</h3>
                                <div class="pure-sec-body">
                                    <div class="pure-g pure-gutter extra-bottom">
                                        <div class="pure-u-6-24">
                                            {% trans 'Begin date' %}
                                        </div>
                                        <div class="pure-u-6-24"></div>
                                        <div class="pure-u-6-24">
                                            {% trans 'End date' %}
                                        </div>
                                        <div class="pure-u-6-24"></div>
                                    </div>
                                    <div class="pure-g pure-gutter">
                                        <div class="pure-u-6-24">
                                            <i class="ev-icon evi-calendar alg-l"></i> {{election.proposition_begin_date }}
                                        </div>
                                        <div class="pure-u-6-24">
                                            <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                                        </div>
                                        <div class="pure-u-6-24">
                                            <i class="ev-icon evi-calendar alg-l"></i>{{election.proposition_end_date }}
                                        </div>
                                        <div class="pure-u-6-24">
                                            <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="pure-sec-block">
                                <h3 class="pure-sec-title">{% trans 'Electoral rolls' %}</h3>
                                <div class="pure-sec-body">
                                    <div class="pure-g pure-gutter extra-bottom">
                                        <div class="pure-u-6-24">
                                            {% trans 'Publication date before verification' %}
                                        </div>
                                        <div class="pure-u-6-24"></div>
                                        <div class="pure-u-6-24">
                                            {% trans 'Publication date after verification and correction' %}
                                        </div>
                                        <div class="pure-u-6-24"></div>
                                    </div>
                                    <div class="pure-g pure-gutter">
                                        <div class="pure-u-6-24">
                                            <i class="ev-icon evi-calendar alg-l"></i>{{election.roll_begin_date }}
                                        </div>
                                        <div class="pure-u-6-24">
                                            <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                                        </div>
                                        <div class="pure-u-6-24">
                                            <i class="ev-icon evi-calendar alg-l"></i>{{election.roll_end_date }}
                                        </div>
                                        <div class="pure-u-6-24">
                                            <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                                        </div>
                                    </div>
                                    <div class="pure-g pure-gutter extra-bottom">
                                        <div class="pure-u-6-24">
                                            {{election|model_verbose_name:'complaint_begin_date'}}
                                        </div>
                                        <div class="pure-u-6-24"></div>
                                        <div class="pure-u-6-24">
                                            {{election|model_verbose_name:'complaint_end_date'}}
                                        </div>
                                        <div class="pure-u-6-24"></div>
                                    </div>
                                    <div class="pure-g pure-gutter">
                                        <div class="pure-u-6-24">
                                            <i class="ev-icon evi-calendar alg-l"></i>{{election.complaint_begin_date }}
                                        </div>
                                        <div class="pure-u-6-24">
                                            <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                                        </div>
                                        <div class="pure-u-6-24">
                                            <i class="ev-icon evi-calendar alg-l"></i>{{election.complaint_end_date }}
                                        </div>
                                        <div class="pure-u-6-24">
                                            <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="pure-sec-block">
                                <h3 class="pure-sec-title">{% trans 'Voting time' %}</h3>
                                <div class="pure-sec-body">
                                    <div class="pure-g pure-gutter extra-bottom">
                                        <div class="pure-u-6-24">
                                            {% trans 'Begin date' %}
                                        </div>
                                        <div class="pure-u-6-24"></div>
                                        <div class="pure-u-6-24">
                                            {% trans 'End date' %}
                                        </div>
                                        <div class="pure-u-6-24"></div>
                                    </div>
                                    <div class="pure-g pure-gutter">
                                        <div class="pure-u-6-24">
                                            <i class="ev-icon evi-calendar alg-l"></i>{{election.voting_begin_date }}
                                        </div>
                                        <div class="pure-u-6-24">
                                            <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                                        </div>
                                        <div class="pure-u-6-24">
                                            <i class="ev-icon evi-calendar alg-l"></i>{{election.voting_end_date }}
                                        </div>
                                        <div class="pure-u-6-24">
                                            <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="pure-sec-block">
                                <h3 class="pure-sec-title">{% trans 'Voting results' %}</h3>
                                <div class="pure-sec-body">
                                    <div class="pure-g pure-gutter extra-bottom">
                                        <div class="pure-u-6-24">
                                            {% trans 'Date of publication' %}
                                        </div>
                                        <div class="pure-u-6-24"></div>
                                    </div>
                                    <div class="pure-g pure-gutter extra-bottom">
                                        <div class="pure-u-6-24">
                                            <i class="ev-icon evi-calendar alg-l"></i>{{ election.minute_publication_date }}
                                        </div>
                                        <div class="pure-u-6-24">
                                            <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                                        </div>
                                    </div>
                                    <div class="pure-g pure-gutter extra-bottom">
                                        <div class="pure-u-6-24">
                                            {% trans 'Approval period - start' %}
                                        </div>
                                        <div class="pure-u-6-24"></div>
                                        <div class="pure-u-6-24">
                                            {% trans 'Approval period - end' %}
                                        </div>
                                        <div class="pure-u-6-24"></div>
                                    </div>
                                    <div class="pure-g pure-gutter">
                                        <div class="pure-u-6-24">
                                            <i class="ev-icon evi-calendar alg-l"></i>{{election.minute_begin_date }}
                                        </div>
                                        <div class="pure-u-6-24">
                                            <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                                        </div>
                                        <div class="pure-u-6-24">
                                            <i class="ev-icon evi-calendar alg-l"></i>{{election.minute_end_date }}
                                        </div>
                                        <div class="pure-u-6-24">
                                            <span class="input-text-help">{% trans 'GMT Timezone' %}</span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                {% endfor %}
                <section class="pure-sec-block">
                    <h3 class="pure-sec-title">2. {% trans 'Electoral commission' %}</h3>
                    <div class="pure-sec-body full-row vertical-space">
                        {% render_table table %}
                    </div>
                </section>
                {% url "management:electoralprocess-generate" slug=object.slug as succ_url %}
                {% url "management:electoralprocess-summary" slug=object.slug as error_url %}
                <div class="pure-g hide-print">
                    <div class="pure-u-1-2">
                        <a href="{% url "management:electoralprocess-members-edit" slug=object.slug %}" class="pure-button pure-button-secondary pure-button-left pull-left">{% trans 'Previous' %}</a>
                    </div>
                    <div class="pure-u-1-2">
                        <a href="#" class="pure-button pure-button-primary pure-button-smooth pull-right"data-partial-url="{% url 'management:auth-ama' process_pk=object.pk %}" data-noajax-submit>{% trans "Create" %}</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock container %}
