{% extends 'management/election_detail_configs.html' %}

{% load i18n core_tags form_tags formset_tags %}


{% block container %}
    <main class="wrap">
        {% include "management/includes/election_tabs.html" with election=object tab="candidates" only %}

        <div class="pure-help">
            <i class="ev-icon evi-help"></i>
            {% trans "Please configure the candidates/list of candidates" %}
        </div>

        <form class="pure-form" action="" method="post" novalidate data-ajax-submit data-secure-action="{{secure_action_url}}">{% csrf_token %}
            {{form.non_field_errors}}

            {% if object.write_in %}

                <table class="pure-table pure-table-alt">
                    <thead>
                        <tr>
                            <th>{% trans "# Candidates" %}</th>
                            <th>{% trans "File uploaded" %}</th>
                            <th>{% trans "Upload file" %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row-pure-button">
                            <td class="text-center">{{object.candidates.write_in.count}}</td>
                            <td>
                                {% if object.write_in_import and object.write_in_import.document %}
                                    <a href="{{object.write_in_import.document.url}}">{{object.write_in_import.document.name}}</a>
                                {% else %}
                                    {% trans "No candidates file uploaded." %}
                                {% endif %}
                            </td>
                            <td class="vtop">
                                {% prepare_field form.document %}
                            </td>
                            <td class="text-right vtop">
                                <button type="submit" class="pure-button pure-button-primary pure-button-round">{% trans "Submit" %}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            {% else %}

                <div data-formset data-formset-prefix="{{form.prefix}}">
                    {{form.management_form}}

                    <table class="pure-table pure-table-alt">
                        <thead>
                            <tr>
                                <th>{% trans "Image/logo" %}</th>
                                <th class="s-25">{% trans "Candidate/List of candidates Name" %}</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-formset-body="{{form.prefix}}">
                            {% for f in form %}
                                {% include "management/includes/candidate_form.html" with form=f prefix=form.prefix only %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="form-add">
                                    <a href="#" data-formset-add="{{form.prefix}}" title="{% trans 'Add new candidate line' %}">
                                        <i class="ev-icon evi-addrow"></i>
                                    </a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <script type="form-template" data-formset-empty-form="{{form.prefix}}">
                        {% escapescript %}
                            {% include "management/includes/candidate_form.html" with form=form.empty_form prefix=form.prefix only %}
                        {% endescapescript %}
                    </script>
                </div>

                <div class="text-center">
                    <button type="submit" class="pure-button pure-button-primary pure-button-smooth">{% trans "Save" %}</button>
                </div>

            {% endif %}

        </form>
    </main>
{% endblock container %}
