{% extends 'management/base.html' %}

{% load i18n django_tables2 core_tags %}


{% block bodyextraclass %}{{block.super}} election-list{% endblock bodyextraclass %}


{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb electoral_process "management:electoralprocess-detail" slug=electoral_process.slug %}
    {% trans "Elections" as elections %}
    {% breadcrumb elections %}
{% endblock breadcrumbs %}


{% block container %}
    <main class="wrap">
        <div class="pure-g pure-gutter pure-title-row">
            <div class="pure-u-1 pure-u-md-1-2">
                <h1>{% trans "Elections dashboard" %}</h1>
            </div>
        </div>

        <div class="clear"></div>

        {% render_table table %}

        <div class="pure-panel legend">
            <div><i class='ev-icon evi-circle evi-b-success-small'></i> <span>{% trans "With information" %}</span></div>
            <div><i class='ev-icon evi-circle evi-noinfo'></i> <span>{% trans "Without information" %}</span></div>
            <div><i class='ev-icon evi-circle evi-b-lock-small'></i> <span>{% trans "Locked" %}</span></div>
        </div>
    </main>
{% endblock container %}
