{% extends "management/base.html" %}

{% load i18n core_tags form_tags %}

{% block breadcrumbs %}
    {{block.super}}
    {% if object.is_draft %}
        {% trans 'New' as title context 'electoral process' %}
        {% breadcrumb title %}
    {% else %}
        {% if request.user.is_electoral_member %}
            {% breadcrumb object "management:electoralprocess-detail" slug=object.slug %}
        {% else %}
            {% breadcrumb object "management:electoralprocess-edit" slug=object.slug %}
        {% endif %}
        {% trans 'Edit' as edit %}
        {% breadcrumb edit %}
    {% endif %}
{% endblock breadcrumbs %}

{% block container %}
    <main class="wrap">
        <div class="pure-g">
            <div class="pure-u-1">
                {% include "management/includes/electoralprocess_tabs.html" with comunication=True %}
                <div class="pure-menu-content">
                    <h2>{% trans 'Electoral process' %} {{object.identifier}}</h2>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="pure-help">
                    <i class="ev-icon evi-help"></i>
                    {% trans 'Please select the member of the electoral commission that will answer the electronic messages' %}.
                </div>
            </div>
            <div class="pure-u-1">
                <form action="" method="post" class="pure-form" novalidate data-ajax-submit data-secure-action="{{secure_action_url}}">
                    {% csrf_token %}
                    <div class="pure-g">
                        <div class="pure-u-1">
                            {{form.responsible_communication.label_tag }}
                        </div>
                    </div>
                    <div class="pure-g pure-gutter">
                        <div class="pure-u-1-2 pure-md-1">
                            {% prepare_field form.responsible_communication %}
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="pure-button pure-button-primary pure-button-smooth">{% trans 'Save' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock container %}
