{% extends 'management/base.html' %}

{% load i18n core_tags form_tags formset_tags thumbnail %}

{% block bodyextraclass %}{{block.super}} election-detail{% endblock bodyextraclass %}

{% block breadcrumbs %}
    {{block.super}}
    {% if not object or object.is_draft %}
        {% trans 'New' as title context "electoral process" %}
        {% breadcrumb title %}
    {% else %}
        {% if request.user.is_electoral_member %}
            {% breadcrumb object "management:electoralprocess-detail" slug=object.slug %}
        {% else %}
            {% breadcrumb object "management:electoralprocess-edit" slug=object.slug %}
        {% endif %}
        {% trans 'Edit' as edit %}
        {% breadcrumb edit %}
    {% endif %}
{% endblock breadcrumbs %}

{% block container %}
    <main class="wrap">
        <div class="pure-u-1">
            {% include "management/includes/electoralprocess_tabs.html" with general=True %}
            <div class="pure-menu-content"></div>
            <div class="pure-u-1">
                <div class="pure-help">
                    <i class="ev-icon evi-help"></i>
                    {% trans 'Please insert the general information needed to create the electoral process.' %}
                </div>
            </div>
            <form action="" method="post" class="pure-form" novalidate data-ajax-submit {% if not object.is_draft %}data-secure-action="{{secure_action_url}}"{% endif %}>{% csrf_token %}

                {% if request.user.is_electoral_member and not object.is_draft %}
                    <div class="pure-g pure-gutter">
                        <div class="pure-u-1">
                            <label>{{form.publication_date.label_tag }}</label>
                        </div>
                        <div class="pure-u-7-24">
                            {% prepare_field form.publication_date %}
                        </div>
                    </div>
                    <hr>
                {% endif %}

                <div class="pure-g pure-gutter">
                    <div class="pure-u-1">
                        <label>{{form.logo.label_tag }}</label>
                    </div>
                </div>
                <div class="pure-g pure-gutter">
                    {% if form.instance.logo %}
                        <div class="pure-u-3-24">
                            {% thumbnail form.instance.logo "78x78" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        </div>
                    {% endif %}
                    <div class="pure-u-10-24">
                        {% prepare_field form.logo %}
                    </div>
                </div>


                <div class="pure-panel">
                    <div class="pure-g pure-gutter">
                        <div class="pure-u-1-2">
                            {% prepare_field form.identifier_pt use_label=True %}
                        </div>
                        <div class="pure-u-1-2">
                            {% prepare_field form.identifier_en use_label=True %}
                        </div>
                    </div>
                    <div class="pure-g pure-gutter">
                        <div class="pure-u-1-2">
                            {% prepare_field form.description_pt use_label=True %}
                        </div>
                        <div class="pure-u-1-2">
                            {% prepare_field form.description_en use_label=True %}
                        </div>
                    </div>
                </div>

                {% if request.user.is_institutional_responsible %}
                    <hr>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            {{form.is_test.label_tag}}
                        </div>
                    </div>
                    <div class="pure-g pure-gutter">
                        <div class="pure-u-10-24">
                            <small class="input-text-help">{% trans "Test electoral processes are never shown for public users" %}</small>
                            {% prepare_field form.is_test %}
                        </div>
                    </div>
                {% endif %}

                {% if docformset %}
                    <div data-formset data-formset-prefix="{{docformset.prefix}}">
                        {{ docformset.management_form }}

                        <table class="pure-table pure-table-alt">
                            <thead>
                                <tr>
                                    <th class="s-30"><label>{% trans 'Document Category Name' %}</label></th>
                                    <th class="s-60"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-formset-body="{{docformset.prefix}}">
                                {% for form_elem in docformset %}
                                    {% include "management/includes/electoralprocess_document_form.html" with form_elem=form_elem prefix=docformset.prefix only %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan=4 class="form-add">
                                        <a href="#" data-formset-add="{{docformset.prefix}}"><i class="ev-icon evi-addrow"></i></a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <script type="form-template" data-formset-empty-form="{{docformset.prefix}}">
                            {% escapescript %}
                                {% include "management/includes/electoralprocess_document_form.html" with form_elem=docformset.empty_form prefix=docformset.prefix only %}
                            {% endescapescript %}
                        </script>
                    </div>
                {% endif %}

                {% if not object or object.is_draft %}
                    <button type="submit" class="pure-button pure-button-primary pure-button-right pull-right">{% trans 'Next' %}</button>
                {% else %}
                    <div class="text-center">
                        <button type="submit" class="pure-button pure-button-primary pure-button-smooth" {% if not request.user.is_electoral_member and not object.is_draft %}disabled{% endif %}>{% trans 'Save' %}</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </main>
{% endblock container %}
