{% extends 'management/base.html' %}

{% load i18n thumbnail core_tags django_tables2 messages_tags %}


{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb object %}
{% endblock breadcrumbs %}


{% block container %}
    <main class="wrap">
        <div class="pure-g pure-gutter pure-title-row">
            <div class="pure-u-1 pure-u-md-1-2">
                <h1>{{object.identifier}}</h1>
            </div>
            <div class="pure-u-1-2 ev-top-actions">
                <div class="pure-u-1-4 pull-right">
                    <a class="pure-button pure-button-secondary pure-button-round pull-right" href="{% url 'management:messages-received' object.slug %}">{% trans "Messages" %} ({% inbox_unread_count 'management' object %})</a>
                </div>
                <div class="pure-u-1-4 pull-right">
                    <a class="pure-button pure-button-secondary pure-button-round pull-right" href="{% url 'management:electoralprocess-actions' object.slug %}">{% trans "Security level configuration" %}</a>
                </div>
            </div>
        </div>

        {% render_table table %}

        <div class="pure-help-info">
            <i class="ev-icon evi-calendar"></i>
            <b>{% trans 'Publication date'%}:</b>
            {% trans 'Publication of documents in the public page of the electoral process' %}
        </div>
    </main>
{% endblock container %}
