{% extends "management/base.html" %}

{% load static i18n core_tags form_tags %}

{% block breadcrumbs %}
    {{block.super}}
    {% if process.is_draft %}
        {% trans 'New' as title %}
        {% breadcrumb title context 'electoral process' %}
    {% else %}
        {% breadcrumb process "management:electoralprocess-detail" slug=process.slug %}
        {% trans 'Certificate' as certificate %}
        {% breadcrumb certificate %}
    {% endif %}
{% endblock breadcrumbs %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'javascript-settings.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'vendor/evotum-cripto/dist/evotum.js' %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static 'management/js/certificates.jquery.js' %}"></script>
{% endblock extrajs %}

{% block container %}
    <main class="wrap">
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="pure-help">
                    <i class="ev-icon evi-help"></i>
                    {% trans 'Generate digital certificate and voting private cipher key and, its splitted secret (sent to the members of the electoral commission)' %}
                </div>
            </div>
            <div class="pure-u-1">
                <form class="pure-form" novalidate data-csr-sign data-members={{process.electoral_members.count}} data-areyousure-off>
                    {% csrf_token %}
                    <section class="pure-sec-block">
                        <div class="pure-form pure-sec-body">
                            <div class="pure-g pure-gutter">
                                <div class="pure-u-1">
                                    <label>{{form_render.password.label_tag}}</label>
                                    <div class="pure-g">
                                        <div class="pure-u-1 pure-u-md-1-5">
                                            {% prepare_field form_render.password %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <fieldset data-field-csrs>
                        {% for field in form_render.get_elections_fields %}
                            {{field}}
                        {% endfor %}
                    </fieldset>
                    {{form_render.ca_cert}}
                    {{form_render.ca_pvt_key}}
                </form>
            </div>
            <div class="pure-u-1">
                <form class="pure-form" data-final-form action="" method="post" novalidate data-ajax-submit data-areyousure-off>
                    {% csrf_token %}
                    {{form.non_field_errors}}
                    {{form.elec_pvt_key}}
                    <fieldset data-field-members>
                        {% for field in form.get_members_fields %}
                            {{field}}
                        {% endfor %}
                    </fieldset>
                    <fieldset data-field-certs>
                        {% for field in form.get_elections_fields %}
                            {{field}}
                        {% endfor %}
                    </fieldset>

                    {% if process.is_draft %}
                        <a href="{% url "management:electoralprocess-summary" slug=process.slug %}" class="pure-button pure-button-secondary pure-button-left">{% trans "Previous" %}</a>
                    {% else %}
                        <a href="{% url "management:electoralprocess-members-edit" slug=process.slug %}" class="pure-button pure-button-secondary pure-button-left">{% trans "Previous" %}</a>
                    {% endif %}
                    <button data-csr-button type="submit" class="pure-button pure-button-primary pure-button-right pull-right">{% trans "Generate" %}</button>
                </form>
            </div>
        </div>
    </main>
{% endblock container %}

