{% extends "management/base.html" %}

{% load form_tags i18n %}


{% block breadcrumbs_wrapper %}
{% endblock breadcrumbs_wrapper %}


{% block container %}
    <main class="wrap login-page">

        {% if ADFS_WSFED and user.is_authenticated %}

            <h1>{% trans 'Select profile' %}</h1>

            <div class="pure-help">
                <i class="ev-icon evi-help"></i>
                {% trans 'You are now authenticated.' %}<br/>
                {% trans 'Select the profile for your user, each profile has different privileges.' %}
            </div>

            <div class="login-box pure-form">
                <form action="" method="POST" novalidate autocomplete="off" data-areyousure-off>
                    {% csrf_token %}
                    <div class="pure-field">
                        {{ form.profile }}
                    </div>
                    <input class="pure-button pure-button-primary pure-button-smooth" type="submit" value="{% trans 'Select profile' %}" />
                </form>
            </div>

        {% elif not user.is_authenticated %}

            <h1>{% trans 'Authentication' %}</h1>

            {% if ADFS_WSFED %}

                <div class="pure-help">
                    <i class="ev-icon evi-help"></i>
                    {% trans 'Login required.' %}<br/>
                    {% trans 'Make external login to access Election management system.' %}
                </div>

                <div class="login-box">
                    <a href="{% url 'adfsauth:ws-fed-signin' %}" class="pure-button pure-button-primary pure-button-smooth">{% trans 'Login' %}</a>
                </div>

            {% else %}

                <div class="login-box pure-form">
                    <form action="" method="POST" novalidate autocomplete="off" data-areyousure-off>
                        {% csrf_token %}
                        {% prepare_field form.username "fi-avatar" True %}
                        {% prepare_field form.password "fi-lock" True %}
                        <div class="pure-field">
                            {{ form.profile }}
                        </div>
                        <input class="pure-button pure-button-primary pure-button-smooth" type="submit" value="{% trans 'Login' %}" />
                    </form>
                </div>
            {% endif %}

        {% endif %}
    </main>
{% endblock container %}
