{% extends "management/base.html" %}

{% load i18n core_tags form_tags messages_tags %}

{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb group_object "management:electoralprocess-detail" slug=group_object.slug %}
    {% trans "Messages" as title %}
    {% breadcrumb title "management:messages-received" process_slug=group_object.slug %}
    {% if object %}
        {% breadcrumb form.subject.value %}
    {% else %}
        {% trans "New" as newmessage context 'messages' %}
        {% breadcrumb newmessage %}
    {% endif %}
{% endblock breadcrumbs %}


{% block container %}

    <main class="wrap">

        <div class="pure-title-row">
            {% if object %}
                <h1>{{form.subject.value}}</h1>
            {% else %}
                <h1>{% trans 'New message' %}</h1>
            {% endif %}
        </div>

        <div class="message-form">
            <div class="action-bar"></div>
            <form action="" method="post" class="pure-form" novalidate data-ajax-submit>
                {% csrf_token %}
                <div class="pure-g pure-gutter">
                    <div class="pure-u-1-2">
                        <div class="pure-u-1">
                            {% prepare_field form.name "fi-avatar" True %}
                        </div>
                        <div class="pure-u-1">
                            {% prepare_field form.email "fi-email" True %}
                        </div>
                        <div class="pure-u-1">
                            {% prepare_field form.recipients "fi-topic" True %}
                        </div>
                    </div>
                    <div class="pure-u-1-2">
                        <div class="pure-u-1">
                            {% prepare_field form.subject "fi-topic fi-icon-l" %}
                        </div>
                        <div class="pure-u-1">
                            {% prepare_field form.body "fi-msg" %}
                        </div>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1">
                        <button type="submit" class="pure-button pure-button-primary pure-button-smooth pull-right">{% trans 'Send' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </main>


{% endblock container %}
