{% extends "management/base.html" %}

{% load i18n core_tags messages_tags %}

{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb group_object "management:electoralprocess-detail" slug=group_object.slug %}
    {% trans "Messages" as messages %}
    {% if is_inbox %}
        {% breadcrumb messages %}
    {% else %}
        {% breadcrumb messages "management:messages-received" process_slug=group_object.slug %}
        {% breadcrumb title %}
    {% endif %}
{% endblock breadcrumbs %}

{% block container %}
    <main class="wrap">

        {% trans 'Messages' as title %}
        {% include "management/includes/message_top.html" with title=title %}

        <div class="message-list">
            {% for message in object_list %}
                <div class="message">
                    <div class="pure-g">
                        <div class="pure-u-1-24">
                            {% if message.was_readed %}
                                <i class="ev-icon evi-read-msg-darker"></i>
                            {% else %}
                                <i class="ev-icon evi-unread-msg-darker"></i>
                            {% endif %}
                        </div>
                        <div class="pure-u-19-24">
                            <div class="pure-g">
                                <div class="pure-u-1">
                                    <label>
                                        {% if message.is_sent %}
                                            {{message|recipient_groups:1|join:', '}}
                                        {% else %}
                                            {{message.sender}}
                                        {% endif %}
                                    </label>
                                </div>
                                <div class="pure-u-1 message-subject">
                                    <a href="{% url 'management:messages-detail' process_slug=group_object.slug pk=message.pk %}" title="{% trans 'View message' %}">{{message.subject}}</a>
                                </div>
                                <div class="pure-u-1 message-body">
                                    {{message.body|truncatechars:220}}
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-4-24">
                            <label class="pull-right"><small>{{message.created}}</small></label>
                            <div class="message-actions">
                                {% if is_comunication_responsible and is_inbox %}
                                    <a href="{% url 'management:messages-response' process_slug=group_object.slug pk=message.pk %}" title="{% trans 'Reply' %}" class="message-action"><i class="ev-icon evi-reponse"></i></a>
                                {% endif %}

                                {% if message.is_received %}
                                    <form action="{% url 'management:messages-archive' pk=message.pk process_slug=group_object.slug %}" method="POST" class="message-action">{% csrf_token %}
                                        <input type="hidden" name="id" value="{{message.pk}}">
                                        <button type="submit" class="message-archive" title="{% trans 'Archive' %}"><i class="ev-icon evi-archive-state"></i></a>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            {% empty %}
                {% trans ' No messages.' %}
            {% endfor %}

            {% pagination page_obj.paginator.num_pages page_obj.has_previous page_obj.has_next page_obj.number %}
        </div>
    </main>

{% endblock container %}
