{% extends "management/base.html" %}

{% load i18n core_tags messages_tags %}


{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb group_object "management:electoralprocess-detail" slug=group_object.slug %}
    {% trans "Messages" as title %}
    {% breadcrumb title "management:messages-received" process_slug=group_object.slug %}
    {% if object.is_sent %}
        {% trans "Sent" as sent %}
        {% breadcrumb sent "management:messages-sent" process_slug=group_object.slug %}
    {% elif object.is_archived %}
        {% trans "Archived" as archived %}
        {% breadcrumb archived "management:messages-archived" process_slug=group_object.slug %}
    {% endif %}
    {% breadcrumb object.subject %}
{% endblock breadcrumbs %}


{% block container %}
    <main class="wrap">

        {% include "management/includes/message_top.html" with title=object.subject %}

        <div class="message">
            <div class="pure-g">
                <div class="pure-u-21-24">
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <label>{% trans 'From' %}:</label>
                            <span class="pure-label">{{object.sender}}</span>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <label>{% trans 'To' %}:</label>
                            {% for recipient in object|recipient_groups %}
                                <span class="pure-label">{{recipient}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <label>{% trans 'Subject' %}:</label> {{object.subject}}
                        </div>
                    </div>
                    <hr>
                    <div class="pure-g">
                        <div class="pure-u-1 message-body">
                            {{object.body|linebreaks}}
                        </div>
                    </div>
                </div>
                <div class="pure-u-3-24">
                    <label class="pull-right"><small>{{object.created}}</small></label>
                    <div class="message-actions">
                        {% if is_comunication_responsible and object.is_received %}
                            <a href="{% url 'management:messages-response' process_slug=group_object.slug pk=object.pk %}" class="message-action" title="{% trans 'Reply' %}"><i class="ev-icon evi-reponse"></i></a>
                        {% endif %}
                        {% if object.is_received %}
                            <form action="{% url 'management:messages-archive' pk=object.pk process_slug=group_object.slug %}" class="message-action" method="POST">{% csrf_token %}
                                <input type="hidden" name="id" value="{{object.pk}}">
                                <button type="submit" class="message-archive" title="{% trans 'Archive' %}"><i class="ev-icon evi-archive-state"></i></a>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1 pull-right">
                {% if object.is_received %}
                    {% url 'management:messages-received' process_slug=group_object.slug as back_url %}
                {% elif object.is_sent %}
                    {% url 'management:messages-sent' process_slug=group_object.slug as back_url %}
                {% elif object.is_archived %}
                    {% url 'management:messages-archived' process_slug=group_object.slug as back_url %}
                {% endif %}

                <a href="{{back_url}}" class="pure-button pure-button-primary pure-button-round pull-right">
                    {% trans 'Back' %}
                </a>
            </div>
        </div>
    </main>

{% endblock container %}
