{% load i18n ama_tags %}

<h2>{% trans "Authentication with 'Chave Móvel Digital'" %}</h2>

<div class="pure-g pure-sec-block">
    <div class="pure-sec-body full-row vertical-space">
        <div class="pure-u-1">
            {% trans "By clicking on 'Authenticate' you will be redirected to the AUTENTICAÇÃO.GOV website of the Portuguese Government, where you will finish this authentication process." %}
        </div>
    </div>
    <div class="pure-u-1 text-center">
        {% show_autenticacaogov_login succ_url error_url classes="pure-button pure-button-secondary pure-button-round pull-left" %}

        {% if debug %}
            <a href="{{ succ_url }}" class="pure-button pure-button-secondary pure-button-round pull-left">{% trans "Skip Authenticate" %}</a>
        {% endif %}
    </div>
</div>
