{% load i18n django_tables2 %}

<h2>{% trans "Total ballot papers in ballot box" %}</h2>

<div class="pure-menu-content"></div>

<h5 class="manage-count-title">{% trans "Number of ballot papers in ballot box" %}:</h5>
<div class="pure-g">
    <div class="pure-u-6-24"></div>
    <div class="pure-u-12-24">
        <div class="manage-count">{{total_votes}}</div>
    </div>
</div>

<div class="table-limited">
    {% render_table table %}
</div>
<hr/>
<div class="pure-g">
    <div class="pure-u-1 text-center">
        <a href="{% url 'management:election-manage-pdf' slug=object.electoral_process.slug slug_election=object.slug %}" class="pure-button pure-button-primary pure-button-round">{% trans 'Print' %}</a>
    </div>
</div>
