{% load form_tags i18n %}

<form class="pure-form" action="{{request.path}}" method="POST" novalidate="no" data-ajax-submit-cachefiles>
    {% csrf_token %}

    <h2>{% trans "Action Authorization" %}</h2>

    <div class="pure-panel">
        {% if form.strength == 0 %}
            {% trans "This action was defined as having a simple security level - Only one component of the secret sent to the member of the electoral commission is needed to execute the action" %}<br>
        {% elif form.strength == 1 %}
            {% trans "This action was defined as having a strong security level - (M/2)+1 different components of the secret sent to the member of the electoral commission are needed to execute the action." %}<br>
            {% trans "(M = total number of members of the electoral commission)." %}<br>
        {% else %}
            {% trans "This action was defined as having a critical security level - All (M) the different components of the secret sent to the member of the electoral commission are needed to execute this action." %}<br>
            {% trans "(M = total number of members of the electoral commission)." %}<br>
        {% endif %}
        {% trans "Please upload each different component file." %}
    </div>

    <table class="pure-table-dark table-action">
        <tbody>
            {% for key in form %}
                <tr>
                    <td>
                        <div class="pure-g">
                            <div class="pure-u-1-5">{{key.label_tag}}</div>
                            <div class="pure-u-4-5">{% prepare_field key %}</div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <button type="submit" class="pure-button pure-button-primary pure-button-round">{% trans 'Authorize' %}</button>
    </div>
</form>
