/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Alerts styles (alert, help and info)
 *
 *****************************************************************/

 %pure-alert-generic {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 9px 20px 9px 58px;
    margin-bottom: 6px;

    &:before {
        content: "";
        position: absolute;
        width: 42px;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
    }

    .ev-icon {
        position: absolute;
        top: 50%;
        left: 0;
        @include transform(translateY(-50%));
    }
}

.pure-alert {
    @extend %pure-alert-generic;

	background-color: $alert-error;
	color: $btn-color;

    &:before {
        background-color: $alert-dk-error;
    }
}

.pure-help {
    @extend %pure-alert-generic;

    background-color: $alert-help;

    &:before {
        background-color: $alert-dk-help;
    }
    .evi-msg {
        margin: 2px 0 0 7px;
    }
}

.pure-warning {
    @extend %pure-alert-generic;

    background-color: $alert-warning;
    color: $btn-color;

    &:before {
        background-color: $alert-dk-warning;
    }

    a {
        color: $white;
    }
}

.pure-success {
    @extend %pure-alert-generic;

    background-color: $alert-info;
    color: $btn-color;

    &:before {
        background-color: $alert-dk-info;
    }
}

.pure-info {
    @extend %pure-alert-generic;

    background-color: $alert-dk-info;
    color: $btn-color;
    padding: 18px 36px 18px 122px;
    min-height: 47px;
    @include border-radius(4px);

    &:before {
        background-color: $alert-info;
        width: 86px;
        @include border-radius(4px 0 0 4px);
    }
    i.evi-info {
        margin-left: 19px;
    }
}

.pure-help-info {
    @extend %pure-alert-generic;
    padding-top: 16px;
    padding-bottom: 15px;
    display: block;
    background-color: $alert-help;

    b {
        display: inline-block;
    }

    .ev-icon {
        margin-left: 10px;
    }
}

.globalalert {
    background-color: $global-alert-bg;
    color: $white;
    margin-bottom: 15px;
    margin-top: -15px;
    line-height: 50px;
    font-size: 14px;
    font-family: $roboto-light;
    font-weight: bold;
    text-align: center;
}
