/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Button Styles
 *
 *****************************************************************/

/*
 * Generic styles for buttons
 */

%pure-btn {
    border: 1px solid $btn-border;
    display: inline-block;
    font-family: $roboto-regular;
    font-size: calc-font-size(16px);
    line-height: 1;
    min-width: 140px;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    @include border-radius(0);

    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
        background-image: none;
    }

    &.with-icon {
        padding: 5px 18px;
        line-height: 28px;
    }
}

.pure-button {
    @extend %pure-btn;
}

.pure-button-big {
    @extend %pure-btn;

    font-size: calc-font-size(20px);
    min-width: 230px;
    padding: 18px 18px 16px;
    text-transform: uppercase;
}

.pure-button-small {
    @extend %pure-btn;

    border: 1px solid $btn-border;
    min-width: 100px;
    padding: 8px 10px;
}


/*
 * Primary buttons
 */
.pure-button-primary,
a.pure-button-primary {
    color: $btn-color;
    background-color: $btn-bg;
    border-color: $btn-border;

    &.pure-button-left {
        &:after {
            border-right-color: $btn-bg;
        }
        &:before {
            border-right-color: $btn-border;
        }
    }
    &.pure-button-right {
        &:after {
            border-left-color: $btn-bg;
        }
        &:before {
            border-left-color: $btn-border;
        }
    }
}
/*
 * Secondary buttons
 */
 .pure-button-secondary,
a.pure-button-secondary {
    color: $btn-bg;
    background-color: $btn-color;
    border-color: $btn-border;

    &.pure-button-left {
        &:after {
            border-right-color: $btn-color;
        }
        &:before {
            border-right-color: $btn-border;
        }
    }
    &.pure-button-right {
        &:after {
            border-left-color: $btn-color;
        }
        &:before {
            border-left-color: $btn-border;
        }
    }
}
.pure-button-primary,
a.pure-button-primary,
.pure-button-secondary,
a.pure-button-secondary {

    &:hover {
        color: $btn-hover-color;
        background: $btn-hover-bg;
        border-color: $btn-hover-border;

        @include transition(all 200ms linear);

        &.pure-button-left {
            &:after, &:before {
                border-right-color: $btn-hover-bg;
                @include transition(all 200ms linear);
            }
        }
        &.pure-button-right {
            &:after, &:before {
                border-left-color: $btn-hover-bg;
                @include transition(all 200ms linear);
            }
        }
    }
}
/*
 * Disable buttons
 */
 .pure-button-disabled,
a.pure-button-disabled,
.pure-button[data-loading] {
    color: $btn-inactive-color;
    background: $btn-inactive-bg;
    border-color: $btn-inactive-border;
    @include opacity(1);

    &:focus, &:hover {
        background: $btn-inactive-bg;
        border: 1px solid $btn-inactive-border;
        color: $btn-inactive-color;
        @include opacity(1);
    }
    &.pure-button-left {
        &:after {
            border-right-color: $btn-inactive-bg;
        }
        &:before {
            border-right-color: $btn-inactive-border;
        }
    }
    &.pure-button-right {
        &:after {
            border-left-color: $btn-inactive-bg;
        }
        &:before {
            border-left-color: $btn-inactive-border;
        }
    }
    i {
        @include opacity(0.5);
    }
}
/*
 * Rounded buttons
 */
.pure-button-round {
    @include border-radius(30px);
}
.pure-button-smooth {
    @include border-radius(4px);
}
/*
 * Large buttons
 */
.pure-button-large,
a.pure-button-large {
    background-color: transparent;
    border: 5px solid $btn-color;
    color: $btn-color;
    min-width: 240px;
    padding: 25px 5px 26px;

    &:hover {
        background-color: $btn-hover-bg;
        @include transition(all 200ms linear);
    }
}
.pure-button-medium {
    background-color: transparent;
    border: 5px solid $btn-large-border;
    color: $btn-color-medium;
    text-transform: uppercase;
    min-width: 188px;
    padding: 20px 33px 20px 33px;
    font-size: 15px;
    font-family: $roboto-medium;

    &:hover {
        @include transition(all 200ms linear);
        background-color: $btn-large-border;
        color: $white;
    }
}
/*
 * Buttons width directions (like arrows)
 * Left and Right
 */
.pure-button-left {
    position: relative;
    margin-left: 24px;
    border-left: none;

    &:before, &:after {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
    }
    &:after {
        border-width: 20px;
        margin-top: -20px;
    }
    &:before {
        border-width: 21px;
        margin-top: -21px;
    }
}
.pure-button-right {
    position: relative;
    margin-right: 24px;
    border-right: none;

    &:before, &:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
    }
    &:after {
        border-width: 20px;
        margin-top: -20px;
    }
    &:before {
        border-width: 21px;
        margin-top: -21px;
    }
}
