/******************************************************************
 * Site Name: eVote
 * Author: Sandro Rodrigues
 *
 * Stylesheet: Modal definition
 *
 *****************************************************************/

.access-color .remodal img {
    @include filter(1);
}
.remodal {
    vertical-align: top;
    text-align: left;
    margin-top: 100px;
    overflow: hidden;
    padding-top: 25px;

    .remodal-close {
        color: $hd-scnd-color;
        border: 1px solid $dark-bg;
        display: inline-block;
        width: 110px;
        height: 110px;
        margin-top: -55px;
        text-align: center;
        text-decoration: none;
        right: 20px;
        left: auto;
        @include border-radius(50%);

        div {
            margin-top: 65px;
        }
    }
    .remodal-logo {
        margin-bottom: 20px;
    }
    .remodal-content {
        h2 {
            margin-top: 0;
        }
        .remodal-body {
            margin-bottom: 35px;

        }
    }
}
