/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Tables Styles
 *
 *****************************************************************/

%table-generic-styles {
    border: none;
    width: 100%;
    margin-bottom: 40px;

    thead {
        background-color: transparent;
    }
    // Table columns size
    th {
        &.s-50 {
            width: 50%;
        }
        &.s-45 {
            width: 45%;
        }
        &.s-40 {
            width: 40%;
        }
        &.s-35 {
            width: 35%;
        }
        &.s-30 {
            width: 30%;
        }
        &.s-25 {
            width: 25%;
        }
        &.s-20 {
            width: 20%;
        }
        &.s-15 {
            width: 15%;
        }
        &.s-10 {
            width: 10%;
        }
    }
    td {
        ul {
            list-style: none;
            padding: 0;
        }
        i {
            vertical-align: middle;
            margin: 0 5px;
        }
        &.vtop {
            vertical-align: top;
        }
        &.description {
            font-family: $roboto-light;
        }
    }
    .one-line {
       white-space: nowrap;
    }

    /* when tables include form elements, reset bottom margin */
    .pure-field:last-child {
        margin-bottom: 0;
    }
    .row-pure-button .pure-field {
        margin-top: 5px;
    }
}

.pure-table {
    @extend %table-generic-styles;

    th, td {
        border: none;
        border-bottom: 1px solid $tbl-border;
        font-size: calc-font-size(16px);
    }
    th {
        color: $th-color;
        font-weight: normal;
        text-transform: capitalize;

        &.orderable a {
            text-decoration: none;

            &:after {
                content: "";
                width: 0;
                height: 0;
                display: inline-block;
                border-style: solid;
                border-width: 8px 9px 0 9px;
                border-color: $th-color transparent transparent transparent;
                margin-left: 12px;
                position: relative;
                top: -1px;
            }
        }
    }
    td {
        padding: 20px;
    }

    & + .pure-pag {
        margin-top: -20px;
    }

    &.pure-table-alt {
        th, td {
            border: none;
        }
        tbody tr {
            background-color: $tbl-drk-strip;
            border-bottom: 4px solid white;

            &:last-child {
                border:none;
            }
        }
    }

    & .pure-table {
        margin-bottom: 0;

        .form-add {
            padding: 0;
        }
    }
}

.pure-table-dark {
    @extend %table-generic-styles;

    th, td {
        border-left: 4px solid $btn-color;
    }
    th {
        background-color: $tbl-strip;
        border-bottom: 18px solid $btn-color;
        padding: 8px 55px 6px;
        font-weight: normal;

        &:empty {
            background-color: transparent;
        }
    }
    td {
        padding: 21px 56px;
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background-color: $tbl-drk-strip;
            }
        }
    }
}

.pure-table-striped {
    tr {
        &:nth-child(odd) {
            td {
                background-color: $tbl-strip;
            }
        }
        td {
            border-bottom: none;
        }
    }
}
