{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}eVote{% endblock title %}</title>

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body style="height:100%;width:100%;margin:0;color: #2C323F;background-color: #FFFFFF">

        <!-- Header -->
        {% block header %}
            <header>
                <div style="background-color: #2E3141; width: 100%; height:75px;">
                    <div style="padding-left: 30px;">
                        <img alt="{% trans 'Minho\'s University' %}" src="{{base_url}}{% static 'images/logo-um-small.png' %}">
                    </div>
                </div>
                <div style="height: 60px;padding-left: 30px;background: transparent url('{{base_url}}{% static 'images/sub-header-bg.png' %}') center center repeat-x;">
                    <div style="padding-top: 20px;">
                        <img alt="eVotUM" src="{{base_url}}{% static 'images/logo-evotum-white.png' %}">
                    </div>
                </div>
            </header>
        {% endblock header %}
        <!-- END Header -->
        <div style="font-family:'Roboto Light', sans-serif;">
            <div style="padding-left: 30px; padding-right: 30px;">
                <div style="font-size: 16px; margin-top: 55px;">
                    <!-- Container PT -->
                    {% block containerpt %}
                        <main class="wrap">
                            <h1>eVote PT</h1>
                        </main>
                    {% endblock containerpt %}
                    <!-- END Container PT -->

                    {% block sysmsgpt %}
                        <p>
                            Nota: Esta mensagem foi gerada automaticamente, pelo que pedimos que não responda a este e-mail. Em caso de dúvida contacte-nos através dos contactos disponibiizados no portal do eVotUM.
                        </p>
                    {% endblock sysmsgpt %}

                    <!-- Prefooter -->
                    {% block prefooterpt %}
                        <br/>
                        <p>Com os melhores cumprimentos,<br/>
                            EvotUM<br/>
                            Sistema de Votação eletrónica da Universidade do Minho
                        </p>
                    {% endblock prefooterpt %}
                    <!-- END Prefooter -->

                    {% block separator %}
                        <div>-----------</div>
                    {% endblock separator %}

                    <!-- Container -->
                    {% block container %}
                        <main class="wrap">
                            <h1>eVote</h1>
                        </main>
                    {% endblock container %}
                    <!-- END Container -->

                    <!-- System message -->
                    {% block sysmsg %}
                        <p>
                            Note: This message was automatically generated, so please do not reply to this email. In case of doubt contact us through the contacts available on the eVotUM site.
                        </p>
                    {% endblock sysmsg %}
                    <!-- END System message -->

                    <!-- Prefooter -->
                    {% block prefooter %}
                        <br/>
                        <p>Best regards<br/>
                            eVotUM<br/>
                            Minho's University Electronic voting system
                        </p>
                    {% endblock prefooter %}
                    <!-- END Prefooter -->
                </div>

                <!-- Footer PT -->
                {% block footerpt %}
                    <footer style="font-size: 12px;">
                        <br/>
                        <br/>
                        <div>------------------------------------</div>
                        <div>
                            A caixa postal emissora deste mail é exclusivamente para envio de mensagens; caso queira contactar-nos, por favor, utilize o telefone {{contact_phone}}
                        </div>
                        <div>
                            Se pretender não receber estes emails, por favor, aceda à plataforma eVotum (<a href="{{base_url}}">{{base_url}}</a>).
                        </div>
                        <br/>
                        <br/>
                        <div>-------------------------------------------------------------------------</div>
                        <div>
                            Aviso de confidencialidade: Este e-mail e quaisquer ficheiros informáticos com ele transmitidos são confidenciais, podem conter informação privilegiada e destinam-se ao conhecimento e uso exclusivo da pessoa ou entidade a quem são dirigidos, não podendo o conteúdo dos mesmos ser alterado. Caso tenha recebido este e-mail indevidamente, queira informar de imediato o remetente e proceder à destruição da mensagem e de eventuais cópias.
                        </div>
                        <div>
                            Limitação de responsabilidade: Como o correio eletrónico pode ser afetado por dificuldades técnicas ou operacionais, não se garante a sua receção de forma adequada e atempada. Quaisquer comunicações que devam observar prazos, deverão também ser enviadas por correio ou fac-simile. Qualquer opinião expressa na presente mensagem é imputável à pessoa que a enviou, a não ser que o contrário resulte expressamente do seu texto. É estritamente proibido o uso, a distribuição, a cópia ou qualquer outra forma de disseminação não autorizada deste e-mail e de quaisquer ficheiros nele contidos. O correio eletrónico não garante a confidencialidade dos conteúdos das mensagens. Caso o destinatário deste e-mail tenha qualquer objeção à utilização deste meio deverá contactar de imediato o remetente.
                        </div>
                    </footer>
                {% endblock footerpt %}
                <!-- END Footer PT -->

                <!-- Footer -->
                {% block footer %}
                    <footer style="font-size: 12px;">
                        <br/>
                        <br/>
                        <div>------------------------------------</div>
                        <div>
                            The mailbox that issues this email is exclusively for sending messages; if you want to contact us, please use the telephone {{contact_phone}}
                        </div>
                        <div>
                            If you do not wish to receive these emails, please go to the eVotum platform (<a href="{{base_url}}">{{base_url}}</a>).
                        </div>
                        <br/>
                        <br/>
                        <div>-------------------------------------------------------------------------</div>
                        <div>
                            Confidentiality Notice: This e-mail and any computer files transmitted with it are confidential, may contain privileged information and are intended for the exclusive knowledge and use of the person or entity to whom they are addressed, and the content of the same may not be changed. If you have received this e-mail incorrectly, please inform the sender immediately and destroy this message and any copies.
                        </div>
                        <div>
                            Limitation of Liability: Because electronic mail may be affected by technical or operational difficulties, it is not guaranteed to be received in an appropriate and timely manner. Any communications that must meet deadlines should also be sent by mail or similar. Any opinion expressed in this message is attributable to the person who sent it, unless the contrary expressly results from its text. The use, distribution, copying or any unauthorized dissemination of this e-mail and any files contained in it is strictly prohibited. E-mail does not guarantee the confidentiality of message content. If the recipient of this email has any objection to the use of this medium should contact the sender immediately.
                        </div>
                    </footer>
                {% endblock footer %}
                <!-- END Footer -->
            </div>
        </div>
    </body>
</html>
