<li title="{{title}}">
    {% if url %}
        <a href="{{url}}">{{title|truncatechars:45}}</a>
    {% else %}
        {{title}}
    {% endif %}
</li>
{% if not no_sep %}
    <li class="breadcrumb-sep">{{sep|default:"»"}}</li>
{% endif %}
