{% load i18n %}

<div id="field_{{field.auto_id}}" class="pure-field{% if light_field %} light-field{% endif %}{% if icon %} fi-icon {{ icon }}{% endif %}{% if field.errors %} error{% endif %} {{widget|lower}}">

    {% if use_label %}
        {{ field.label_tag }}
    {% endif %}

    {% if widget == "RadioSelect" %}
        {% for radio in field %}
            <label for="{{ radio.id_for_label }}" class="pure-radio radio-{{radio.choice_label|lower}}">
                {{ radio.tag }}
                <span></span>
                {{ radio.choice_label }}
            </label>
        {% endfor %}
    {% elif widget == "ClearableFileInput" or widget == "FileInput" %}
        <input id="name-{{ field.id_for_label }}" name="file-name" type="text" data-upload-name readonly {% if field.value %}value="{{field.value}}"{% endif %}>
        <a href="#" class="pure-button pure-button-secondary pure-button-smooth" data-upload>{% trans "Choose file" %}</a>
        <div class="hidden">
            {{ field }}
        </div>
    {% else %}
        <div class="field-wrapper">
            {{ field }}
        </div>
    {% endif %}

    {{ field.errors }}
</div>
