{% load core_tags django_tables2 %}

{% if num_pages > 1 %}
     <div class="pure-pag">
        <ul>
            <li class="previous">
                {% if prev_page %}
                    <a href="{% querystring 'page'=prev_page %}"></a>
                {% else %}
                    <a href="#" class="disabled"></a>
                {% endif %}
            </li>

            {% for page in final_pages %}
                <li>
                    {% if page == 'sep' %}
                        ...
                    {% else %}
                        <a href="{% querystring 'page'=page %}" {% if current == page %}class="selected"{% endif%}>{{page}}</a>
                    {% endif %}
                </li>
            {% endfor %}

            <li class="next">
                {% if next_page %}
                    <a href="{% querystring 'page'=next_page %}"></a>
                {% else %}
                    <a href="#" class="disabled"></a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endif %}
