{% load i18n static thumbnail %}
{% for candidate,candidate_field in candidate_list %}
    <div data-vote-option class="candidate-box">
        {% if candidate.logo %}
            {% thumbnail candidate.logo "85x85" crop="center" as im %}
                <img data-candidate-logo class="candidate-logo" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{% trans 'candidate' %}">
            {% endthumbnail %}
        {% else %}
            <img data-candidate-logo class="candidate-logo" src="{% static 'images/avatar.png' %}" width="85" height="85" alt="{% trans 'candidate' %}">
        {% endif %}
        <div class="candidate-designation">
            <p data-candidate-designation>{{candidate.designation}}</p>
        </div>
        <label for="{{candidate_field.attrs.id}}" class="pure-checkbox">
            <input data-vote-checkbox id="{{candidate_field.attrs.id}}" name="{{candidate_field.name}}" value="{{candidate_field.choice_value}}" type="checkbox">
            <span></span>
        </label>
    </div>
{% endfor %}
