{% load i18n static thumbnail %}

<div class="candidate-box">
    <img data-candidate-logo class="candidate-logo" src="{% static 'images/avatar.png' %}" width="85" height="85" alt="{% trans 'candidate' %}">
    <div class="candidate-designation">
        <select data-select-vote data-style-select id="{{candidate_list_attr.auto_id}}" name="{{candidate_list_attr.name}}" class="pure-select" {{extra_attrs}}>
            {% for candidate,candidate_label in candidate_list %}
                {% if candidate and candidate.logo %}
                    {% thumbnail candidate.logo "85x85" crop="center" as im %}
                        <option data-logo="{{im.url}}" value="{{candidate.id}}">{{candidate_label}}</option>
                    {% endthumbnail %}
                {% elif candidate %}
                    <option data-logo="{% static 'images/avatar.png' %}" value="{{candidate.id}}">{{candidate_label}}</option>
                {% else %}
                    <option data-logo="{% static 'images/avatar.png' %}" value="">{{candidate_label}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <label for="field" class="pure-checkbox no-selectable">
        <input data-vote-simulation name="vote" value="" type="checkbox">
        <span></span>
    </label>
</div>
