{% load i18n guardian_tags voters_tags %}

<main class="wrap">
    <div class="pure-g pure-title-row">
        {% if user.is_authenticated and show_vote_link %}
            <div class="pure-u-1 pure-u-md-4-5">
                <h1>{{object.identifier}}</h1>
            </div>
            <div class="pure-u-1 pure-u-md-1-5">
                <a href="{% url 'voters:electoralprocess-voting' slug=object.slug %}" class="pure-button pure-button-primary pure-button-round pull-right">{% trans 'Vote' %}</a>
            </div>
        {% else %}
            <div class="pure-u-1">
                <h1>{{object.identifier}}</h1>
            </div>
        {% endif %}
    </div>

    <section class="pure-sec-block">
        <h2 class="pure-block-title">{% trans 'General Information' %}</h2>
        <div class="pure-sec-body full-row">
            <div class="pure-description">
                {{object.description}}
            </div>
            {% for document in object.electoral_documents.all %}
                <div class="pure-g pure-sec-row">
                    <label class="pure-u-1 pure-u-md-2-5">{{document.designation}}</label>
                    {% if document.documents.all %}
                        <div class="pure-u-1 pure-u-md-3-5">
                            {% for doc in document.documents.all %}
                                <div><a href="{{doc.document.url}}" target="_blank">{{doc.designation}}</a></div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <div class="pure-sec-accordion">
        {% for election in object.elections.all %}
            <section class="pure-sec-block" id="{{election.slug}}">
                <h3 class="pure-sec-title">
                    {{election.identifier}}<i class="ev-icon evi-sel-drk-dwn"></i>
                </h3>
                <div class="pure-sec-body full-row">
                    <div class="pure-g">
                        <div class="pure-u-1 pure-description">
                            {{election.description}}
                        </div>
                    </div>
                    <div class="pure-g pure-sec-row with-button small-text">
                        <div class="pure-u-1 pure-u-md-18-24">
                            <div class="vertical-align">
                                <label class="main-label">{% trans 'Current status' %}:</label>
                                <span>{{election.get_state_display}}</span>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-md-6-24">
                            {% election_closed_for_voter request.user.pk election as el_closed_for_voter %}
                            {% if not el_closed_for_voter and show_vote_link %}
                                <a href="{% url 'voters:electoralprocess-voting' slug=object.slug %}" class="pure-button pure-button-primary pure-button-smooth full-width">{% trans 'Vote' %}</a>
                            {% else %}
                                <a href="#" class="pure-button pure-button-disabled pure-button-smooth full-width">{% trans 'Vote' %}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="pure-g pure-sec-row with-button small-text">
                        <div class="pure-u-1 pure-u-md-18-24">
                            <div class="pure-g">
                                <div class="pure-u-1 pure-u-md-3-8">
                                    <label class="main-label">{% trans 'Voting Time' %}:</label>
                                </div>
                                <div class="pure-u-1 pure-u-md-5-8">
                                    <div class="vertical-align">
                                        {% if election.is_voting_ended %}
                                            <label class="small-label simple">{% trans 'Closed' context "period" %}</label>
                                        {% else %}
                                            <i class="ev-icon evi-calendar"></i>
                                            <label class="small-label">{% trans 'Begin'%}: </label>{{election.voting_begin_date|date:'d-m-Y H:i'}}
                                            <label class="small-label">{% trans 'End'%}: </label>{{election.voting_end_date|date:'d-m-Y H:i'}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-md-6-24">
                            {% get_obj_perms request.user for election as "election_perms" %}
                            {% if "vote_election" in election_perms and election.state >= state_scrutinized %}
                                <a href="{% url 'voters:election-search-vote' slug=object.slug slug_election=election.slug %}" class="pure-button pure-button-secondary pure-button-smooth full-width">{% trans 'Browse vote references' %}</a>
                            {% else %}
                                <a href="#" class="pure-button pure-button-smooth full-width pure-button-disabled">{% trans 'Browse vote references' %}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="pure-g pure-sec-row with-button small-text">
                        <div class="pure-u-1 pure-u-md-18-24">
                            <div class="pure-g">
                                <div class="pure-u-1 pure-u-md-3-8">
                                    <label class="main-label">{% trans 'Complaint period for the electoral roll' %}:</label>
                                </div>
                                <div class="pure-u-1 pure-u-md-5-8">
                                    <div class="vertical-align">
                                        {% if election.is_complaint_period_ended %}
                                            <label class="small-label simple">{% trans 'Closed' context "period" %}</label>
                                        {% else %}
                                            <i class="ev-icon evi-calendar"></i>
                                            <label class="small-label">{% trans 'Begin'%}: </label>{{election.complaint_begin_date|date:'d-m-Y H:i'}}
                                            <label class="small-label">{% trans 'End'%}: </label>{{election.complaint_end_date|date:'d-m-Y H:i'}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1 pure-u-md-6-24">
                            {% with election.get_last_published_roll as published_roll %}
                                {% if published_roll %}
                                    <a href="{% url 'voters:electoralroll-detail' slug=object.slug slug_roll=published_roll.slug %}"
                                       class="pure-button pure-button-secondary pure-button-smooth full-width">
                                       {% trans 'Electoral roll' %}
                                    </a>
                                {% else %}
                                    <a href="#" class="pure-button pure-button-smooth pure-button-disabled full-width">
                                       {% trans 'Electoral roll' %}
                                    </a>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    {% if not election.write_in and election.candidates.not_write_in %}
                        <div class="pure-g pure-sec-row">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <label class="main-label">{% trans 'Nominations for the election' %}</label>
                            </div>
                        </div>
                        {% for candidate in election.candidates.not_write_in %}
                            <div class="pure-g pure-sec-row pure-sec-tab">
                                <div class="pure-u-1 pure-u-md-3-5">{{candidate}}</div>
                                {% if candidate.documents.all %}
                                    <div class="pure-u-1 pure-u-md-2-5">
                                        {% for doc in candidate.documents.all %}
                                            <div><a href="{{doc.document.url}}" target="_blank">{{doc.designation}}</a></div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
        {% endfor %}
    </div>
</main>
