{% for reference in references %}
    <li>{{reference}}</li>
{% endfor %}
{% if more %}
    <li>
        <a data-jscroll-next
           href="{% url 'voters:vote-reference-next-page' pk=electoral_process_id pk_election=election_id %}?page={{next_page}}&search={{search}}">more</a>
    </li>
{% endif %}
