{% load i18n voters_tags %}

<div data-pw-help-page class="pure-window-help-page">
    <a data-pw-help-close class="pure-window-help-close pull-right" href="#" title="{% trans 'Close' %}"><i class="ev-icon evi-b-close"></i></a>
    <div class="help-text-wrapper">
        {% voting_faqs %}
    </div>
</div>
