{% load i18n %}

<h1 class="pure-menu-tab-title top-offset">
    {{title}} {% if subtitle %} » {{subtitle}} {% endif %}
</h1>
<div class="pure-menu pure-menu-horizontal pure-menu-tab">
    <ul class="pure-menu-list pull-right">
        <li class="pure-menu-item {% if tab == 'step1' %}pure-menu-selected{% endif %}">{% trans 'Step' %} 1</li>
        <li class="pure-menu-item {% if tab == 'step2' %}pure-menu-selected{% endif %}">{% trans 'Step' %} 2</li>
        <li class="pure-menu-item {% if tab == 'step3' %}pure-menu-selected{% endif %}">{% trans 'Step' %} 3</li>
        <li class="pure-menu-item {% if tab == 'step4' %}pure-menu-selected{% endif %}">{% trans 'Step' %} 4</li>
        <li class="pure-menu-item {% if tab == 'step5' %}pure-menu-selected{% endif %}">{% trans 'Step' %} 5</li>
    </ul>
</div>
<div class="pure-menu-content">
    <h2>{{tabtitle}}</h2>
</div>
