{% load i18n form_tags thumbnail core_tags %}

<main class="wrap">
    <div class="pure-g pure-gutter pure-title-row">
        <div class="pure-u-1">
            <h1>{% trans 'Personal data' %}</h1>
        </div>
    </div>
    <form action="" method="post" class="pure-form" novalidate data-ajax-submit>
        {% csrf_token %}
        <div class="pure-g pure-gutter">
            <div class="pure-u-1-8">
                 <div class="pure-g text-center">
                    <div class="pure-u-1">
                        {{object|model_verbose_name:'photo'}}:
                    </div>
                    <div class="pure-u-1 general-photo">
                        {% thumbnail object.photo "90x90" crop="center" as im %}
                            <img src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" alt="{{object.name}}">
                        {% endthumbnail %}
                    </div>
                </div>
            </div>
            <div class="pure-u-7-8 personal-data">
                <div class="pure-help">
                    <i class="ev-icon evi-help"></i>
                    {% trans 'Please enter the correct information in the "Notification email address" and/or "Notification mobile number" fields, if you do not wish to be notified to the predefined email address and/or mobile number.' %}
                </div>
                 {% if form.instance.pending_email %}
                    <div class="pure-warning">
                        <i class="ev-icon evi-alert"></i>
                        <div>
                        {% blocktrans with email=form.instance.pending_email %}The email {{email}} is pending of verification!{% endblocktrans %}
                        {% if request.user.is_allowed_to_resend %}
                            {% blocktrans with url=resend_url %}To resend the verification email please click <a href="{{url}}">here</a>.{% endblocktrans %}
                        {% endif %}
                        </div>
                    </div>
                {% endif %}
                <div class="pure-g">
                    <div class="pure-u-8-24">
                        <label class="simple-field">{{object|model_verbose_name:'name'}}:</label>
                    </div>
                    <div class="pure-u-1-3">
                        {{object.name}}
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-8-24">
                        <label class="simple-field">{{object|model_verbose_name:'username'}}:</label>
                    </div>
                    <div class="pure-u-1-3">
                        {{object.username}}
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-8-24">
                        <label class="simple-field">{{object|model_verbose_name:'email'}}:</label>
                    </div>
                    <div class="pure-u-1-3">
                        {{object.email}}
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-8-24">
                        <label class="simple-field">{{object|model_verbose_name:'primary_phone'}}:</label>
                    </div>
                    <div class="pure-u-1-3">
                        {{object.primary_phone}}
                    </div>
                </div>
                <br>
                <div class="pure-g">
                    <div class="pure-u-8-24">
                        <label>{{object|model_verbose_name:'notice_email'}}:</label>
                    </div>
                    <div class="pure-u-1-3">
                        {% prepare_field form.notice_email %}
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-8-24">
                        <label>{{object|model_verbose_name:'notice_phone'}}:</label>
                    </div>
                    <div class="pure-u-1-3">
                        {% prepare_field form.notice_phone %}
                    </div>
                </div>
                <br>
                <div class="pure-g">
                    <div class="pure-u-8-24">
                        <label>{{object|model_verbose_name:'notice_method'}}:</label>
                    </div>
                    <div class="pure-u-1-3">
                        {% prepare_field form.notice_method %}
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1">
                <button type="submit" class="pure-button pure-button-primary pure-button-smooth pull-right">{% trans 'Save' %}</button>
            </div>
        </div>
    </form>
</main>
