{% load i18n %}

<main class="wrap">
    <div class="pure-g text-center">
        <div class="pure-u-1">
            <i class="ev-icon evi-success"></i>
            <h2>{% trans 'Your email was validated with success.'%}</h2>
            <h4>{% trans 'You will from now recieve all notifications in' %} {{request.user.notice_email}}.</h4>
        </div>
    </div>
</main>
