footer.site-footer {

    .pure-menu {
        background-color: $footer-bg-color;
        height: 60px;

        .footer-menu {
            position: relative;
            top: 50%;
            @include transform(translateY(-50%));
        }

        .pure-menu-item {

            &:first-child {

                .pure-menu-link {
                    padding-left: 0;
                }
            }
            &:last-child {

                .pure-menu-link {
                    padding-right: 0;
                    min-width: auto;
                }
            }
            .pure-menu-link {
                padding: 10px 20px;
                color: $lightgloss;
                color: $footer-link-color;
                font-size: calc-font-size(14px);
                min-width: 138px;

                &:hover, &:focus {
                    background-color: transparent;
                    color: $btn-color;
                }
            }
        }
    }

    .copyright {
        margin: 25px 0;
        font-size: calc-font-size(12px);
        color: $dark-bg;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
