/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Forms styles (inputs, selects, etc)
 *
 *****************************************************************/

/*
 * Inputs: Generic styles
 */
.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {

    font-family: $roboto-regular;
    font-size: calc-font-size(15px);
    padding: 6px 11px 5px;
    color: $frm-input-color;
    box-shadow: none;
    border-color: $frm-input-border;
    width: 100%;

    &:focus {
        border-color: $frm-input-focus;
        @include box-shadow(0, 0, 1px, 1px, $frm-input-focus, inset);

        &:invalid { // Analize what to do in this cases
            border-color: $frm-input-focus;
            color: $frm-input-color;
        }
    }

    @include placeholder {
        font-style: $roboto-light;
        color: $frm-input-label;
    }

    &[disabled] {
        color: $btn-inactive-color;
        background-color: $btn-inactive-bg;
        border-color: $btn-inactive-border;

        @include placeholder {
            color: $btn-inactive-color;
        }
    }
}
.pure-form .pure-radio {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
    line-height: 1;
    color: $frm-input-color;
    font-size: calc-font-size(15px);
    cursor: pointer;

    .pure-radio-input {
        margin-right: 5px;
    }
}

.pure-form input[type=submit].link-button {
    background-color: transparent;
    border: 0;

    &:focus {
        outline: none;
    }
}

/*
 * Select / Dropdowns
 */
.select2-container--default {

    font-family: $roboto-regular;
    font-size: calc-font-size(15px);

    span:focus {
        outline: 0;
    }

    .select2-selection--multiple,
    .select2-selection--single {
        border-color: $frm-input-border;
        height: 35px;

        .select2-selection__rendered {
            color: $frm-input-color;
            line-height: 25px;
            margin: 5px 0;
            padding-right: 38px;
        }
        .select2-selection__arrow {
            border-left: 1px solid $frm-input-border;
            height: 25px;
            margin: 5px 0;
            width: 31px;

            b {
                border: none;
                background: transparent url($sprite_path) -7px -490px no-repeat;
                width: 15px;
                height: 9px;
                margin: -4px 0 0 -7px;
            }
        }
    }
    .select2-selection--multiple {
        height: auto;
        padding-left: 50px;

        .select2-selection__choice {
            margin-top: 4px;
        }
        .select2-selection__rendered {
            margin: 0;
            padding-left: 0;
            padding-right: 0;
        }
        .select2-search__field {
            line-height: 25px;
            margin: 4px 0 0 0;
            padding: 0;

            &:focus {
                @include box-shadow-none();
            }
        }
        .select2-selection__choice__remove {
            margin-right: 3px;
        }
    }
    &.select2-container--open {
        &.select2-container--below {

            .select2-selection--multiple,
            .select2-selection--single {
                @include border-radius(4px);
            }
        }
        .select2-selection--single {
            .select2-selection__arrow {
                b {
                    background-position: -37px -490px;
                }
            }
        }
    }
    .select2-results__options {
        border-color: $frm-input-border;
        margin: 10px 5px 10px 10px;
        padding-right: 5px;

        .select2-results__option {
            border-bottom: 1px solid $frm-input-border;
        }
    }
    .select2-results__option--highlighted[aria-selected] { // hover
        background-color: $btn-hover-bg;
    }
    .select2-results__option[aria-selected=true] { // selected
        color: $btn-hover-color;
        background-color: $btn-bg;
    }
}

.select2-container--default.select2-container--focus {
    .select2-selection--multiple {
        border: 1px solid $frm-input-border;
    }
}
/*
.select2-container--default.select2-container--open.select2-container--below
.select2-selection--multiple
*/

.select2-container--open {
    .select2-dropdown {
        top: 5px;
    }
    .select2-dropdown--below {
        border: 1px solid $frm-input-border;
        @include border-radius(4px);
    }
}

/*
 * Checkbox and radio buttons
 */
.pure-form {

    .pure-radio,
    .pure-checkbox {
        color: $txt-color;

        & > input {
            display: none;

            & + span {
                border: 1px solid $frm-input-label;
                cursor: pointer;
                display: inline-block;
                height: 20px;
                width: 20px;
                position: relative;
                top: 4px;
                transition: background-image 0.5s linear;
            }
            &:checked + span {
                background: transparent url($sprite_path) -121px -581px no-repeat;
            }
            &[disabled] + span {
                @include opacity(0.6);
            }
        }
    }
    .pure-radio {

        & > input {

            & + span {
                border-width: 2px;
                height: 22px;
                width: 22px;
                top: 6px;
                @include border-radius(50%);
            }
            &:checked + span {
                background-position: -141px -581px;
            }
        }
    }

    .input-text-help {
        font-size: calc-font-size(14px);
    }
    .input-text-help {
        margin-top: 6px;
        display: inline-block;
    }

    label.simple-field {
        margin: 0;
    }
}

/*
 * Form labels
 */
label {
    display: inline-block;
    font-size: calc-font-size(16px);
    color: $frm-input-label;
    white-space: nowrap;
    margin: 0 0 10px 0;
    line-height: 1;
}

/*
 * Field wrapper always to be used surround input tag.
 * Necessary to use prefix icons, error styles, etc...
 */
.pure-field {
    position: relative;
    margin-bottom: 26px;

    &.fi-icon {

        &.fi-icon-l {
            input {
                padding-left: 45px;
                padding-right: 11px;
            }
        }
        input {
            padding-right: 50px;
        }
        textarea {
            padding-left: 50px;
        }
        &.textarea:before {
            left: 5px;
            top: 5px;
            z-index: 1;
        }
    }

    &.light-field {

        &:before {
            right: auto;
            left: 5px;
            z-index: 1;
        }

        &.fi-icon {

            input {
                padding-left: 50px;
                padding-right: 0;
            }
            &.multipleajaxselect input {
                padding: 0;
            }

            &.multipleajaxselect:before {
                z-index: 1;
            }
        }

        input {
            background-color: transparent;
            border-top: none;
            border-left: none;
            border-right: none;
            @include border-radius(0);

            &:focus {
                @include box-shadow(0, 1px, 0, 0, $frm-input-focus);
            }
        }
    }

    &.success,
    &.error {

        textarea,
        input {
            padding-right: 30px;

            &:focus {
                color: $frm-input-color;
            }
        }
        .field-wrapper {
            position: relative;

            &:after {
                content: "";
                background: transparent url($sprite_path) -30px -450px no-repeat;
                height: 30px;
                width: 30px;
                display: block;
                position: absolute;
                right: 2px;
                top: 2px;
            }
        }

    }
    &.error {

        textarea,
        input {
            border-color: $frm-input-error;

            &:focus {
                border-color: $frm-input-error;
                @include box-shadow(0, 0, 1px, 1px, $frm-input-error, inset);
            }

        }
        &.light-field {
            input {
                border-color: $frm-input-error;

                &:focus {
                    border-color: $frm-input-error;
                    @include box-shadow(0, 1px, 0, 0, $frm-input-error);
                }
            }
        }

        .field-wrapper:after {
            background-position: -30px -450px;
        }
    }
    &.success {

        .field-wrapper:after {
            background-position: 0 -450px;
        }
    }
    &.recaptcha,
    &.select {

        &.error,
        &.success {

            .field-wrapper:after {
                display: none;
            }
        }
        &.error {
            .select2-selection {
                border-color: $frm-input-error;
            }
        }
    }
}

/*
 * Field error message based on django messages
 */
.pure-form {

    .pure-field.error .errorlist {
        font-size: calc-font-size(13px);
        color: $alert-error;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 3px;
        clear: both;
    }
}

.pure-form {

    .form-add {
        text-align: center;
        position: relative;
        vertical-align: middle;

        &:before {
            background-color: #e4eaf1;
            content: '';
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: 50%;
            height: 1px;
            z-index: -1;
        }
        .ev-icon {
            z-index: 100;
        }
    }
}

.pure-form {
    .clearablefileinput,
    .fileinput {

        [data-upload] {
            padding-top: 8px;
            padding-bottom: 8px;
            min-width: 160px;
            float: right;
        }

        input[data-upload-name] {
            width: calc(100% - 170px);
            float: left;
        }

        &:after{
            content: "";
            clear: both;
            display: block;
        }
        &.error:after {
            right: 132px;
        }
    }
}

[data-upload] {
    display: inline-block;
    cursor: pointer;
}

.datetimeinput input[readonly] {
    background-color: #FFFFFF;
}
