/******************************************************************
 * Site Name: eVote
 * Author: Luis Silva
 *
 * Stylesheet: Header styles (two versions small and big)
 *
 *****************************************************************/

.wrap {
    max-width: $content-max-with;
    margin-left: auto;
    margin-right: auto;
}

header.site-header {
    height: 135px;
    margin-bottom: 15px;

    &.sticky {
        @include box-shadow(0, 2px, 10px, 0, rgba(74,74,74,0.75));
        position: fixed;
        width: 100%;
        z-index: 2;
    }

    a {
        color: $btn-color;
    }

    .site-top {
        background-color: $evote-default;
        height: 75px;
        color: white;
    }

    .pure-menu {
        height: 100%;

        .pure-menu-heading {
            padding: 0;

            img {
                width: 98px;
                height: 63px;
            }
        }

        .pure-menu-item {
            float: left;
        }

        .pure-menu-link-icon {
            display: inline-block;
            color: $lightgloss;
            border-left: 1px solid $lightgloss;
            font-size: calc-font-size(14px);
            padding: 0 7px;
            margin: 15px 0 0 0;
            line-height: 44px;
            height: 44px;
            min-width: 44px;
            text-align: center;
            text-decoration: none;

            &.link-button {
                border-left: 1px solid $lightgloss;
                text-transform: uppercase;

                &:last-child {
                    border-right: 1px solid $lightgloss;
                    margin-right: 35px;
                }
            }
            &:hover {
                color: $btn-color;
                @include transition(color 200ms linear);
            }
            &.user {
                color: $btn-color;
            }
        }
        .selected-menu {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 22px 22px 22px;
            border-color: transparent transparent $btn-color transparent;
            position: relative;
            top: -16px;
        }
        .pure-button {
            border: none;
            padding: 15px 33px 16px 9px;
            font-size: calc-font-size(16px);
            line-height: 44px;

            &.logout-button {
                padding: 15px 18px 16px 18px;
                min-width: auto;
                margin-left: 20px;
            }
            .ev-icon {
                float: left;
                padding-right: 10px;
                margin-right: 20px;
                border-right: 1px solid rgba(255, 255, 255, 0.7);
            }
        }
        .profile-info {
            font-family: $roboto-light;
            font-size: calc-font-size(15px);
            padding-left: 61px;
            position: relative;
            line-height: 75px;
            display: inline-block;

            .profile-photo {
                background-color: $hd-block-bg;
                position: absolute;
                top: 50%;
                left:0;
                margin-top: -23px;
                width: 46px;
                height: 46px;
                display: inline-block;
                overflow: hidden;
                @include border-radius(50%);
            }
        }
    }

    .pure-menu-children {
        top: 75px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        overflow: hidden;
        list-style: none;
        @include box-shadow(0, 4px, 4px, 0, rgba(0,0,0,0.75));

        li {

            .close-menu {
                border: 1px solid $dark-bg;
                width: 110px;
                height: 110px;
                position: absolute;
                right: 0;
                top: -90px;
                @include border-radius(50%);

                i {
                    margin-top: 70px;
                    margin-left: 40px;
                }
            }

            .menu-wrapper {
                max-width: 846px;
                overflow: hidden;

                &.menu-search {
                    margin: 20px auto 36px;
                }
                &.menu-settings {
                    margin: 13px auto 17px;
                    padding-left: 45px;
                }
            }
            /* search dropdown */
            input {
                float: left;

                &[type=text] {
                    font-size: calc-font-size(26px);
                    width: 710px;
                    padding-bottom: 12px;
                    margin-left: 40px;
                }
                &[type=submit] {
                    border: none;
                    background-color: transparent;
                    background: transparent url($sprite_path) -60px -500px no-repeat;
                    width: 65px;
                    height: 65px;
                    font-size: 0;
                    margin-top: -5px;
                    margin-left: 20px;

                    &:active,
                    &:focus {
                        outline: none;
                    }
                }
            }

            /* settings dropdown */
            .settings-option {
                float: left;
                margin-right: 50px;
            }
            .settings-title {
                font-size: calc-font-size(21px);
                margin-bottom: 12px;
            }
            .box-font,
            .box-color {
                float: left;
                line-height: 50px;
                text-align: center;
                margin: 15px 22px 0 0;
            }
            .box-font {
                border: 1px solid $dark-bg;
                min-width: 176px;
                padding: 14px;

                &.box-large {
                    font-size: calc-font-size(20px);
                }

                &.selected {
                    border: 2px solid $dark-bg;

                    div {
                        display: inline-block;
                        color: $btn-color;
                        min-width: 176px;
                        background-color: $btn-font-bg;
                    }
                }
            }
            .box-color {
                min-width: 117px;

                &.selected {
                    border: 2px solid $dark-bg;
                    padding: 14px 7px;
                    min-width: 99px;

                    div {
                        height: 48px;
                    }
                }
                &.box-color1 {
                    div {
                        background-color: $dark-bg;
                    }
                }
                &.box-color2 {
                    div {
                        background-color: $alt-dark-bg;
                    }
                }
                div {
                    height: 80px;
                }
            }
        }
    }
}

.sub-header {
    background: transparent url('/static/images/sub-header-bg.png') center center repeat-x;
    height: 60px;

    .sub-header-logo {
        margin-top: 20px;
        padding: 0;
    }
    .pure-menu-item:last-child .pure-menu-link {
        margin-right: 0;
    }
    .pure-menu-link {
        font-family: $roboto-light;
        border-bottom: 4px solid transparent;
        color: $btn-color;
        line-height: 1;
        font-size: calc-font-size(16px);
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 0 7px;
        margin: 12px 40px 0 40px;

        &:hover, &:focus {
            background: none;
        }
        &.selected,
        &:hover {
            border-color: $btn-color;
            @include transition(color 200ms linear);
        }
    }
}
