{% extends 'base.html' %}

{% load core_tags %}

{% block container %}
    <main class="wrap">
            <div class="pure-g">
                &nbsp;
                <div class="pure-u-1">
                    <h1>Teste heading h1</h1>
                    <h2>Teste heading h2</h2>
                    <h3>Teste heading h3</h3>
                    <h4>Teste heading h4</h4>
                    <h5>Teste heading h5</h5>
                    <h6>Teste heading h6</h6>
                    <p>Teste parágrafo. Um parágrafo apenas.</p>
                    <ul>
                        <li>Um ponto</li>
                        <li>Dois pontos</li>
                    </ul>
                    <dl>
                        <dt>
                            "Hello World" (phrase)
                        </dt>
                        <dd>
                            Hello world is a commonly used term for geeky programmers writing their first lines of output.
                        </dd>
                        <dt>
                            "Hello World" (phrase)
                        </dt>
                        <dd>
                            Hello world is a commonly used term for geeky programmers writing their first lines of output.
                        </dd>
                        <dt>
                            "Hello World" (phrase)
                        </dt>
                        <dd>
                            Hello world is a commonly used term for geeky programmers writing their first lines of output.
                        </dd>
                    </dl>
                </div>
                <div class="pure-u-1">
                    <h2 style="border-bottom: 1px solid black; margin-top: 20px;">Breadcrumbs</h2>
                    <ul class="pure-breadcrumbs">
                        {% breadcrumb "Nível 0" "evotecore:index" %}
                        {% breadcrumb "Nível 1" "evotecore:index" %}
                        {% breadcrumb "Nível 2" %}
                    </ul>
                </div>
                <div class="pure-u-1">
                    <h2 style="border-bottom: 1px solid black;margin-top:20px">Titles</h2>
                    <h1>H1 Título de Página</h1>
                    <h2 class="pure-block-title">H2 Título de bloco</h2>
                </div>
                <div class="pure-u-1">
                    <h2 style="border-bottom: 1px solid black;margin-top:20px">Accordions</h2>
                    <section class="pure-sec-block">
                        <h3 class="pure-sec-title">Título</h3>
                        <div class="pure-sec-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada ultrices maximus. Morbi ac convallis lacus. Nulla in velit id nibh rutrum bibendum non sit amet felis. Phasellus non lorem sit amet ipsum molestie commodo id vitae risus. Phasellus vitae luctus eros, eget iaculis lectus. Mauris consequat enim orci, eget pulvinar augue bibendum nec. Ut cursus et dolor vel convallis.
                        </div>
                    </section>
                    <div class="pure-sec-accordion">
                        <section class="pure-sec-block">
                            <h3 class="pure-sec-title">
                                1.1 Título com acordeão
                                <i class="ev-icon evi-sel-drk-dwn"></i>
                            </h3>
                            <div class="pure-sec-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada ultrices maximus. Morbi ac convallis lacus. Nulla in velit id nibh rutrum bibendum non sit amet felis. Phasellus non lorem sit amet ipsum molestie commodo id vitae risus. Phasellus vitae luctus eros, eget iaculis lectus. Mauris consequat enim orci, eget pulvinar augue bibendum nec. Ut cursus et dolor vel convallis.
                            </div>
                        </section>
                        <section class="pure-sec-block">
                            <h3 class="pure-sec-title">
                                1.2 Título com acordeão
                                <i class="ev-icon evi-sel-drk-dwn"></i>
                            </h3>
                            <div class="pure-sec-body full-row">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada ultrices maximus. Morbi ac convallis lacus. Nulla in velit id nibh rutrum bibendum non sit amet felis. Phasellus non lorem sit amet ipsum molestie commodo id vitae risus. Phasellus vitae luctus eros, eget iaculis lectus. Mauris consequat enim orci, eget pulvinar augue bibendum nec. Ut cursus et dolor vel convallis.
                            </div>
                        </section>
                    </div>
                </div>
                <div class="pure-u-1">
                    <h2 style="border-bottom: 1px solid black;margin-top:20px">Alerts</h2>
                    <div class="pure-help-info">
                        <i class="ev-icon evi-open-state"></i>
                        <b>Aberto.</b>
                        In this area you need to define the security level to indicate how.
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="pure-alert">
                        <i class="ev-icon evi-alert"></i>
                        Error: In this area you need to define the security level to indicate how.
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="pure-alert">
                        <i class="ev-icon evi-alert"></i>
                        Error: In this area you need to define the security level to indicate how. In this area you need to define the security level to indicate how. In this area you need to define the security level to indicate how. In this area you need to define the security level to indicate how.
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="pure-warning">
                        <i class="ev-icon evi-alert"></i>
                        Warning: In this area you need to define the security level to indicate how.
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="pure-success">
                        <i class="ev-icon evi-alert-success"></i>
                        Success: In this area you need to define the security level to indicate how.
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="pure-help">
                        <i class="ev-icon evi-msg"></i>
                        Notification: In this area you need to define the security level to indicate how.
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="pure-help">
                        <i class="ev-icon evi-help"></i>
                        Information: In this area you need to define the security level to indicate how.
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="pure-help">
                        <i class="ev-icon evi-help"></i>
                        Information: In this area you need to define the security level to indicate how. In this area you need to define the security level to indicate how. In this area you need to define the security level to indicate how. In this area you need to define the security level to indicate how. In this area you need to define the security level to indicate how.
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="pure-info">
                        <i class="ev-icon evi-info"></i>
                        O seu pedido foi submetido com sucesso.<br/>
                        Aguarde informação do administrador no seu email.
                    </div>
                </div>
                <div class="pure-u-1">
                    <div class="pure-info text-center">
                        <i class="ev-icon evi-info"></i>
                        O seu pedido foi submetido com sucesso.
                        Aguarde informação do administrador no seu email.
                    </div>
                </div>

                <div class="pure-u-1">
                    <h2 style="border-bottom: 1px solid black;margin-top:20px">Tables</h2>
                    <table class="pure-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="s-40">Processo eleitoral</th>
                                <th>Data</th>
                                <th>Entidade</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img alt="" src="http://di.uminho.pt/img/logotipo_40anosUM.png"></td>
                                <td>Pellentesque suscipit vehicula lobortis. Duis mauris nibh, accumsan non dolor eu, mattis consectetur sem.</td>
                                <td><i class="ev-icon evi-calendar alg-l"></i>28-09-2016 12:40</td>
                                <td>Lorem ipsum dolor mauris nibh</td>
                                <td>Fechado<i class="ev-icon evi-lock-state"></i></td>
                            </tr>
                            <tr>
                                <td><img alt="" src="http://di.uminho.pt/img/logotipo_40anosUM.png"></td>
                                <td>Pellentesque suscipit vehicula lobortis. Duis mauris nibh, accumsan non dolor eu, mattis consectetur sem.</td>
                                <td><i class="ev-icon evi-calendar alg-l"></i>28-09-2016 12:40</td>
                                <td>Lorem ipsum dolor mauris nibh</td>
                                <td>Fechado<i class="ev-icon evi-lock-state"></i></td>
                            </tr>
                            <tr>
                                <td><img alt="" src="http://di.uminho.pt/img/logotipo_40anosUM.png"></td>
                                <td>Pellentesque suscipit vehicula lobortis. Duis mauris nibh, accumsan non dolor eu, mattis consectetur sem.</td>
                                <td><i class="ev-icon evi-calendar alg-l"></i>28-09-2016 12:40</td>
                                <td>Lorem ipsum dolor mauris nibh</td>
                                <td>Fechado<i class="ev-icon evi-lock-state"></i></td>
                            </tr>
                            <tr>
                                <td><img alt="" src="http://di.uminho.pt/img/logotipo_40anosUM.png"></td>
                                <td>Pellentesque suscipit vehicula lobortis. Duis mauris nibh, accumsan non dolor eu, mattis consectetur sem.</td>
                                <td><i class="ev-icon evi-calendar alg-l"></i>28-09-2016 12:40</td>
                                <td>Lorem ipsum dolor mauris nibh</td>
                                <td>Fechado<i class="ev-icon evi-lock-state"></i></td>
                            </tr>
                            <tr>
                                <td><img alt="" src="http://di.uminho.pt/img/logotipo_40anosUM.png"></td>
                                <td>Pellentesque suscipit vehicula lobortis. Duis mauris nibh, accumsan non dolor eu, mattis consectetur sem.</td>
                                <td><i class="ev-icon evi-calendar alg-l"></i>28-09-2016 12:40</td>
                                <td>Lorem ipsum dolor mauris nibh</td>
                                <td>Fechado<i class="ev-icon evi-lock-state"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="pure-table-dark">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Número total de votos</th>
                                <th>Número de votos em %</th>
                                <th>Número de mandatos</th>
                            </tr>
                        <tbody>
                            <tr>
                                <td>Lista A</td>
                                <td>333</td>
                                <td>20%</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Lista B</td>
                                <td>333</td>
                                <td>20%</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Lista C</td>
                                <td>333</td>
                                <td>20%</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Lista D</td>
                                <td>333</td>
                                <td>20%</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Lista E</td>
                                <td>333</td>
                                <td>20%</td>
                                <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="pure-table pure-table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="s-40">Processo eleitoral</th>
                                <th>Data</th>
                                <th>Entidade</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img alt="" src="http://di.uminho.pt/img/logotipo_40anosUM.png"></td>
                                <td>Pellentesque suscipit vehicula lobortis. Duis mauris nibh, accumsan non dolor eu, mattis consectetur sem.</td>
                                <td><i class="ev-icon evi-calendar alg-l"></i>28-09-2016 12:40</td>
                                <td>Lorem ipsum dolor mauris nibh</td>
                                <td>Fechado<i class="ev-icon evi-lock-state"></i></td>
                            </tr>
                            <tr>
                                <td><img alt="" src="http://di.uminho.pt/img/logotipo_40anosUM.png"></td>
                                <td>Pellentesque suscipit vehicula lobortis. Duis mauris nibh, accumsan non dolor eu, mattis consectetur sem.</td>
                                <td><i class="ev-icon evi-calendar alg-l"></i>28-09-2016 12:40</td>
                                <td>Lorem ipsum dolor mauris nibh</td>
                                <td>Fechado<i class="ev-icon evi-lock-state"></i></td>
                            </tr>
                            <tr>
                                <td><img alt="" src="http://di.uminho.pt/img/logotipo_40anosUM.png"></td>
                                <td>Pellentesque suscipit vehicula lobortis. Duis mauris nibh, accumsan non dolor eu, mattis consectetur sem.</td>
                                <td><i class="ev-icon evi-calendar alg-l"></i>28-09-2016 12:40</td>
                                <td>Lorem ipsum dolor mauris nibh</td>
                                <td>Fechado<i class="ev-icon evi-lock-state"></i></td>
                            </tr>
                            <tr>
                                <td><img alt="" src="http://di.uminho.pt/img/logotipo_40anosUM.png"></td>
                                <td>Pellentesque suscipit vehicula lobortis. Duis mauris nibh, accumsan non dolor eu, mattis consectetur sem.</td>
                                <td><i class="ev-icon evi-calendar alg-l"></i>28-09-2016 12:40</td>
                                <td>Lorem ipsum dolor mauris nibh</td>
                                <td>Fechado<i class="ev-icon evi-lock-state"></i></td>
                            </tr>
                            <tr>
                                <td><img alt="" src="http://di.uminho.pt/img/logotipo_40anosUM.png"></td>
                                <td>Pellentesque suscipit vehicula lobortis. Duis mauris nibh, accumsan non dolor eu, mattis consectetur sem.</td>
                                <td><i class="ev-icon evi-calendar alg-l"></i>28-09-2016 12:40</td>
                                <td>Lorem ipsum dolor mauris nibh</td>
                                <td>Fechado<i class="ev-icon evi-lock-state"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pure-u-1">
                    <h2 style="border-bottom: 1px solid black;margin-top:20px">Navigation</h2>
                    <div class="pure-menu pure-menu-horizontal pure-menu-tab">
                        <h2 class="pure-menu-tab-title">Election 1</h2>
                        <ul class="pure-menu-list pull-right">
                            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">News</a></li>
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sports</a></li>
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Finance</a></li>
                            <li class="pure-menu-item pure-menu-selected">Buzz</li>
                            <li class="pure-menu-item">Economy</li>
                        </ul>
                    </div>
                    <div class="pure-menu-content"></div>
                    <div class="pure-menu pure-menu-horizontal pure-menu-tab">
                        <ul class="pure-menu-list pull-right">
                            <li class="pure-menu-item pure-menu-selected">News</li>
                            <li class="pure-menu-item">Sports</li>
                            <li class="pure-menu-item">Finance</li>
                            <li class="pure-menu-item pure-menu-selected">Buzz</li>
                            <li class="pure-menu-item">Economy</li>
                        </ul>
                    </div>
                    <div class="pure-menu-content">
                        <h2>Step 2. Tab title</h2>
                    </div>
                </div>
                <div class="pure-u-1">
                    &nbsp;
                </div>
                <div class="pure-u-1">
                    <h2 style="border-bottom: 1px solid black;margin-top:20px">Buttons</h2>
                    <a href="#" class="pure-button pure-button-small pure-button-primary pure-button-round">Normal</a>
                    <a href="#" class="pure-button pure-button-small pure-button-secondary pure-button-round">Normal</a>
                    <a href="#" class="pure-button pure-button-small pure-button-disabled pure-button-round">Inativo</a>
                </div>
                <div class="pure-u-1">
                    &nbsp;
                </div>
                <div class="pure-u-1">
                    <a href="#" class="pure-button pure-button-primary pure-button-round">Normal</a>
                    <a href="#" class="pure-button pure-button-secondary pure-button-round">Normal</a>
                    <a href="#" class="pure-button pure-button-disabled pure-button-round">Inativo</a>
                </div>
                <div class="pure-u-1">
                    &nbsp;
                </div>
                <div class="pure-u-1">
                    <a href="#" class="pure-button pure-button-primary pure-button-smooth">Normal</a>
                    <a href="#" class="pure-button pure-button-secondary pure-button-smooth">Normal</a>
                    <a href="#" class="pure-button pure-button-disabled pure-button-smooth">Inativo</a>
                    <div style="background-color: #666; display: inline-block; padding: 10px">
                        <a href="#" class="pure-button pure-button-large">Verificar cardernos eleitorais</a>
                    </div>
                    <div style="display: inline-block;">
                        <a href="#" class="pure-button pure-button-medium">Guia do eleitor</a>
                    </div>
                </div>
                <div class="pure-u-1">
                    &nbsp;
                </div>
                <div class="pure-u-1">
                    <a href="#" class="pure-button pure-button-primary pure-button-left">Normal</a>
                    <a href="#" class="pure-button pure-button-primary pure-button-right">Normal</a>
                    <a href="#" class="pure-button pure-button-secondary pure-button-left">Normal</a>
                    <a href="#" class="pure-button pure-button-secondary pure-button-right">Normal</a>
                    <a href="#" class="pure-button pure-button-disabled pure-button-left">Inativo</a>
                    <a href="#" class="pure-button pure-button-disabled pure-button-right">Inativo</a>
                </div>
                <div class="pure-u-1">
                    &nbsp;
                </div>
                <div class="pure-u-1">
                    <h2 style="border-bottom: 1px solid black;margin-top:20px">Forms - Inputs</h2>
                    <form class="pure-form">
                	<div class="pure-g pure-gutter">
                	    <div class="pure-u-1-3">
                            <div class="pure-field select error">
                                <select data-style-select class="pure-select">
                                    <option value="option1">Option 1</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                    <option value="option4">Option 4</option>
                                    <option value="option5">Option 5</option>
                                </select>
                            </div>
                        </div>
                	    <div class="pure-u-1-3">
                                <select data-style-select class="pure-select" disabled>
                                    <option value="option1">Inativo</option>
                                    <option value="option2">Option 2</option>
                                </select>
                            </div>
                	    <div class="pure-u-1-3">
                                <select data-style-select-search class="pure-select">
                                    <option value="option1">Option 1</option>
                                    <option value="option2">Option 2</option>
                                    <option value="option3">Option 3</option>
                                    <option value="option4">Option 4</option>
                                    <option value="option5">Option 5</option>
                                    <option value="option5">Option 5</option>
                                    <option value="option5">Option 5</option>
                                    <option value="option5">Option 5</option>
                                    <option value="option5">Option 5</option>
                                    <option value="option5">Option 5</option>
                                    <option value="option5">Option 5</option>
                                    <option value="option5">Option 5</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                </div>
                <div class="pure-u-1">
                    &nbsp;
                </div>
                <div class="pure-u-1">
                    <form class="pure-form">
                	<div class="pure-g pure-gutter">
                	    <div class="pure-u-1-4">
				            <div class="pure-field success">
                                <div class="field-wrapper">
                                    <input type="text" value="Nome de Teste já inserido" />
                                </div>
				            </div>
                        </div>
                	    <div class="pure-u-1-4">
				            <div class="pure-field">
                                <div class="field-wrapper">
                                    <input type="text" value="" placeholder="Insira o nome" />
                                </div>
				            </div>
                        </div>
                	    <div class="pure-u-1-4">
                            <div class="pure-field">
                                <div class="field-wrapper">
                                    <input type="text" value="" placeholder="Inativo" disabled />
                                </div>
                            </div>
                        </div>
                	    <div class="pure-u-1-4">
				            <div class="pure-field error">
                                <div class="field-wrapper">
                                    <input type="text" value="Erro" />
                                </div>
                                <ul class="errorlist">
                                    <li>This field is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="pure-u-1">
                    &nbsp;
                </div>
                <div class="pure-u-1">
                    <form class="pure-form">
                    <div class="pure-g pure-gutter">
                        <div class="pure-u-1-4">
                            <div class="pure-field success">
                                <label>Campo com label</label>
                                <div class="field-wrapper">
                                    <input type="text" value="Nome de Teste já inserido" />
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1-4">
                            <div class="pure-field">
                                <label>Campo com label</label>
                                <div class="field-wrapper">
                                    <input type="text" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1-4">
                            <div class="pure-field">
                                <label>Campo com label</label>
                                <div class="field-wrapper">
                                    <input type="text" value="Inativo" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1-4">
                            <div class="pure-field error">
                                <label>Campo com label</label>
                                <div class="field-wrapper">
                                    <input type="text" value="Erro" />
                                </div>
                                <ul class="errorlist">
                                    <li>This field is required.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="pure-u-1">
                    &nbsp;
                </div>
                <div class="pure-u-1">
                    <form class="pure-form">
                	<div class="pure-g pure-gutter">
                	    <div class="pure-u-1-4">
                            <div class="pure-field light-field">
                                <div class="field-wrapper">
                                    <input type="text" value="Nome de Teste já inserido" />
                                </div>
                            </div>
                        </div>
                	    <div class="pure-u-1-4">
                            <div class="pure-field light-field">
                                <div class="field-wrapper">
                                    <input type="text" value="" placeholder="Insira o nome" />
                                </div>
                            </div>
                        </div>
                	    <div class="pure-u-1-4">
                            <div class="pure-field light-field">
                                <div class="field-wrapper">
                                    <input type="text" value="" placeholder="Inativo" disabled />
                                </div>
                            </div>
                        </div>
                	    <div class="pure-u-1-4">
                            <div class="pure-field light-field error">
                                <div class="field-wrapper">
                                    <input type="text" value="Erro" />
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="pure-u-1">
                    &nbsp;
                </div>
                <div class="pure-u-1">
                    <form class="pure-form">
                    <div class="pure-g pure-gutter">
                        <div class="pure-u-1-4">
                            <div class="pure-field">
                                <div class="field-wrapper">
                                    <input id="file-upload" name="file-name" type="text" data-upload-name readonly>
                                    <a href="#" class="pure-button pure-button-secondary pure-button-smooth" data-upload>Choose file</a>
                                    <div class="hidden">
                                        <input type="file" name="fileupload" value="fileupload" id="fileupload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pure-u-1-4">
                        </div>
                        <div class="pure-u-1-4">
                        </div>
                        <div class="pure-u-1-4">
                        </div>
                    </div>
                    </form>
                </div>
                <div class="pure-u-1">
                    <form class="pure-form">
                	<div class="pure-g pure-gutter">
                	    <div class="pure-u-1-2">
                            <textarea rows=5 placeholder="Mensagem"></textarea>
                            <h2 style="border-bottom: 1px solid black;margin-top:20px">Forms - Checkbox & Radio buttons</h2>
                            <label for="checkbtn1" class="pure-checkbox">
                                <input type="checkbox" id="checkbtn1" name="checkbtn" value="">
                                <span></span>
                                Check me please!
                            </label>
                            <label for="checkbtn2" class="pure-checkbox">
                                <input type="checkbox" id="checkbtn2" name="checkbtn" value="" checked>
                                <span></span>
                                Check me please!
                            </label>
                            <label for="radiobtn1" class="pure-radio">
                                <input type="radio" id="radiobtn1" name="radiobtn" value="yes">
                                <span></span>
                                Yes
                            </label>
                            <label for="radiobtn2" class="pure-radio">
                                <input type="radio" id="radiobtn2" name="radiobtn" value="no">
                                <span></span>
                                No
                            </label>
                        </div>
                	    <div class="pure-u-2-2">
                                <i class="ev-icon evi-edit"></i>
                                <i class="ev-icon evi-delete"></i>
                                <i class="ev-icon evi-add"></i>
                                <i class="ev-icon evi-refresh"></i>
                                <i class="ev-icon evi-calendar"></i>
                                <i class="ev-icon evi-lock-state"></i>
                                <i class="ev-icon evi-open-state"></i>
                                <i class="ev-icon evi-avatar"></i>
                                <i class="ev-icon evi-email"></i>
                                <i class="ev-icon evi-topic"></i>
                                <i class="ev-icon evi-msg"></i>
                                <i class="ev-icon evi-phone"></i>
                                <i class="ev-icon evi-world"></i>
                                <i class="ev-icon evi-lock"></i>
				<br/>
                                <i class="ev-icon evi-unread-msg"></i>
                                <i class="ev-icon evi-read-msg"></i>
                                <i class="ev-icon evi-success"></i>
                                <i class="ev-icon evi-error"></i>
                                <i class="ev-icon evi-sel-s-dwn"></i>
                                <i class="ev-icon evi-sel-s-up"></i>
                                <i class="ev-icon evi-sel-dis-dwn"></i>
                                <i class="ev-icon evi-sel-dis-up"></i>
                                <i class="ev-icon evi-sel-dwn"></i>
                                <i class="ev-icon evi-sel-up"></i>
                                <i class="ev-icon evi-sel-drk-dwn"></i>
                                <i class="ev-icon evi-sel-drk-up"></i>
                                <i class="ev-icon evi-s-arrow-dwn"></i>
                                <i class="ev-icon evi-s-arrow-up"></i>
                                <i class="ev-icon evi-arrow-left"></i>
                                <i class="ev-icon evi-arrow-right"></i>
				<br/>
                                <i class="ev-icon evi-doc"></i>
                                <i class="ev-icon evi-xls"></i>
                                <i class="ev-icon evi-pdf"></i>
                                <i class="ev-icon evi-addrow"></i>
                                <i class="ev-icon evi-circle evi-b-success"></i>
                                <i class="ev-icon evi-circle evi-noinfo"></i>
                                <i class="ev-icon evi-circle evi-b-lock"></i>
                                <i class="ev-icon evi-circle evi-s-close"></i>
                                <i class="ev-icon evi-close"></i>
                                <i class="ev-icon evi-help"></i>
                                <i class="ev-icon evi-b-close"></i>
				<br/>
                                <div style="background-color: #7f96b9;">
                                    <i class="ev-icon evi-m-avatar"></i>
                                    <i class="ev-icon evi-m-setup"></i>
                                    <i class="ev-icon evi-m-search"></i>
                                    <i class="ev-icon evi-new-msg"></i>
                                    <i class="ev-icon evi-alert"></i>
                                    <i class="ev-icon evi-info"></i>
                                    <i class="ev-icon evi-b-help"></i>
                                    <i class="ev-icon evi-b-help-dk"></i>
                                    <i class="ev-icon evi-alert-success"></i>
                                </div>
				<br/>
                                <i class="ev-icon evi-b-search"></i>
                                <i class="ev-icon evi-arrow-dwn"></i>
                                <i class="ev-icon evi-arrow-up"></i>
                                <i class="ev-icon evi-reponse"></i>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="pure-u-1">
                    &nbsp;
                </div>
                <div class="pure-u-1">
                    <h2 style="border-bottom: 1px solid black;margin-top:20px">Pagination</h2>
                    <div class="pure-pag">
                      <ul>
                        <li><a href="#"></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"></a></li>
                      </ul>
                    </div>
                    <div class="pure-pag">
                      <ul>
                        <li><a href="#" class="disabled"></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li>...</li>
                        <li><a href="#">14</a></li>
                        <li><a href="#">15</a></li>
                        <li><a href="#"></a></li>
                      </ul>
                    </div>
                </div>
                <div class="pure-u-1">
                    &nbsp;
                </div>
            </div>
    </main>
{% endblock container %}
