{% extends 'base.html' %}
{% load i18n static core_tags %}

{% block bodyextraclass %}homepage {% accessibility_classes %}{% endblock bodyextraclass %}

{% block header %}
    <header class="site-header">
        {% include 'includes/topbar.html' %}
    </header>
{% endblock header %}

{% block breadcrumbs_wrapper %}{% endblock breadcrumbs_wrapper %}

{% block container %}
	<main class="wrap">
        <div class="pure-g pure-gutter">
            <div class="pure-u-1-2">
                <a href="{% url 'evotecore:index' %}" class="evotum-logo pull-left">
                    <img alt="eVotUM" src="{% static 'images/logo-evotum-hp.png' %}">
                    <p>{% trans 'Electronic voting system of the Univesity of Minho' %}</p>
                </a>
            </div>
            <div class="pure-u-1-2">
                <div class="pure-menu pure-menu-horizontal sub-header">
                    <nav class="evote-subnav pull-right">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item"><a href="{% url 'voters:electoralprocess-list' %}" class="pure-menu-link">{% trans 'Electoral processes' %}</a></li>
                            <li class="pure-menu-item"><a href="{% url 'voters:howitworks' %}" class="pure-menu-link">{% trans 'How does it work' %}</a></li>
                            <li class="pure-menu-item"><a href="{% url 'voters:contacts' %}" class="pure-menu-link">{% trans 'Contacts' %}</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="pure-g pure-gutter">
            <div class="pure-u-1-2">
                <p class="description">
                    {% trans 'The electronic voting system (eVotUM) is a Web based voting system, addressed to the University of Minho community, which allows to conduct formal electoral acts within the academic community and to hold referendums on the issues most relevant to the community.' %}
                </p>
            </div>
            <div class="pure-u-1-2">
                <div class="large-buttons">
                    <a href="{% if ADFS_WSFED %}{% url 'adfsauth:ws-fed-signin' %}{% else %}{{LOGIN_URL}}{% endif %}" class="pure-button pure-button-large pull-right">{% trans 'Login to vote' %}</a>
                    <a href="{% url 'voters:electoralprocess-list' %}" class="pure-button pure-button-large pull-right first-button">{% trans 'Check electoral roll' %}</a>
                </div>
            </div>
        </div>
    </main>
{% endblock container %}
