{% extends 'evotemailings/base.html' %}

{% block containerpt %}
    <p>
        Caro membro da Comissão Eleitoral,
    </p>
    <p>
        Recebeu um contacto de <b>{{name}}</b> ({{from}}) com o assunto <b>{{subject}}</b> e a seguinte mensagem:
        {{message}}
    </p>
{% endblock containerpt %}

{% block container %}
    <p>
        Dear member of the Electoral Commission,
    </p>
    <p>
        You have received an contact from <b>{{name}}</b> ({{from}}) with the subject <b>{{subject}}</b> and the following message:
        {{message}}
    </p>
{% endblock %}
