{% extends 'evotemailings/base.html' %}

{% block containerpt %}
    <p>
        Caro eleitor,<br/>
        Obrigado por utilizar o sistema de votação eletrónico eVotUM.
    </p>
    <p>Para confirmar o seu voto, por favor introduza o seguinte código de votação: <b>{{pin_value}}</b><br/>
    Este código irá expirar em: <b>{{pin_expiration_date}}</b>
    </p>
{% endblock containerpt %}

{% block container %}
    <p>
        Dear voter,<br/>
        Thank you for using the eVotUM e-voting system.
    </p>
    <p>To confirm your vote, please enter the following voting code: <b>{{pin_value}}</b><br/>
    This code will expire on: <b>{{pin_expiration_date}}</b>
    </p>
{% endblock %}
