{% extends 'evotemailings/base.html' %}

{% block containerpt %}

    <p>
        Caro eleitor,<br/>
        Obrigado por utilizar o sistema de votação eletrónico eVotUM.
    </p>
    <p>
        O seu voto referente à eleição {{election.identifier}} do processo eleitoral {{election.electoral_process.identifier}} foi introduzido na urna eletrónica, com a referência de voto {{reference}}.
    </p>
    <p>
        No final da votação poderá verificar que o voto associado a esta referência de voto foi contabilizada. Para tal deverá dirigir-se à página da eleição {{election.identifier}} do processo eleitoral {{election.electoral_process.identifier}} e selecionar o botão "Consulta das referências de voto".
    </p>
{% endblock containerpt %}


{% block container %}
    <p>
        Dear voter,<br/>
        Thank you for using the eVotUM e-voting system.
    </p>
    <p>
        Your vote ({{election.identifier}} election in the {{election.electoral_process.identifier}} electoral process) was introduced into the electronic ballot box, with the following vote reference: {{reference}}.
    </p>
    <p>
        At the end of the voting time you can verify that the vote associated with this voting reference was counted. To do so, go to the {{election.identifier}} election page of the {{election.electoral_process.identifier}} electoral process and select the "Browse Vote References" button.
    </p>
{% endblock %}
