{% extends 'evotemailings/base.html' %}

{% block containerpt %}
    <p>
        Caro {{message.recipient.get_name}},
    </p>
    <p>
        A mensagem com o assunto <b>{{message.subject}}</b> e o seguinte texto foi enviada:
        <br>
        {{message.body|linebreaks}}
    </p>
{% endblock containerpt %}

{% block container %}
    <p>
        Dear {{message.recipient.get_name}},
    </p>
    <p>
        The following message with the subject <b>{{message.subject}}</b> and the following body was sent:
        <br>
        {{message.body|linebreaks}}
    </p>
{% endblock %}
