{% extends 'evotemailings/base.html' %}

{% block containerpt %}
    <p>
        Caro {{message.recipient.get_name}},
    </p>
    <p>
        Recebeu um contacto de <b>{{message.sender.get_name}}</b> ({{message.sender.get_email}}) com o assunto <b>{{message.subject}}</b> e a seguinte mensagem:
        <br>
        {{message.body|linebreaks}}
    </p>
{% endblock containerpt %}

{% block container %}
    <p>
        Dear {{message.recipient.get_name}},
    </p>
    <p>
        You have received an contact from <b>{{message.sender.get_name}}</b> ({{message.sender.get_email}}) with the subject <b>{{message.subject}}</b> and the following message:
        <br>
        {{message.body|linebreaks}}
    </p>
{% endblock %}
