{% load i18n staticfiles compress core_tags raven admin_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"pt" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta name="viewport" content="width=1250">
    <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>

    <title>{% block title %} eVotUM{% endblock title %}</title>

    <!-- BEGIN: stylesheets from vendors -->
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-ui/themes/base/jquery-ui.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/pure/pure-min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/pure/grids-responsive-min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate.css/animate.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/dist/css/select2.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/remodal/dist/remodal.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/remodal/dist/remodal-default-theme.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/ladda/dist/ladda.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/cookieconsent/build/cookieconsent.min.css' %}">
    {% endcompress %}
    <!-- END: stylesheets from vendors -->

    <!-- BEGIN: internal stylesheets -->
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'styles/main.scss' %}">
    {% endcompress %}
    <!-- END: internal stylesheets -->

    {% block extrastyle %}{% endblock extrastyle %}

    {% block googleanalytics %}{% google_analytics %}{% endblock googleanalytics %}
</head>
<body class="default {% block bodyextraclass %}{% endblock bodyextraclass %}">

    {% block header %}
        <header class="site-header" data-sticky>
            {% include 'includes/topbar.html' %}
            {% include 'includes/topsubbar.html' %}
        </header>
    {% endblock header %}

    {% block alertmessages %}{% global_alert %}{% endblock alertmessages %}

    {% block notifications %}
        {% include 'includes/notifications.html' %}
    {% endblock notifications %}

    {% block breadcrumbs_wrapper %}
        <ul class="pure-breadcrumbs wrap">
            {% block breadcrumbs %}
                {% trans "Home" as home %}
                {% breadcrumb home "evotecore:index" %}
            {% endblock breadcrumbs %}
        </ul>
    {% endblock breadcrumbs_wrapper %}

    <!-- Container -->
    {% block container %}
        <main class="wrap">
            <h1>eVote</h1>
        </main>
    {% endblock container %}
    <!-- END Container -->

    <!-- Footer -->
    {% block footer %}
        <footer class="site-footer">
            {% include 'includes/footer.html' %}
        </footer>
    {% endblock footer %}
    <!-- END Footer -->

    {% include 'includes/modals.html' %}

    <!-- BEGIN: javascripts from vendors -->
    {% compress js %}
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    {% endcompress %}

    {% compress js %}
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/underscore/underscore-min.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/select2/dist/js/select2.full.min.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/select2/dist/js/i18n/pt.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/noty/js/noty/packaged/jquery.noty.packaged.min.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/remodal/dist/remodal.min.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/ladda/dist/spin.min.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/ladda/dist/ladda.min.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/jquery.are-you-sure/jquery.are-you-sure.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'vendor/cookieconsent/build/cookieconsent.min.js' %}"></script>
    {% endcompress %}

    {% if LANGUAGE_CODE == "pt" %}
        {% compress js %}
            <script type="text/javascript" charset="utf-8" src="{% static 'vendor/jqueryui-timepicker-addon/dist/i18n/jquery-ui-timepicker-pt.js' %}"></script>
            <script type="text/javascript" charset="utf-8" src="{% static 'js/jquery-ui-timepicker-pt.js' %}"></script>
        {% endcompress %}
    {% endif %}
    <!-- END: javascripts from vendors -->

    {% block extrajs %}{% endblock extrajs %}

    <!-- BEGIN: internal javascripts -->
    <script type="text/javascript" charset="utf-8" src="{% url 'javascript-catalog' %}"></script>

    {% compress js %}
        <script type="text/javascript" charset="utf-8" src="{% static 'js/formsets.jquery.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'evoteajaxforms/forms.jquery.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'js/django-messages-noty.jquery.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'js/noty-evote-theme.jquery.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'js/modal-partial.jquery.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'js/stickyheader.jquery.js' %}"></script>
        <script type="text/javascript" charset="utf-8" src="{% static 'js/main.jquery.js' %}"></script>
    {% endcompress %}
    <!-- END: internal javascripts -->

</body>
</html>
