{% load i18n %}

<div class="pure-g text-center">
    <div class="pure-u-1">
        <h1>400</h1>
    </div>
    <div class="pure-u-1">
        <h2>{% trans 'Bad Request' %}</h2>
    </div>
    {% include 'evotecore/includes/errors/sentry_msg.html' %}
</div>
