{% load i18n %}

<div class="pure-g text-center">
    <div class="pure-u-1">
        <h1>403</h1>
    </div>
    <div class="pure-u-1">
        <h2>{% trans 'Forbidden access' %}</h2>
    </div>
    <div class="pure-u-1">
        {% trans "You are forbidden of access to this page. If you think you should have access, please contact us." %}
    </div>
</div>
