{% load i18n %}

<div class="pure-g text-center">
    <div class="pure-u-1">
        <h1>404</h1>
    </div>
    <div class="pure-u-1">
        <h2>Page not found!</h2>
    </div>
    <div class="pure-u-1">
        {% trans "The page you are looking for can't be found." %}
    </div>
</div>
