{% load i18n %}

<div class="pure-g text-center">
    <div class="pure-u-1">
        <h1>500</h1>
    </div>
    <div class="pure-u-1">
        <h2>Internal Error</h2>
    </div>
    <div class="pure-u-1">
        {% trans "There was a problem processing your request. Please try again in a few moments." %}
    </div>
    {% include 'evotecore/includes/errors/sentry_msg.html' %}
</div>
