{% load i18n %}

{% if request.sentry.id and show_raven_id %}
    <div class="pure-u-1">
        {% trans "If you need assistence, you may reference this error as" %} <b>{{ request.sentry.id }}</b>
    </div>
{% endif %}
