$sprite_path: '/static/images/icons-sprite.png';
$font_mult: 1 !global;

@import 'base/colors';
@import 'utils/module';
@import 'base/module';
@import 'components/module';
@import 'layout/module';
@import 'pages/module';

.access-text {
    @import 'base/access_text';
    @import 'base/module';
    @import 'components/module';
    @import 'layout/module';
    @import 'pages/module';
}

// Alternative theme
body.access-color {
    $sprite_path: '/static/images/access-icons-sprite.png';
    $font_mult: 1 !global;
    // Override color variables.
    @import 'base/access_colors';
    // All imports must be redone inside the selector.
    @import 'base/module';
    @import 'components/module';
    @import 'layout/module';
    @import 'pages/module';

    // Alternative fonts in this theme
    &.access-text {
        $font_mult: 1.3 !global;
        // Override color variables.
        // All imports must be redone inside the selector.
        @import 'base/module';
        @import 'components/module';
        @import 'layout/module';
        @import 'pages/module';
        @import 'base/access_text';
    }
}
