@font-face {
    font-family: 'robotoregular';
    src: url('/static/fonts/Roboto-Regular-webfont.eot');
    src: url('/static/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('/static/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    font-family: "robotoregular", sans-serif;
    color: #3f4359;
    height: 100%;
}

main {
    min-height: calc(100% - 353px);
    margin-bottom: 25px;
}

header {
    height: 135px;
    margin-bottom: 15px;
}

.wrap {
    max-width: 1246px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.site-top {
    height: 75px;
    background-color: #2e3141;
}

.site-top img {
    width: 98px;
    height: 63px;
}

.sub-header {
    background: transparent url(/static/images/sub-header-bg.png) center center repeat-x;
    height: 60px;
}

.sub-header-logo {
    margin-top: 20px;
    float:left;
}

.footer-bar {
    background-color: #2e3141;
    height: 60px;
}

.copyright {
    margin: 25px 0;
    font-size: 12px;
    color: #2f3242;
}

h1 {
    font-size: 100px;
    line-height: 1.2;
    font-weight: normal;
    margin-bottom: 30px;
}

h2 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    margin: 0 0 20px 0;
    font-weight: bold;
}

.error-en {
    margin-bottom: 30px;
}
