@import url(https://fonts.googleapis.com/css?family=Lato);
* {
    border: 0;
    padding: 0;
    margin: 0;
    background: 50% 50% no-repeat;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    font-weight: 400
}

:focus {
    outline: 0
}

b,
b *,
strong,
strong * {
    font-weight: 700
}

ol,
ul,
dd,
dl {
    margin: 0;
}

}

button,
input,
input:not([type]),
input[type=color],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
input[type=button],
input[type=reset],
input[type=submit],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
pre,
select,
textarea {
    font: inherit
}

@font-face {
    font-family: aileron;
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/aileron-ultra-light.eot?#iefix) format("embedded-opentype"), url(../fonts/aileron-ultra-light.woff) format("woff"), url(../fonts/aileron-ultra-light.ttf) format("truetype")
}

body textarea {
    display: none
}

.mce-container textarea {
    display: initial!important
}

.mce-content-body {
    font-family: Lato!important;
    font-size: 14px;
    color: #000000;
    padding: 0 25px 25px
}

.mce-content-body h1,
.mce-content-body h2,
.mce-content-body h3,
.mce-content-body h4,
.mce-content-body h5,
.mce-content-body h6 {
    color: #2c323f;
    font-family: "robotoregular", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 8px
}

.mce-content-body h1 {
    font-family: "robotoregular", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #3f4359;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin: .67em 0;
}

.mce-content-body h2 {
    font-family: "robotoregular", sans-serif;
    font-family: "robotoregular", sans-serif;
    font-size: 16vipx;
    line-height: 1.2;
    color: #3f4359;
    font-weight: normal;
    margin: 0 0 20px 0;
}

.mce-content-body h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-family: "robotoregular", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #7f96b8;
}

.mce-content-body h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    box-sizing: border-box;
}

.mce-content-body h5 {
    box-sizing: border-box;
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.mce-content-body h6 {
    box-sizing: border-box;
    display: block;
    font-size: 0.67em;
    -webkit-margin-before: 2.33em;
    -webkit-margin-after: 2.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.mce-content-body p {
    box-sizing: border-box;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    letter-spacing: normal;
    // color: #3f4359;
    color: #2c323f;
    text-rendering: auto;
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif !important;
}

.mce-content-body ol,
.mce-content-body ul {
    margin-left: 15px;
    list-style-position: outside;
    margin-bottom: 20px
}

.mce-content-body ol li,
.mce-content-body ul li {
    margin-left: 10px;
    margin-bottom: 10px;
    color: #2c323f;
    font-size: 16px;
}

.mce-content-body ul {
    list-style-type: disc
}

.mce-content-body ol {
    list-style-type: decimal
}

.mce-content-body dd{
    font-family: $roboto-light;
    margin-bottom: 20px;
}

.mce-content-body a[href] {
    text-decoration: underline
}

.mce-content-body table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid #aaa
}

.mce-content-body table tr:nth-child(even) {
    background: #FAFAFA
}

.mce-content-body table caption,
.mce-content-body table td,
.mce-content-body table th {
    padding: 15px 7px;
    font: inherit
}

.mce-content-body table th {
    font-weight: 400;
    color: #6E6E6E;
    background-position: 100% 100%;
    background-size: 2px 10px;
    background-repeat: no-repeat
}

.mce-content-body table th:last-child {
    background: 0 0
}
