{% extends 'evotemailings/base.html' %}

{% block containerpt %}
    <p>
        Caro membro da Comissão Eleitoral,<br/>
        Obrigado por utilizar o sistema de votação eletrónico eVotUM.
    </p>
    <p>
        O {{type_pt}} para a eleição {{election_id}} do processo eleitoral {{process_id}} {{kind_pt}} dentro de {{days}} dia{{ days|pluralize }}.
    </p>
{% endblock containerpt %}

{% block container %}
    <p>
        Dear member of the Electoral Commission,<br/>
        Thank you for using the eVotUM e-voting system.
    </p>
    <p>
        The {{type}} for the {{election_id}} election of the {{process_id}} electoral process {{kind}} in {{days}} day{{ days|pluralize }}.
    </p>
{% endblock %}
