$prefixes: ("-webkit-", "-moz-", "-ms-", "-o-", "" );

/*
TRANSITION
---
usage:
    - @include transition(all 0.2s ease-in-out);
*/
@mixin transition($transition...) {
    @each $prefix in $prefixes {
        #{$prefix}transition: $transition;
    }
}

@mixin transform($transform...) {
    @each $prefix in $prefixes {
        #{$prefix}transform: $transform;
    }
}

/*
CSS3 GRADIENTS
---
usage:
    - @include css-gradient(#dfdfdf,#f8f8f8);
*/
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
    background-color: $to;
    background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background-image: -webkit-linear-gradient(top, $from, $to);
    background-image: -moz-linear-gradient(top, $from, $to);
    background-image: -o-linear-gradient(top, $from, $to);
    background-image: linear-gradient(to bottom, $from, $to);
}

/*
BOX SIZING
---
usage:
    - @include box-sizing(border-box);
*/
@mixin box-sizing($type: border-box) {
    @each $prefix in $prefixes {
       #{$prefix}box-sizing: $type;
    }
}

/*
BORDER RADIUS
---
usage:
    - @include border-radius(5px);
    - @include border-top-radius(10px);
    - @include border-right-radius(8px);
    - @include border-bottom-radius(10px);
    - @include border-left-radius (6px);
*/
@mixin border-radius($radius) {
    @each $prefix in $prefixes {
        #{$prefix}border-radius: $radius;
        #{$prefix}background-clip: border-box;
    }
}

// Single side border-radius
@mixin border-top-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: border-box;
}
@mixin border-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: border-box;
}
@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: border-box;
}
@mixin border-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: border-box;
}

/*
BOX SHADOW
---
usage:
    - @include box-shadow(0, 1px, 1px, 1px, rgba(0, 0, 0, 0.075), inset);
*/
@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false) {
    @if $inset {
        @each $prefix in $prefixes {
            #{$prefix}box-shadow: inset $top $left $blur $size $color;
        }
    } @else {
        @each $prefix in $prefixes {
            #{$prefix}box-shadow: $top $left $blur $size $color;
        }
    }
}

/*
BOX SHADOW
---
usage:
    - @include box-shadow-none();
*/
@mixin box-shadow-none() {
    @each $prefix in $prefixes {
        #{$prefix}box-shadow: none;
    }
}

/*
TRANSLATE
---
usage:
   - @include translate(-50%, -50%);
*/
@mixin translate($x, $y) {
    @each $prefix in $prefixes {
        #{$prefix}transform: translate($x, $y);
    }
}

/*
ROTATE
---
usage:
   - @include rotate(4.5);
*/
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

/*
ROTATE Y
---
usage:
   - @include rotatey(4.5);
*/
@mixin rotatey ($deg) {
  @include transform(rotatey(#{$deg}deg));
}

/*
BACKGROUND COVER
---
usage:
   - @include background-cover;
*/
@mixin background-cover () {
    @each $prefix in $prefixes {
        #{$prefix}background-size: cover;
    }
}

/*
PERSPECTIVE
---
usage:
   - @include perspective(100);
*/
@mixin perspective($val) {
    @each $prefix in $prefixes {
        #{$prefix}perspective: $val;
    }
}

/*
TRANSFORM STYLE
---
usage:
   - @include transform-style(preserve-3d);
*/
@mixin transform-style($val) {
    @each $prefix in $prefixes {
        #{$prefix}transform-style: $val;
    }
}

/*
BACKFACE VISIBILITY STYLE
---
usage:
   - @include backface-visibility(hidden);
*/
@mixin backface-visibility($val) {
    @each $prefix in $prefixes {
        #{$prefix}backface-visibility: $val;
    }
}

/*
Rotating STYLE
---
*/
@keyframes rotating {
    from {
        @each $prefix in $prefixes {
            #{$prefix}transform: rotate(0deg); ;
        }
    }
    to {
        @each $prefix in $prefixes {
            #{$prefix}transform: rotate(360deg); ;
        }
    }
}

/*
Animation STYLE
---
usage:
   - @include animation(rotating 2s linear infinite);
*/
@mixin animation($val) {
    @each $prefix in $prefixes {
        #{$prefix}animation: $val;
    }
}

/*
Placehoder STYLE
---
usage:
   - @include placeholder {
        font-style:italic;
        color: white;
        font-weight:100;
     }
*/
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

/*
opacity STYLE
---
*/
@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin filter($value){
  -webkit-filter: grayscale(1); /* Webkit */
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* W3C */
}
